node-red/flows.json
[{"id":"2b81bc64.a9d064","type":"tab","label":"Dusty","disabled":false,"info":""},{"id":"43afcb15.630984","type":"tab","label":"Multimedia","disabled":false,"info":""},{"id":"6df4407f.e6014","type":"tab","label":"Anwesenheit","disabled":false,"info":""},{"id":"5610d4c2.c380dc","type":"tab","label":"Klimatisierung","disabled":false,"info":""},{"id":"403df51c.83b72c","type":"tab","label":"Lichter","disabled":false,"info":""},{"id":"5bc884f6.c6a77c","type":"tab","label":"Sonnenstand","disabled":false,"info":""},{"id":"8f990e0d.2f297","type":"tab","label":"Uhrzeiten","disabled":false,"info":""},{"id":"fc6a32d8.7658b","type":"tab","label":"Netzwerk","disabled":false,"info":""},{"id":"6b8b17b0.edaa38","type":"tab","label":"TTS","disabled":false,"info":""},{"id":"3da585d0.b57eba","type":"tab","label":"Magiccube","disabled":false,"info":""},{"id":"911d85e9.68cc98","type":"tab","label":"System","disabled":false,"info":""},{"id":"892151c0.27899","type":"subflow","name":"Gerät Abends ein","info":"","category":"","in":[],"out":[{"x":1220,"y":180,"wires":[{"id":"6b30ffa6.3dded","port":0}]},{"x":1200,"y":100,"wires":[{"id":"a1dc643c.351768","port":0}]}],"env":[{"name":"device","type":"str","value":"","ui":{"label":{"en-US":"entity_id"},"type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99","outputLabels":["on","off"],"status":{"x":1180,"y":340,"wires":[{"id":"7fb9cea8.db46a","port":0}]}},{"id":"b7d48dca.0f06a","type":"subflow","name":"Wintermodus aktiv","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b3429f6a.99c7e"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"baf3422f.8831d","port":0}]},{"x":520,"y":100,"wires":[{"id":"baf3422f.8831d","port":1}]}],"env":[],"color":"#F3B567","outputLabels":["winter","sommer"],"icon":"font-awesome/fa-snowflake-o","status":{"x":420,"y":220,"wires":[{"id":"6f54a9c4.63d118","port":0}]}},{"id":"3a687dd.e066582","type":"subflow","name":"Urlaubsmodus aktiv","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"46ee439e.9dbf0c"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"34b7e71e.1b60e8","port":0}]},{"x":520,"y":100,"wires":[{"id":"34b7e71e.1b60e8","port":1}]}],"env":[],"color":"#F3B567","outputLabels":["true ","false"],"icon":"font-awesome/fa-plane","status":{"x":440,"y":220,"wires":[{"id":"9820d3d5.5a7c1","port":0}]}},{"id":"78e4a076.d89d","type":"subflow","name":"Sonnenaufgang","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"e3ae9719.488088"}]}],"out":[{"x":1060,"y":380,"wires":[{"id":"759172a3.2820ec","port":0}]}],"env":[{"name":"light_entity","type":"str","value":"","ui":{"icon":"font-awesome/fa-lightbulb-o","label":{"en-US":"Licht entity"},"type":"input","opts":{"types":["str","env"]}}}],"color":"#DDAA99","inputLabels":["Trigger"],"icon":"node-red/light.svg","status":{"x":1220,"y":200,"wires":[{"id":"87df8469.b36138","port":0},{"id":"998e94f1.9213a8","port":0},{"id":"baadee49.e040a","port":0},{"id":"87007148.bf342","port":0}]}},{"id":"3fdc24ec.8bbe8c","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5559a829.18b078","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8500ce84.45956","type":"alarm-clock","name":"Markus Wecker"},{"id":"51d5ae4c.0ebf6","type":"server-state-changed","z":"892151c0.27899","name":"Gerät Zustand","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"${device}","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":550,"y":100,"wires":[["2e516b6f.91a614"]]},{"id":"3908116c.6b930e","type":"api-current-state","z":"892151c0.27899","name":"Gerät ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${device}","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":180,"wires":[["2e516b6f.91a614"]]},{"id":"2e516b6f.91a614","type":"switch","z":"892151c0.27899","name":"An / Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":760,"y":180,"wires":[["6b30ffa6.3dded"],["a1dc643c.351768"],["6b30ffa6.3dded"],["6b30ffa6.3dded"]]},{"id":"6b30ffa6.3dded","type":"time-range-switch","z":"892151c0.27899","name":"Nur in der Nacht","lat":"48.3754","lon":"10.86915","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":1000,"y":180,"wires":[[],["7fb9cea8.db46a"]]},{"id":"d8a92b21.62b8b8","type":"switch","z":"892151c0.27899","name":"Goldenhour","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHour","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["3908116c.6b930e"]]},{"id":"1f9fc8dd.ba5a97","type":"server-state-changed","z":"2b81bc64.a9d064","name":"P-Dusty","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.p_dusty","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":220,"wires":[["5fe883b.e9f547c","15479556.455e8b"]]},{"id":"5fe883b.e9f547c","type":"switch","z":"2b81bc64.a9d064","name":"hat Fehler","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":220,"wires":[["b24b05d6.b40eb8"]]},{"id":"b24b05d6.b40eb8","type":"api-call-service","z":"2b81bc64.a9d064","name":"Telegram Hilfsnachricht","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Dusty hat ein Problem! Bitte um Hilfe.\\nhttp://p-dusty.fritz.box/\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[[]]},{"id":"80c828d8.c60a88","type":"switch","z":"2b81bc64.a9d064","name":"Sensor needs to be cleared","property":"data.new_state.attributes.sensor","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":300,"wires":[["2b1a2d94.276502"]]},{"id":"2b1a2d94.276502","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Sensoren von Dusty müssen gereinigt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":300,"wires":[[]]},{"id":"15479556.455e8b","type":"switch","z":"2b81bc64.a9d064","name":"angedockt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"docked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":300,"wires":[["80c828d8.c60a88","7065a602.9faf98","2d1b39d2.d48886","d38247ee.f71c88"]]},{"id":"7065a602.9faf98","type":"switch","z":"2b81bc64.a9d064","name":"Filter needs to be cleared","property":"data.new_state.attributes.filter","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":360,"wires":[["b47e2c14.9828a"]]},{"id":"b47e2c14.9828a","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Der Staubfilter von Dusty muss gereinigt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":360,"wires":[[]]},{"id":"2d1b39d2.d48886","type":"switch","z":"2b81bc64.a9d064","name":"Side brush needs to be replaced","property":"data.new_state.attributes.sideBrush","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":420,"wires":[["9fc2322.28f88d"]]},{"id":"9fc2322.28f88d","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Seitenbürste von Dusty muss ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":420,"wires":[[]]},{"id":"d38247ee.f71c88","type":"switch","z":"2b81bc64.a9d064","name":"Main brush needs to be replaced","property":"data.new_state.attributes.mainBrush","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":480,"wires":[["ff0d7d2a.63a1c"]]},{"id":"ff0d7d2a.63a1c","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Hauptbürste von Dusty muss ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":480,"wires":[[]]},{"id":"eda852de.33c1b","type":"trigger","z":"2b81bc64.a9d064","name":"für 5 Minuten","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":650,"y":900,"wires":[["8d05baa3.ce13d8"]]},{"id":"91fe2cd1.c703f","type":"change","z":"2b81bc64.a9d064","name":"kommt zurück","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":960,"wires":[["eda852de.33c1b"]]},{"id":"da0734a6.ba9e98","type":"api-call-service","z":"2b81bc64.a9d064","name":"starte Dusty","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.p_dusty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1040,"wires":[[]]},{"id":"7047ec76.1704b4","type":"time-range-switch","z":"2b81bc64.a9d064","name":"vormittags","lat":"48.36567","lon":"10.87644","startTime":"08:00","endTime":"11:30","startOffset":0,"endOffset":0,"x":410,"y":900,"wires":[["eda852de.33c1b"],[]]},{"id":"8fec2c8b.c842e","type":"server-state-changed","z":"911d85e9.68cc98","name":"Neue HA Version bekannt","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":180,"wires":[["79829a84.218e94"],[]]},{"id":"79829a84.218e94","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Benachrichtigung","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Ein Update für Homeassistant ist verfügbar.\\nhttps://p-assist.fritz.box/hassio/dashboard\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":180,"wires":[[]]},{"id":"ac1be2a6.ec3c9","type":"server-state-changed","z":"6df4407f.e6014","name":"Markus","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":320,"wires":[["53bdb149.b782f"]],"icon":"font-awesome/fa-user-circle-o"},{"id":"8a34a044.d98e7","type":"trigger","z":"6df4407f.e6014","name":"nach 5 Minuten","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":740,"y":440,"wires":[["802d721a.cbab5","3adcf2ea.c8b25e"]]},{"id":"e8433d9c.f0955","type":"change","z":"6df4407f.e6014","name":"kommt zurück","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":661,"y":294,"wires":[["8a34a044.d98e7","3adcf2ea.c8b25e"]]},{"id":"53bdb149.b782f","type":"switch","z":"6df4407f.e6014","name":"daheim / nicht daheim","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":320,"wires":[["e8433d9c.f0955","6907630c.c4bb8c","cef0f53.1abfb08"],["8a34a044.d98e7"]]},{"id":"76805b3c.7995a4","type":"server-state-changed","z":"6df4407f.e6014","name":"Markus's Handy","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.p_android","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":720,"wires":[["fad929ec.657628"],["1365b040.79ecc"]]},{"id":"9c28c5fa.533d78","type":"api-current-state","z":"6df4407f.e6014","name":"Markus's Uhr ist daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_watch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":689,"y":666,"wires":[["230e07cb.c22298"],[]]},{"id":"1365b040.79ecc","type":"time-range-switch","z":"6df4407f.e6014","name":"abends","lat":"48.36578","lon":"10.87634","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":439,"y":666,"wires":[["9c28c5fa.533d78"],[]]},{"id":"efc18fe8.489c7","type":"api-call-service","z":"911d85e9.68cc98","name":"set Backend Theme","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"slate_red\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":340,"wires":[[]]},{"id":"2940c05b.52975","type":"server-events","z":"911d85e9.68cc98","name":"HA start","server":"3fdc24ec.8bbe8c","event_type":"start","x":110,"y":340,"wires":[["efc18fe8.489c7"]]},{"id":"1cd172ff.9239ed","type":"inject","z":"911d85e9.68cc98","name":"Node Red starts","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":140,"y":400,"wires":[["efc18fe8.489c7"]]},{"id":"d99c96bf.eb3608","type":"subflow:892151c0.27899","z":"43afcb15.630984","name":"Fernseher abends ein","env":[{"name":"device","value":"media_player.fernseher_wohnzimmer","type":"str"},{"name":"Gerät","value":"media_player.sony_bravia_tv","type":"str"}],"x":160,"y":120,"wires":[["8a25d222.a2902"],["8a404039.4d35a"]]},{"id":"a5b7b8b7.2d5f58","type":"subflow:892151c0.27899","z":"43afcb15.630984","name":"Radio abends ein","env":[{"name":"device","value":"media_player.p_radio","type":"str"}],"x":140,"y":880,"wires":[["4ac73046.a655e"],["43de6554.e6c95c"]]},{"id":"b3429f6a.99c7e","type":"api-current-state","z":"b7d48dca.0f06a","name":"Wintermodus","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.winter_mode","state_type":"str","state_location":"wintermode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":80,"wires":[["baf3422f.8831d","6f54a9c4.63d118"]]},{"id":"baf3422f.8831d","type":"switch","z":"b7d48dca.0f06a","name":"on / off","property":"wintermode","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[[],[]]},{"id":"6f54a9c4.63d118","type":"change","z":"b7d48dca.0f06a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wintermode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"7fb9cea8.db46a","type":"change","z":"892151c0.27899","name":"time status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sun still up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[[]]},{"id":"f8de47ec.1285b8","type":"sun events","z":"892151c0.27899","testmode":false,"verbose":false,"topic":"sun","name":"","x":180,"y":180,"wires":[["d8a92b21.62b8b8"]]},{"id":"dd8e35ec.9bf648","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":240,"y":180,"wires":[["cd095efe.ffebe"],[]]},{"id":"6907630c.c4bb8c","type":"link out","z":"6df4407f.e6014","name":"Markus kommt heim","links":["402f02b9.ec5e4c","30c0d7b.f534128","5471aac.d4ebc54","73e3569c.b4bac8","d8254065.9e9c","e661ed94.b897d","9ba6957b.fdfe28","930b0789.dd2e28","b8e6d4a2.302e38","9d5f991d.d72d08","a710ac5b.ef872","2df029b.e5938d6"],"x":656,"y":154,"wires":[]},{"id":"802d721a.cbab5","type":"link out","z":"6df4407f.e6014","name":"Markus verlässt Home","links":["bc4f4ad2.f80048","1798931b.25b47d","f2451682.23baf8","db56b45.2a40d48","850e4e6f.55398","e6a952ea.6c28a","f8b75a9e.897c88","d392c658.359da8","54b1fbaf.6358a4","2a196d8b.acdb62","df4c3202.dde58","d459b740.80f8d8","91de1922.f12da8","83aaf468.80f598","7a7a9123.53909","eeb9f801.bb0c78"],"x":956,"y":434,"wires":[]},{"id":"3d08d5af.ea351a","type":"api-call-service","z":"403df51c.83b72c","name":"Vitrine aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.vitrine_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":280,"wires":[[]]},{"id":"402f02b9.ec5e4c","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["244ab935.7a6676","6907630c.c4bb8c"],"x":115,"y":180,"wires":[["dd8e35ec.9bf648"]]},{"id":"bc4f4ad2.f80048","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["802d721a.cbab5","230e07cb.c22298"],"x":115,"y":280,"wires":[["3d08d5af.ea351a"]]},{"id":"1798931b.25b47d","type":"link in","z":"2b81bc64.a9d064","name":"Markus verlässt Wohnung","links":["802d721a.cbab5"],"x":275,"y":900,"wires":[["7047ec76.1704b4"]]},{"id":"230e07cb.c22298","type":"link out","z":"6df4407f.e6014","name":"Markus schläft","links":["bc4f4ad2.f80048","f2451682.23baf8","db56b45.2a40d48","850e4e6f.55398","e6a952ea.6c28a","f8b75a9e.897c88","d392c658.359da8","54b1fbaf.6358a4","2a196d8b.acdb62","df4c3202.dde58","d459b740.80f8d8","91de1922.f12da8","83aaf468.80f598","eeb9f801.bb0c78"],"x":935,"y":660,"wires":[]},{"id":"88849873.09f108","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":125,"wires":[["cd095efe.ffebe"],[]]},{"id":"fad929ec.657628","type":"api-current-state","z":"6df4407f.e6014","name":"Markus's Uhr ist daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_watch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":740,"wires":[["244ab935.7a6676"],[]]},{"id":"244ab935.7a6676","type":"link out","z":"6df4407f.e6014","name":"Markus wacht auf","links":["30c0d7b.f534128","73e3569c.b4bac8","d8254065.9e9c","e661ed94.b897d","9ba6957b.fdfe28","b8e6d4a2.302e38","930b0789.dd2e28","402f02b9.ec5e4c"],"x":715,"y":740,"wires":[]},{"id":"22f8181b.ca2528","type":"api-current-state","z":"2b81bc64.a9d064","name":"Dusty-Status","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"vacuum.p_dusty","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1090,"y":1040,"wires":[["21b0229e.b68abe"]]},{"id":"21b0229e.b68abe","type":"function","z":"2b81bc64.a9d064","name":"heut noch nicht gesaugt","func":"var midnight = new Date();\nmidnight.setHours(0,0,0,0);\n\nvar today_alread_run = msg.data.attributes.last_run_stats.startTime > +midnight;\n\nif (today_alread_run) {\n    return null;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":1310,"y":1040,"wires":[["da0734a6.ba9e98"]]},{"id":"44c58351.bb729c","type":"server-state-changed","z":"911d85e9.68cc98","name":"Neue HACS Updates","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"sensor.hacs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"x":160,"y":260,"wires":[["d969cdc8.3e1c4"],[]]},{"id":"20f08ed.b583872","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Benachrichtigung","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Es sind {{payload}} neue Updates im HACS verfügbar.\\nhttps://p-assist.fritz.box/hacs\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":260,"wires":[[]]},{"id":"d969cdc8.3e1c4","type":"delay","z":"911d85e9.68cc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":260,"wires":[["20f08ed.b583872"]]},{"id":"1ed5cea4.b87ce1","type":"switch","z":"43afcb15.630984","name":"standby / playing / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":380,"y":340,"wires":[["82887ac8.f45eb8"],["82887ac8.f45eb8"],["d76322e1.63f62"]]},{"id":"d76322e1.63f62","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":340,"wires":[["439ce3c1.a9edec"]]},{"id":"82887ac8.f45eb8","type":"change","z":"43afcb15.630984","name":"set reset ","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["d76322e1.63f62"]]},{"id":"9b081e72.f527e","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Multimedia Steckdose ab","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.multimedia_dose_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1480,"y":340,"wires":[[]]},{"id":"f2451682.23baf8","type":"link in","z":"43afcb15.630984","name":"Kein Markus da","links":["230e07cb.c22298","802d721a.cbab5"],"x":815,"y":400,"wires":[["439ce3c1.a9edec"]]},{"id":"bfa7634d.99734","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Multimedia Steckdose an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.multimedia_dose_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":500,"wires":[[]]},{"id":"5471aac.d4ebc54","type":"link in","z":"43afcb15.630984","name":"Markus werktags abends","links":["6907630c.c4bb8c"],"x":75,"y":500,"wires":[["2540d16c.96cf3e"]]},{"id":"f37e2dd.be94cd","type":"trigger-state","z":"43afcb15.630984","name":"Fernseher Zustand","server":"3fdc24ec.8bbe8c","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.fernseher_wohnzimmer","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":340,"wires":[["1ed5cea4.b87ce1"],[]]},{"id":"7767b972.be9c58","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Fire","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Fire\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1680,"y":620,"wires":[[]]},{"id":"2d496aa1.a1aef6","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard LED aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sideboard_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":500,"wires":[[]]},{"id":"d29b56a9.00c808","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Rainbow","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Rainbow\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":680,"wires":[["20a6dba4.2819a4"]]},{"id":"497cfded.062f34","type":"link in","z":"403df51c.83b72c","name":"LED rainbow","links":["4ac73046.a655e"],"x":135,"y":720,"wires":[["c59fab4.9829758"]]},{"id":"4ac73046.a655e","type":"link out","z":"43afcb15.630984","name":"Radio ein","links":["497cfded.062f34"],"x":335,"y":860,"wires":[]},{"id":"43de6554.e6c95c","type":"link out","z":"43afcb15.630984","name":"Radio aus","links":["40af4037.e2be4","b001f05b.c90e8"],"x":335,"y":920,"wires":[]},{"id":"19f275ff.e4998a","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Valetudo ist nicht mehr erreichbar!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":100,"wires":[[]]},{"id":"46ee439e.9dbf0c","type":"api-current-state","z":"3a687dd.e066582","name":"Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.holiday_mode","state_type":"str","state_location":"wintermode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":220,"y":80,"wires":[["34b7e71e.1b60e8","9820d3d5.5a7c1"]]},{"id":"34b7e71e.1b60e8","type":"switch","z":"3a687dd.e066582","name":"on / off","property":"wintermode","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[[],[]]},{"id":"9820d3d5.5a7c1","type":"change","z":"3a687dd.e066582","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wintermode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"3adcf2ea.c8b25e","type":"trigger","z":"6df4407f.e6014","name":"nach 1 Tag","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"24","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":851,"y":354,"wires":[["19ba25eb.7b2e5a"]]},{"id":"19ba25eb.7b2e5a","type":"api-call-service","z":"6df4407f.e6014","name":"Aktiviere Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.holiday_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1111,"y":354,"wires":[[]]},{"id":"5cf4aed7.74ed","type":"api-call-service","z":"6df4407f.e6014","name":"Deaktiviere Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.holiday_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1001,"y":234,"wires":[[]]},{"id":"cef0f53.1abfb08","type":"subflow:3a687dd.e066582","z":"6df4407f.e6014","name":"","x":731,"y":234,"wires":[["5cf4aed7.74ed"],[]]},{"id":"531d15c6.f666fc","type":"comment","z":"2b81bc64.a9d064","name":"Regelung Staubsaugen","info":"","x":140,"y":720,"wires":[]},{"id":"cf95c6cb.73fa78","type":"comment","z":"2b81bc64.a9d064","name":"Fehlerbehandlung","info":"","x":150,"y":40,"wires":[]},{"id":"ada3978d.96c0e8","type":"comment","z":"403df51c.83b72c","name":"Vitrine","info":"","x":130,"y":60,"wires":[]},{"id":"d1e1a3ec.bffb3","type":"comment","z":"403df51c.83b72c","name":"Sideboard","info":"","x":140,"y":400,"wires":[]},{"id":"19b3974e.993599","type":"inject","z":"403df51c.83b72c","name":"Täglich 18:30 Uhr","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":960,"wires":[["b52a2a40.ec3f38"]]},{"id":"20f49feb.8ca43","type":"comment","z":"403df51c.83b72c","name":"Anwesenheitssimulation","info":"","x":180,"y":900,"wires":[]},{"id":"aeaffc9.5ebcc","type":"random","z":"403df51c.83b72c","name":"+ 0 - 60 Minuten","low":"0","high":"3600000","inte":"true","property":"delay","x":640,"y":960,"wires":[["87cbe40b.347d58"]]},{"id":"258fdfa1.8a051","type":"random","z":"403df51c.83b72c","name":"15 - 90 lang","low":"900000","high":"5400000","inte":"true","property":"delay","x":1230,"y":960,"wires":[["36065156.c5219e"]]},{"id":"36065156.c5219e","type":"delay","z":"403df51c.83b72c","name":"an lassen","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":960,"wires":[["25c40dc4.956712"]]},{"id":"b52a2a40.ec3f38","type":"subflow:3a687dd.e066582","z":"403df51c.83b72c","name":"","x":430,"y":960,"wires":[["aeaffc9.5ebcc","4cf8a8e3.a4d268"],[]]},{"id":"deee26f2.5cb708","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":960,"wires":[["258fdfa1.8a051"]]},{"id":"25c40dc4.956712","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1600,"y":960,"wires":[[]]},{"id":"87cbe40b.347d58","type":"delay","z":"403df51c.83b72c","name":"Warten","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":960,"wires":[["deee26f2.5cb708"]]},{"id":"54670173.a0952","type":"trigger","z":"2b81bc64.a9d064","name":"für 30 Minuten","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"30","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":600,"y":100,"wires":[["19f275ff.e4998a"]]},{"id":"c7de9e24.68568","type":"comment","z":"911d85e9.68cc98","name":"Backups","info":"","x":100,"y":560,"wires":[]},{"id":"7da43791.981eb8","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte syncthing addon","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_start","entityId":"","data":"{\"addon\":\"243ffc37_syncthing\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":680,"wires":[["7852e30.de3f91c"]]},{"id":"482d113e.0cdcd","type":"api-call-service","z":"911d85e9.68cc98","name":"Stoppe syncthing addon","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stop","entityId":"","data":"{\"addon\":\"243ffc37_syncthing\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":680,"wires":[["a7121505.7b3da8"]]},{"id":"7852e30.de3f91c","type":"delay","z":"911d85e9.68cc98","name":"warte 30 Minuten","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":680,"wires":[["482d113e.0cdcd"]]},{"id":"86749cc6.c433f","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Success","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.snapshot_successful","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":180,"y":640,"wires":[["739038a2.d7b5a8","fb447850.014c78"]]},{"id":"eb131e0.ce1cbe","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Purge","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.purged_snapshots","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":170,"y":700,"wires":[["739038a2.d7b5a8"]]},{"id":"739038a2.d7b5a8","type":"trigger","z":"911d85e9.68cc98","name":"Gate","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":470,"y":680,"wires":[["7da43791.981eb8"]]},{"id":"a7121505.7b3da8","type":"change","z":"911d85e9.68cc98","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":740,"wires":[["739038a2.d7b5a8"]]},{"id":"f037c6f5.442648","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Tägliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-daily\",\"keep_days\":7}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":920,"wires":[[]]},{"id":"f030deb9.e32f1","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Monatliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-monthly\",\"keep_days\":120}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":980,"wires":[[]]},{"id":"7bb012d1.4bafdc","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":920,"wires":[["84dc0e85.8c2e3"]]},{"id":"fe3a7ced.29a5a","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":980,"wires":[["775662ad.59e3cc"]]},{"id":"4eb7f89d.691538","type":"comment","z":"43afcb15.630984","name":"Fernseher","info":"","x":100,"y":60,"wires":[]},{"id":"2fdb4dfa.8cd212","type":"comment","z":"43afcb15.630984","name":"Radio","info":"","x":90,"y":800,"wires":[]},{"id":"d3a8e1e1.fdae7","type":"time-range-switch","z":"43afcb15.630984","name":"zwischen 17 und 20 Uhr","lat":"48.36578","lon":"10.87634","startTime":"17:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":490,"y":500,"wires":[["bfa7634d.99734"],[]]},{"id":"2540d16c.96cf3e","type":"weekday","z":"43afcb15.630984","name":"unter der Woche","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":220,"y":500,"wires":[["d3a8e1e1.fdae7"],[]]},{"id":"850e4e6f.55398","type":"link in","z":"43afcb15.630984","name":"Kein Markus da","links":["230e07cb.c22298","802d721a.cbab5"],"x":635,"y":880,"wires":[["7201eed2.0594f","f9877bf3.fd2e48"]]},{"id":"7201eed2.0594f","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Radio aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.p_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":840,"wires":[[]]},{"id":"4cf8a8e3.a4d268","type":"random","z":"403df51c.83b72c","name":"+ 0 - 60 Minuten","low":"0","high":"3600000","inte":"true","property":"delay","x":640,"y":1040,"wires":[["1ff8c8ef.38dd37"]]},{"id":"1ff8c8ef.38dd37","type":"delay","z":"403df51c.83b72c","name":"Warten","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":1040,"wires":[["32897cc3.dfe114"]]},{"id":"32897cc3.dfe114","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1040,"wires":[["afdfb505.ac4f78"]]},{"id":"afdfb505.ac4f78","type":"random","z":"403df51c.83b72c","name":"15 - 60 lang","low":"900000","high":"3600000","inte":"true","property":"delay","x":1250,"y":1040,"wires":[["db3d028c.fbce9"]]},{"id":"db3d028c.fbce9","type":"delay","z":"403df51c.83b72c","name":"an lassen","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":1040,"wires":[["505a8c4a.1fa874"]]},{"id":"505a8c4a.1fa874","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1040,"wires":[[]]},{"id":"467e5ef6.3aca","type":"comment","z":"403df51c.83b72c","name":"Monitor Beleuchtung","info":"","x":170,"y":1100,"wires":[]},{"id":"e583e0d1.3619d","type":"server-state-changed","z":"403df51c.83b72c","name":"Rechner kommt online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.desktop_markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":1240,"wires":[["fdf13933.571c98"],[]]},{"id":"e7752ce9.b60e3","type":"server-state-changed","z":"403df51c.83b72c","name":"Rechner geht offline","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.desktop_markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":1620,"wires":[["309ebd6d.826062"],[]]},{"id":"4bfaffb4.6678","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shellyplug_s_7a2ce6_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":1300,"wires":[[]]},{"id":"603665b7.357f9c","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":1340,"wires":[["c022c8cd.29bf68"],[]]},{"id":"fdf13933.571c98","type":"time-range-switch","z":"403df51c.83b72c","name":"in Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":600,"y":1240,"wires":[["427802c.ef093fc"],[]]},{"id":"e5b72f0c.a714","type":"comment","z":"5bc884f6.c6a77c","name":"Sonnenstand","info":"","x":110,"y":60,"wires":[]},{"id":"1a3975c4.2ac0ba","type":"link out","z":"5bc884f6.c6a77c","name":"Sonne geht unter","links":["2abb917a.4bebee","56a60b04.0ff9d4","2e7b679a.495ea8","60359484.ea3dcc","d8391468.9e0cd8","33c07e7c.54e3f2","390f1811.5b5338"],"x":435,"y":120,"wires":[]},{"id":"4d9e80c3.431ac","type":"link out","z":"5bc884f6.c6a77c","name":"Sonne geht auf","links":["36efbfcc.063d","dbf977b9.2a96d8","9ee35896.7c77e8","96e3046c.7e2638","a479b782.4b7828","aac0f312.909c5","9726fc21.cebb9"],"x":915,"y":200,"wires":[]},{"id":"68e5b1d7.eb79b","type":"switch","z":"5bc884f6.c6a77c","name":"Events","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHour","vt":"str"},{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"dusk","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":160,"wires":[["1a3975c4.2ac0ba"],["eb5b98e3.d5d858"],["83505751.82b8a8"]],"outputLabels":["goldenHour","sunrise","night"]},{"id":"d2075ce8.95bab","type":"sun events","z":"5bc884f6.c6a77c","testmode":false,"verbose":false,"topic":"sun","name":"","x":120,"y":160,"wires":[["68e5b1d7.eb79b"]]},{"id":"36efbfcc.063d","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":215,"y":1500,"wires":[["e00cf9e2.de8ed8","c7b4e159.26031"]]},{"id":"e00cf9e2.de8ed8","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":1520,"wires":[["309ebd6d.826062"],[]]},{"id":"309ebd6d.826062","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shellyplug_s_7a2ce6_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1540,"wires":[[]]},{"id":"2abb917a.4bebee","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":215,"y":1360,"wires":[["603665b7.357f9c","ab57d6ec.7ab488"]]},{"id":"56a60b04.0ff9d4","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":115,"y":125,"wires":[["88849873.09f108"]]},{"id":"c7b4e159.26031","type":"api-current-state","z":"403df51c.83b72c","name":"Arbeitsrechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":480,"y":1460,"wires":[["309ebd6d.826062"],[]]},{"id":"ab57d6ec.7ab488","type":"api-current-state","z":"403df51c.83b72c","name":"Arbeitsrechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":480,"y":1400,"wires":[["c022c8cd.29bf68"],[]]},{"id":"594b6f9f.485d1","type":"server-state-changed","z":"403df51c.83b72c","name":"Arbeitslaptop kommt online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.work_laptop_lan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":1180,"wires":[["fdf13933.571c98"],[]]},{"id":"e58d2a4b.dbcf78","type":"server-state-changed","z":"403df51c.83b72c","name":"Arbeitslaptop geht offline","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.work_laptop_lan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":1680,"wires":[["9b670b20.c6a208"],[]]},{"id":"9b670b20.c6a208","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist nicht an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":500,"y":1680,"wires":[["309ebd6d.826062"],[]]},{"id":"1fcbba73.3fe186","type":"comment","z":"fc6a32d8.7658b","name":"Speedtest","info":"","x":100,"y":60,"wires":[]},{"id":"e000d18f.30e1c","type":"api-call-service","z":"fc6a32d8.7658b","name":"Mach Speedtest","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"speedtestdotnet","service":"speedtest","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":200,"wires":[["35578966.395616"]]},{"id":"715f008d.26c3","type":"trigger","z":"fc6a32d8.7658b","name":"Gate","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":690,"y":200,"wires":[["e000d18f.30e1c"]]},{"id":"2d701a4f.ce0976","type":"change","z":"fc6a32d8.7658b","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":280,"wires":[["715f008d.26c3"]]},{"id":"35578966.395616","type":"delay","z":"fc6a32d8.7658b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":200,"wires":[["2d701a4f.ce0976"]]},{"id":"fa26d7bc.6e7a98","type":"api-current-state","z":"fc6a32d8.7658b","name":"Festrechner offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":360,"wires":[["9a363f9f.9edc6"],[]]},{"id":"98388242.63543","type":"api-current-state","z":"fc6a32d8.7658b","name":"Arbeitslaptop Lan offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":480,"wires":[["d13eabc0.0ad638"],[]]},{"id":"d13eabc0.0ad638","type":"api-current-state","z":"fc6a32d8.7658b","name":"Arbeitslaptop Wifi offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":540,"wires":[["715f008d.26c3"],[]]},{"id":"9a363f9f.9edc6","type":"api-current-state","z":"fc6a32d8.7658b","name":"Laptop offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.laptop_markus_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":420,"wires":[["98388242.63543"],[]]},{"id":"5496afe.57fc15","type":"cronplus","z":"fc6a32d8.7658b","d":true,"name":"Alle 3 Stunden","outputField":"payload","timeZone":"","options":[{"topic":"3h","payload":"","type":"str","expression":"0 */3 * * *"}],"x":160,"y":360,"wires":[["fa26d7bc.6e7a98"]]},{"id":"4f1c463e.bfb8b8","type":"cronplus","z":"fc6a32d8.7658b","name":"Alle 12 Stunden","outputField":"payload","timeZone":"","options":[{"topic":"12h","payload":"","type":"str","expression":"0 */12 * * *"}],"x":160,"y":200,"wires":[["715f008d.26c3"]]},{"id":"1c00c360.5f8edd","type":"cronplus","z":"911d85e9.68cc98","name":"Jeden zweiten Tag","outputField":"payload","timeZone":"","options":[{"topic":"two days","payload":"","type":"str","expression":"0 1 * * */2"}],"x":170,"y":920,"wires":[["7bb012d1.4bafdc"]]},{"id":"31baf216.d90e5e","type":"cronplus","z":"911d85e9.68cc98","name":"Erster jeden Monats","outputField":"payload","timeZone":"","options":[{"topic":"first","payload":"","type":"str","expression":"1 1 1 * *"}],"x":180,"y":980,"wires":[["fe3a7ced.29a5a"]]},{"id":"c9154122.3d708","type":"api-current-state","z":"43afcb15.630984","name":"Arbeitslaptop Lan online","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":580,"wires":[["bfa7634d.99734"],[]]},{"id":"bebff750.7be638","type":"inject","z":"43afcb15.630984","name":"Halb 11","repeat":"","crontab":"30 11 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":580,"wires":[["c9154122.3d708"]]},{"id":"cd095efe.ffebe","type":"api-call-service","z":"403df51c.83b72c","name":"Vitrine an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.vitrine_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":120,"wires":[[]]},{"id":"8a25d222.a2902","type":"link out","z":"43afcb15.630984","name":"Fernseher abends ein","links":["6f970a5a.5a5244","557837dd.95a6d8"],"x":355,"y":100,"wires":[]},{"id":"8a404039.4d35a","type":"link out","z":"43afcb15.630984","name":"Fernseher Abends aus","links":["f5883b20.bb0d28","87f93576.d68728","f91a547b.139e58"],"x":355,"y":140,"wires":[]},{"id":"557837dd.95a6d8","type":"link in","z":"403df51c.83b72c","name":"Fernseher ist nachts an","links":["8a25d222.a2902"],"x":155,"y":1860,"wires":[["809b4126.8618a"]]},{"id":"87f93576.d68728","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht aus","links":["8a404039.4d35a"],"x":155,"y":1980,"wires":[["4a17e6d1.367798"]]},{"id":"fc44a351.31449","type":"comment","z":"403df51c.83b72c","name":"TV Beleuchtung","info":"","x":160,"y":1800,"wires":[]},{"id":"809b4126.8618a","type":"api-call-service","z":"403df51c.83b72c","d":true,"name":"Schalte TV-Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1860,"wires":[[]]},{"id":"9d065a2b.73ca08","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":1980,"wires":[[]]},{"id":"c022c8cd.29bf68","type":"api-current-state","z":"403df51c.83b72c","name":"TV aus","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off, unavailable","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":700,"y":1340,"wires":[["427802c.ef093fc"],[]]},{"id":"f8b75a9e.897c88","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":475,"y":1620,"wires":[["309ebd6d.826062"]]},{"id":"a1dc643c.351768","type":"time-range-switch","z":"892151c0.27899","name":"Nur in der Nacht","lat":"48.3754","lon":"10.86915","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":1000,"y":100,"wires":[[],[]]},{"id":"439ce3c1.a9edec","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Fernseher aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.fernseher_wohnzimmer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":340,"wires":[["3118800e.3b474"]]},{"id":"3118800e.3b474","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":340,"wires":[["9b081e72.f527e"]]},{"id":"7ee81577.6cb52c","type":"comment","z":"403df51c.83b72c","name":"Bett Beleuchtung","info":"","x":160,"y":2260,"wires":[]},{"id":"e7503a69.1bb328","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 1","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,126,0],\"brightness_pct\":15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":140,"wires":[["22493410.0e3f3c","87df8469.b36138"]]},{"id":"e27f660.3db4298","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 3","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,218,108],\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":300,"wires":[["9b334ffd.e07fa","baadee49.e040a"]]},{"id":"6f50f6b6.d08448","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 4","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,236,182],\"brightness_pct\":60}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":380,"wires":[["529dcfc9.7fff5","87007148.bf342"]]},{"id":"9b334ffd.e07fa","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":300,"wires":[["6f50f6b6.d08448"]]},{"id":"22493410.0e3f3c","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":140,"wires":[["4a4b241a.4d0bdc"]]},{"id":"4a4b241a.4d0bdc","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 2","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,190,0],\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":220,"wires":[["1e42ab2e.08aaf5","998e94f1.9213a8"]]},{"id":"1e42ab2e.08aaf5","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":220,"wires":[["e27f660.3db4298"]]},{"id":"bbda5fd5.6492","type":"subflow:78e4a076.d89d","z":"403df51c.83b72c","name":"Sonnenaufgang Bett","env":[{"name":"light_entity","value":"light.bettbeleuchtung_leds","type":"str"}],"x":300,"y":2520,"wires":[["466f2fcd.58e0a"]]},{"id":"529dcfc9.7fff5","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":380,"wires":[["759172a3.2820ec"]]},{"id":"87df8469.b36138","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":120,"wires":[[]]},{"id":"998e94f1.9213a8","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[[]]},{"id":"baadee49.e040a","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[[]]},{"id":"87007148.bf342","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":300,"wires":[[]]},{"id":"f91a547b.139e58","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht aus","links":["8a404039.4d35a"],"x":135,"y":2380,"wires":[["bcce6700.59bf88"]]},{"id":"e1900fb1.0b90d","type":"api-call-service","z":"403df51c.83b72c","name":"Bett Nachtlicht an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bettbeleuchtung_leds","data":"{\"rgb_color\":[255, 162, 71],\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":2380,"wires":[[]]},{"id":"bcce6700.59bf88","type":"time-range-switch","z":"403df51c.83b72c","name":"abends","lat":"48.36578","lon":"10.87634","startTime":"dusk","endTime":"04:00","startOffset":0,"endOffset":"0","x":260,"y":2380,"wires":[["e1900fb1.0b90d"],[]]},{"id":"349e4ae8.52fb86","type":"api-call-service","z":"403df51c.83b72c","name":"Bett Licht aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bettbeleuchtung_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":2680,"wires":[[]]},{"id":"54b1fbaf.6358a4","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":135,"y":2680,"wires":[["349e4ae8.52fb86"]]},{"id":"9ee35896.7c77e8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":135,"y":2620,"wires":[["349e4ae8.52fb86"]]},{"id":"d8254065.9e9c","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["244ab935.7a6676","6907630c.c4bb8c"],"x":135,"y":2440,"wires":[["bcce6700.59bf88"]]},{"id":"96e3046c.7e2638","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":135,"y":820,"wires":[["48d6a1.c36f496"]]},{"id":"2a196d8b.acdb62","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":135,"y":780,"wires":[["48d6a1.c36f496"]]},{"id":"fd6e9b61.4cd898","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Weihnachtsbaum ab","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shellyplug_s_26829b","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":3040,"wires":[[]]},{"id":"deb3d70f.720058","type":"comment","z":"403df51c.83b72c","name":"Steckdose Weihnachtsbaum","info":"","x":200,"y":2760,"wires":[]},{"id":"aac0f312.909c5","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":135,"y":3060,"wires":[["125100da.7ea6df"]]},{"id":"d459b740.80f8d8","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["802d721a.cbab5","230e07cb.c22298"],"x":135,"y":3020,"wires":[["125100da.7ea6df"]]},{"id":"125100da.7ea6df","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":290,"y":3040,"wires":[["fd6e9b61.4cd898"],[]]},{"id":"fe534070.b8d69","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":2825,"wires":[["d5215a65.dadfa8"],[]]},{"id":"d8391468.9e0cd8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":135,"y":2825,"wires":[["fe534070.b8d69"]]},{"id":"9ba6957b.fdfe28","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["6907630c.c4bb8c","244ab935.7a6676"],"x":135,"y":2880,"wires":[["7c5fbc80.03d944"]]},{"id":"7c5fbc80.03d944","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":260,"y":2880,"wires":[["d5215a65.dadfa8"],[]]},{"id":"d5215a65.dadfa8","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":510,"y":2840,"wires":[["40b361d4.5af32"],[]]},{"id":"40b361d4.5af32","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Weihnachtsbaum an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shellyplug_s_26829b","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":2840,"wires":[[]]},{"id":"930b0789.dd2e28","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["244ab935.7a6676","6907630c.c4bb8c"],"x":135,"y":520,"wires":[["ae4058fc.22e518"]]},{"id":"33c07e7c.54e3f2","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":135,"y":465,"wires":[["aa04ce15.f5ca4"]]},{"id":"aa04ce15.f5ca4","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":465,"wires":[["9dae3830.7b6ce8"],[]]},{"id":"9dae3830.7b6ce8","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":470,"y":480,"wires":[["a1df03b.5853f"],["fb886fd3.9955e"]]},{"id":"83505751.82b8a8","type":"link out","z":"5bc884f6.c6a77c","name":"Nacht startet","links":["188ce4bc.c1652b"],"x":435,"y":240,"wires":[]},{"id":"188ce4bc.c1652b","type":"link in","z":"403df51c.83b72c","name":"Nacht startet","links":["83505751.82b8a8"],"x":135,"y":2320,"wires":[["2217fde6.b4d452"]]},{"id":"2217fde6.b4d452","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":2320,"wires":[["e1900fb1.0b90d"],[]]},{"id":"85c2572.56691a8","type":"comment","z":"6df4407f.e6014","name":"Anwesenheit","info":"","x":130,"y":40,"wires":[]},{"id":"92204e2e.6d621","type":"comment","z":"8f990e0d.2f297","name":"Wecker","info":"","x":90,"y":60,"wires":[]},{"id":"7159a01.adcd16","type":"link in","z":"403df51c.83b72c","name":"Kurz vor Wecker","links":["fd5cdd4e.6d8f9"],"x":135,"y":2520,"wires":[["bbda5fd5.6492"]]},{"id":"fc7a3902.8c5cc8","type":"function-npm","z":"8f990e0d.2f297","name":"Checke Tag","func":"var dateFormat = require('dateformat');\n\nconst currentDate = new Date()\n\nif (msg.payload.date !== \"\" && dateFormat(currentDate, \"yyyy-mm-dd\") === msg.payload.date) {\n    msg.payload.disabled = false\n    return [msg, null];\n} else {\n    msg.payload.disabled = true\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":870,"y":220,"wires":[["ea7459ac.e4cb08"],["ea7459ac.e4cb08"]]},{"id":"fd5cdd4e.6d8f9","type":"link out","z":"8f990e0d.2f297","name":"Sonnenaufgang","links":["7159a01.adcd16"],"x":575,"y":320,"wires":[]},{"id":"b1f1cd75.15c03","type":"api-current-state","z":"8f990e0d.2f297","name":"Markus daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.markus","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":320,"wires":[["fd5cdd4e.6d8f9"],[]]},{"id":"89629bb3.7ad198","type":"comment","z":"5610d4c2.c380dc","name":"Wohnzimmer","info":"","x":110,"y":160,"wires":[]},{"id":"2aee45f8.8b488a","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Wohnzimmer Temp","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mi_temperature_wohnzimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":1440,"wires":[["46d29655.0eb1d8"]]},{"id":"46d29655.0eb1d8","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":450,"y":1440,"wires":[[],["75456783.613478"]]},{"id":"f510a94b.d41588","type":"time-range-switch","z":"5610d4c2.c380dc","name":"unter Tags","lat":"48.36577","lon":"10.87639","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":890,"y":1380,"wires":[["81d5eeee.b1731"],[]]},{"id":"75456783.613478","type":"switch","z":"5610d4c2.c380dc","name":"Temperatur","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"26.3","vt":"flow"},{"t":"lt","v":"26","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":1440,"wires":[["f510a94b.d41588"],["5a69bbd0.94df84"]]},{"id":"55997e2.474d68","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Wohnzimmerlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":1380,"wires":[["2aaa40ef.e2c9"]]},{"id":"81d5eeee.b1731","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":1090,"y":1380,"wires":[["55997e2.474d68"]]},{"id":"88ef6476.078aa8","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Wohnzimmerlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":1480,"wires":[["284b52cc.98d8ae"]]},{"id":"284b52cc.98d8ae","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1480,"wires":[["81d5eeee.b1731"]]},{"id":"b8375cda.a8a4b","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Wohnzimmer Hum","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mi_humidity_wohnzimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":300,"wires":[["d25a1e25.4b28a"]]},{"id":"d25a1e25.4b28a","type":"switch","z":"5610d4c2.c380dc","name":"Feuchtigkeitsgehalt","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"45","vt":"num"},{"t":"lte","v":"48","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":300,"wires":[["c6bc28eb.4d5888"],["c32b81f6.a1d17"]]},{"id":"674824ed.4605ec","type":"comment","z":"5610d4c2.c380dc","name":"Schlafzimmer","info":"","x":110,"y":1920,"wires":[]},{"id":"91de1922.f12da8","type":"link in","z":"5610d4c2.c380dc","name":"Markus abwesend","links":["230e07cb.c22298","802d721a.cbab5"],"x":895,"y":960,"wires":[["9075358.493e2c8"]]},{"id":"b8e6d4a2.302e38","type":"link in","z":"5610d4c2.c380dc","name":"Markus anwesend","links":["244ab935.7a6676","6907630c.c4bb8c"],"x":895,"y":800,"wires":[["a1fd905d.fb827"]]},{"id":"291dcbf6.8b58e4","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set eco preset","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"eco\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":900,"wires":[[]]},{"id":"72d4eb4e.0ed464","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set comfort preset","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"comfort\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":840,"wires":[["6701b4ea.91302c"]]},{"id":"f9100789.1b1e78","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Wintermodus geändert","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.winter_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":840,"wires":[["fb45475b.e309f8"]]},{"id":"fb45475b.e309f8","type":"switch","z":"5610d4c2.c380dc","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":840,"wires":[["72d4eb4e.0ed464"],["38705203.835f2e"]]},{"id":"a1fd905d.fb827","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":1070,"y":800,"wires":[["72d4eb4e.0ed464"],[]]},{"id":"9075358.493e2c8","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":1070,"y":960,"wires":[["291dcbf6.8b58e4"],[]]},{"id":"df2f95f5.f68218","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Schlafzimmer Temp","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mi_temperature_schlafzimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1980,"wires":[["e9c07984.88c788"]]},{"id":"e9c07984.88c788","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":370,"y":2040,"wires":[[],["b32acf36.0c207"]]},{"id":"50fb8a9c.8984a4","type":"time-range-switch","z":"5610d4c2.c380dc","name":"unter Tags","lat":"48.36577","lon":"10.87639","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":810,"y":1980,"wires":[["1e7b9e61.1d08f2"],[]]},{"id":"3f0acdce.ca4c72","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Schlafzimmerlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":2080,"wires":[["def21aa6.81abc8"]]},{"id":"eedc9e2a.15598","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Schlafzimmerlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1980,"wires":[["22c4b928.50e3d6"]]},{"id":"e7a2c031.95212","type":"comment","z":"5610d4c2.c380dc","name":"Bad","info":"","x":90,"y":2440,"wires":[]},{"id":"4e711ae7.42b5c4","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Bad Hum","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mi_humidity_bad","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":2500,"wires":[["d7ccdc78.c5241","8a788f.03c7377"]]},{"id":"d7ccdc78.c5241","type":"switch","z":"5610d4c2.c380dc","name":"über 75%","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"75","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":300,"y":2480,"wires":[["a8806e05.1e665"]]},{"id":"f299fd2c.65c67","type":"api-call-service","z":"5610d4c2.c380dc","name":"Badlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.bad_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":2480,"wires":[["9c462d8b.07b83"]]},{"id":"a8806e05.1e665","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":550,"y":2480,"wires":[["f299fd2c.65c67"]]},{"id":"f1979008.25097","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2540,"wires":[["a8806e05.1e665"]]},{"id":"9c462d8b.07b83","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":2460,"wires":[["636ced4.92c0314"]]},{"id":"636ced4.92c0314","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"Warte bis unter 60%","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"sensor.mi_humidity_bad","entityIdFilterType":"exact","property":"state","comparator":"lte","value":"60","valueType":"num","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1100,"y":2460,"wires":[["489ce1bf.1662c"]]},{"id":"489ce1bf.1662c","type":"api-call-service","z":"5610d4c2.c380dc","name":"Badlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.bad_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":2480,"wires":[["f1979008.25097"]]},{"id":"8d16d980.0bb8b8","type":"server-state-changed","z":"911d85e9.68cc98","name":"Heizungsthermostat Wohnzimmer Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.thermostat_wohnzimmer_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":260,"y":1140,"wires":[["9872e92a.29a668"],[]]},{"id":"7d7384db.f4d1dc","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Batterie Hinweis","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":true,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Batterien müssen bei {{ payload }} ersetzt werden\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":1220,"wires":[[]]},{"id":"1710b1f0.67539e","type":"comment","z":"911d85e9.68cc98","name":"HA Internal","info":"","x":110,"y":80,"wires":[]},{"id":"540e4830.b0f598","type":"comment","z":"911d85e9.68cc98","name":"Batterien","info":"","x":100,"y":1080,"wires":[]},{"id":"399f8c0e.cfd8c4","type":"server-state-changed","z":"911d85e9.68cc98","name":"Thermostat Balkon Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_balcony_batt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":1200,"wires":[["9872e92a.29a668"],[]]},{"id":"be76705a.c8e99","type":"server-state-changed","z":"911d85e9.68cc98","name":"Thermostat Bad Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_bath_batt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":1260,"wires":[["9872e92a.29a668"],[]]},{"id":"ac91e758.677f88","type":"server-state-changed","z":"911d85e9.68cc98","name":"Thermostat Schlafzimmer Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_sleeping_batt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":1320,"wires":[["9872e92a.29a668"],[]]},{"id":"9c74e3fc.1848a","type":"inject","z":"2b81bc64.a9d064","name":"Wochentags um 10","repeat":"","crontab":"00 10 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1060,"wires":[["d8185f2b.f69f5"]]},{"id":"d8185f2b.f69f5","type":"subflow:3a687dd.e066582","z":"2b81bc64.a9d064","name":"","x":430,"y":1060,"wires":[["5526e878.c89598"],["aafb9367.75fa2"]]},{"id":"5526e878.c89598","type":"weekday","z":"2b81bc64.a9d064","name":"nur Montag und Donnerstag","sun":false,"mon":true,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"x":700,"y":980,"wires":[["8d05baa3.ce13d8"],[]]},{"id":"aafb9367.75fa2","type":"api-current-state","z":"2b81bc64.a9d064","name":"Arbeitslaptop aus (LAN)","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":670,"y":1100,"wires":[["3d2bef57.2622d"],["2e1ec4f9.744b3c"]]},{"id":"3d2bef57.2622d","type":"api-current-state","z":"2b81bc64.a9d064","name":"Arbeitslaptop aus (WLAN)","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_wifi","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":670,"y":1160,"wires":[["8d05baa3.ce13d8"],["2e1ec4f9.744b3c"]]},{"id":"2e1ec4f9.744b3c","type":"delay","z":"2b81bc64.a9d064","name":"1h später","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1140,"wires":[["8d05baa3.ce13d8"]]},{"id":"9d5f991d.d72d08","type":"link in","z":"2b81bc64.a9d064","name":"Markus betritt Wohnung","links":["6907630c.c4bb8c"],"x":275,"y":960,"wires":[["91fe2cd1.c703f"]]},{"id":"4a17e6d1.367798","type":"delay","z":"403df51c.83b72c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1980,"wires":[["7a61e398.f93cbc"]]},{"id":"5a69bbd0.94df84","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":1090,"y":1480,"wires":[["88ef6476.078aa8"]]},{"id":"2aaa40ef.e2c9","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1380,"wires":[["5a69bbd0.94df84"]]},{"id":"1e7b9e61.1d08f2","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":990,"y":1980,"wires":[["eedc9e2a.15598"]]},{"id":"af06ab98.672998","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":990,"y":2080,"wires":[["3f0acdce.ca4c72"]]},{"id":"22c4b928.50e3d6","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1980,"wires":[["af06ab98.672998"]]},{"id":"def21aa6.81abc8","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2080,"wires":[["1e7b9e61.1d08f2"]]},{"id":"8d05baa3.ce13d8","type":"api-current-state","z":"2b81bc64.a9d064","name":"nur an Arbeitstagen und Samstag","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.workdays_and_saturday","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1140,"y":960,"wires":[["22f8181b.ca2528"],[]]},{"id":"740a84b4.72ef5c","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Radio aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.p_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":1540,"wires":[["532e89ef.12efc8"]]},{"id":"df9c1dd6.9bad4","type":"server-state-changed","z":"43afcb15.630984","name":"Radio Chromecast spielt","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.chromecast_radio","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":1120,"wires":[["e8ce8f92.6b5ff"],[]]},{"id":"e8ce8f92.6b5ff","type":"trigger","z":"43afcb15.630984","name":"Gate","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":430,"y":1120,"wires":[["50ccdeee.1a476"]]},{"id":"5955b5c4.63f35c","type":"change","z":"43afcb15.630984","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1500,"wires":[["e8ce8f92.6b5ff"]]},{"id":"50ccdeee.1a476","type":"api-current-state","z":"43afcb15.630984","name":"Hole aktuellen Radio Zustand","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.p_radio","state_type":"str","state_location":"","override_payload":"none","entity_location":"previous_data","override_data":"msg","blockInputOverrides":false,"x":680,"y":1120,"wires":[["cbe5c784.166a88"]]},{"id":"e27b74cf.999c68","type":"api-call-service","z":"43afcb15.630984","name":"Schalte auf Aux","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.p_radio","data":"{\"source\":\"AUX in\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1120,"wires":[["5887d9ca.d9f588"]]},{"id":"46c4714a.33cbe","type":"api-call-service","z":"43afcb15.630984","name":"Schalte auf vorherigen Eingang","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.p_radio","data":"{\"source\":\"{{previous_data.attributes.source}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":1400,"wires":[["c881ae27.b9c72"]]},{"id":"5887d9ca.d9f588","type":"api-call-service","z":"43afcb15.630984","name":"Setze Lautstärke","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.p_radio","data":"{\"volume_level\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":1100,"wires":[["b9169847.8d58b8"]]},{"id":"7c080d9.46978f4","type":"api-call-service","z":"43afcb15.630984","name":"Setze Lautstärke zurück","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.p_radio","data":"{    \"volume_level\": {{previous_data.attributes.volume_level}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":1400,"wires":[["5955b5c4.63f35c"]]},{"id":"cbe5c784.166a88","type":"function","z":"43afcb15.630984","name":"Internet Radio Bugfix","func":"if (!msg.previous_data.attributes.hasOwnProperty(\"source\") || msg.previous_data.attributes.source === \"None\") {\n    msg.previous_data.attributes.source = \"Internet Radio\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1120,"wires":[["e27b74cf.999c68"]]},{"id":"c881ae27.b9c72","type":"switch","z":"43afcb15.630984","name":"Reset on/off state","property":"previous_data.state","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1400,"wires":[["d75dd261.b4d1b"],["437ad2e0.8e452c"]]},{"id":"d708ba88.3508e8","type":"api-call-service","z":"6b8b17b0.edaa38","name":"TTS","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.chromecast_radio","data":"{\"message\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":320,"wires":[[]]},{"id":"b7a1f896.89ec68","type":"comment","z":"6b8b17b0.edaa38","name":"Benachrichtigung über Radio","info":"","x":150,"y":40,"wires":[]},{"id":"911a3a03.218f18","type":"link in","z":"6b8b17b0.edaa38","name":"Radio Benachrichtigung","links":["58e75df4.13d284","9576c84c.611698","54cb2142.9ef93","2f6c77db.d8f148","a9518faf.4ad95"],"x":75,"y":120,"wires":[["ec564431.14c908"]]},{"id":"a710ac5b.ef872","type":"link in","z":"6b8b17b0.edaa38","name":"Markus kommt heim","links":["6907630c.c4bb8c"],"x":115,"y":560,"wires":[["28e836ac.69a77a"]]},{"id":"1c658.b7aff9a85","type":"comment","z":"6b8b17b0.edaa38","name":"Begrüßungen","info":"","x":110,"y":500,"wires":[]},{"id":"58e75df4.13d284","type":"link out","z":"6b8b17b0.edaa38","name":"Radio Out","links":["911a3a03.218f18"],"x":475,"y":560,"wires":[]},{"id":"20d6c854.b131a8","type":"inject","z":"6b8b17b0.edaa38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":620,"wires":[["28e836ac.69a77a"]]},{"id":"f9877bf3.fd2e48","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Chromecast aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.chromecast_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":900,"wires":[[]]},{"id":"b77e67ea.f66ab8","type":"server-state-changed","z":"2b81bc64.a9d064","name":"Dusty nicht verfügbar","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.p_dusty","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":100,"wires":[["54670173.a0952"],["ce806723.96ae98"]]},{"id":"ce806723.96ae98","type":"change","z":"2b81bc64.a9d064","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["54670173.a0952"]]},{"id":"20a6dba4.2819a4","type":"ha-wait-until","z":"403df51c.83b72c","name":"Radio aus","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.p_radio","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1920,"y":680,"wires":[["48d6a1.c36f496"]]},{"id":"9726fc21.cebb9","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac"],"x":115,"y":320,"wires":[["3d08d5af.ea351a"]]},{"id":"40e61325.ddaa9c","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Fan Timer triggered","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.fan_wohnzimmer_60min","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":1600,"wires":[["6e540b15.5052f4"],[]]},{"id":"6e540b15.5052f4","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":430,"y":1600,"wires":[["e9703c5b.ced6d"]]},{"id":"126b541.77efbac","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1660,"wires":[["6e540b15.5052f4"]]},{"id":"e9703c5b.ced6d","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wohnzimmer Lüfter an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":1600,"wires":[["d3d74ee0.d1cac"]]},{"id":"12d78f67.558a11","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze Trigger zurück","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.fan_wohnzimmer_60min","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":1660,"wires":[["126b541.77efbac"]]},{"id":"53bf7240.ce6cfc","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wohnzimmer Lüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":1660,"wires":[["12d78f67.558a11"]]},{"id":"d3d74ee0.d1cac","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1600,"wires":[["53bf7240.ce6cfc"]]},{"id":"f3374ad5.3c9568","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Fan Timer triggered","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.fan_schlafzimmer_30min","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":2200,"wires":[["3dd5d1fc.72885e"],[]]},{"id":"3dd5d1fc.72885e","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":350,"y":2200,"wires":[["c9624979.a71098"]]},{"id":"480f9b0e.92bf14","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2260,"wires":[["3dd5d1fc.72885e"]]},{"id":"c9624979.a71098","type":"api-call-service","z":"5610d4c2.c380dc","name":"SchlafzimmerLüfter an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":2200,"wires":[["8461b7d.349b748"]]},{"id":"7f3a79fd.309b98","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze Trigger zurück","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.fan_schlafzimmer_30min","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":2260,"wires":[["480f9b0e.92bf14"]]},{"id":"8461b7d.349b748","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":2200,"wires":[["286b0ebf.0643f2"]]},{"id":"286b0ebf.0643f2","type":"api-call-service","z":"5610d4c2.c380dc","name":"Schlafzimmer Lüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":2260,"wires":[["7f3a79fd.309b98"]]},{"id":"3b3e237.ac266dc","type":"delay","z":"403df51c.83b72c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":2580,"wires":[["99e90b4b.1b71b8"]]},{"id":"99e90b4b.1b71b8","type":"api-call-service","z":"403df51c.83b72c","name":"Bett Licht aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bettbeleuchtung_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":2580,"wires":[[]]},{"id":"466f2fcd.58e0a","type":"ha-wait-until","z":"403df51c.83b72c","name":"warte bis Markus wach","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"device_tracker.p_android","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":520,"y":2520,"wires":[["ddbfd6b7.de0c28"]]},{"id":"ddbfd6b7.de0c28","type":"api-call-service","z":"403df51c.83b72c","name":"Helligkeit hochstellen","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bettbeleuchtung_leds","data":"{\"brightness_pct\":80}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":2580,"wires":[["3b3e237.ac266dc"]]},{"id":"6eced7a3.a19d68","type":"server-state-changed","z":"403df51c.83b72c","name":"Linke Betttaste gedrückt","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bett_taste_links","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":1700,"wires":[["373f711a.1dce8e"],[]]},{"id":"373f711a.1dce8e","type":"api-call-service","z":"403df51c.83b72c","name":"Toggle Monitor Licht","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.shellyplug_s_7a2ce6_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1700,"wires":[[]]},{"id":"ffc616a3.a0fe08","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Mitte Betttaste gedrückt","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bett_taste_mitte","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":2380,"wires":[["abcd1609.d0cf98"],[]]},{"id":"abcd1609.d0cf98","type":"api-call-service","z":"5610d4c2.c380dc","name":"Toggle SchlafzimmerLüfter","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"toggle","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":2380,"wires":[[]]},{"id":"8e2002f5.28e81","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Mitte Betttaste doppelklick","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bett_taste_mitte_doppelklick","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":2140,"wires":[["3dd5d1fc.72885e"],[]]},{"id":"437ad2e0.8e452c","type":"api-call-service","z":"43afcb15.630984","name":"Setze Lautstärke auf Standard","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.p_radio","data":"{\"volume_level\": 0.25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1540,"wires":[["740a84b4.72ef5c"]]},{"id":"85f5ba3a.24b3d8","type":"ha-wait-until","z":"43afcb15.630984","name":"Warte bis Chromecast off/idle","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.chromecast_radio","entityIdFilterType":"exact","property":"state","comparator":"includes","value":"off,idle","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":940,"y":1220,"wires":[["778f01c6.ed35e"]]},{"id":"d96ba25f.b41b3","type":"ha-wait-until","z":"6b8b17b0.edaa38","name":"Warte auf Radio an","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.p_radio","entityIdFilterType":"exact","property":"state","comparator":"includes","value":"idle,playing","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":210,"y":200,"wires":[["2dcbadb8.496232"]]},{"id":"28e836ac.69a77a","type":"function","z":"6b8b17b0.edaa38","name":"Begrüßung","func":"var d = new Date();\nvar time = d.getHours();\n\nif (time < 11) {\n    msg.payload = \"Guten Morgen Markus.\"\n} else if (time < 13) {\n    msg.payload = \"Mahlzeit!\"\n} else if (time < 20) {\n    msg.payload = \"Hallo Markus.\"\n} else if (time > 20) {\n    msg.payload = \"Guten Abend Markus.\"\n} else {\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":560,"wires":[["58e75df4.13d284"]]},{"id":"3cfa7a31.79f246","type":"api-call-service","z":"6b8b17b0.edaa38","name":"Start Chromecast","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.chromecast_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":200,"wires":[["56d4280.eef4bd8"]]},{"id":"ec564431.14c908","type":"api-current-state","z":"6b8b17b0.edaa38","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":120,"wires":[["5afbb164.876fa","d96ba25f.b41b3"],[]]},{"id":"b9169847.8d58b8","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1220,"wires":[["85f5ba3a.24b3d8"]]},{"id":"778f01c6.ed35e","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1300,"wires":[["1478bdea.9e9f22"]]},{"id":"1478bdea.9e9f22","type":"api-current-state","z":"43afcb15.630984","name":"Chromecast still off / idle","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off,idle","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.chromecast_radio","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":930,"y":1300,"wires":[["46c4714a.33cbe"],["b9169847.8d58b8"]]},{"id":"7a61e398.f93cbc","type":"api-current-state","z":"403df51c.83b72c","d":true,"name":"Fernseher noch aus","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":490,"y":1980,"wires":[["9d065a2b.73ca08"],[]]},{"id":"eda9f41c.f083d8","type":"server-state-changed","z":"43afcb15.630984","name":"Multimedia Steckdose ein","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.multimedia_dose_relay_0","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":200,"wires":[["f8832c2.fc206d"],[]]},{"id":"f9a5801d.e8a58","type":"api-call-service","z":"43afcb15.630984","name":"Update TV Status","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"update_entity","entityId":"media_player.fernseher_wohnzimmer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":200,"wires":[[]]},{"id":"f8832c2.fc206d","type":"delay","z":"43afcb15.630984","name":"warte bis TV hochgefahren","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":200,"wires":[["f9a5801d.e8a58"]]},{"id":"8a788f.03c7377","type":"function","z":"5610d4c2.c380dc","name":"über 10% Änderung","func":"let oldValue = msg.data.old_state.state;\nlet newValue = msg.data.new_state.state;\n\nlet diff = newValue - oldValue;\nmsg.diff = diff;\n\nif (diff > 10) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":2540,"wires":[["a8806e05.1e665"],[]]},{"id":"2e39d66f.10442a","type":"link in","z":"43afcb15.630984","name":"Radio Benachrichtigung","links":["94e92089.694bd"],"x":235,"y":1200,"wires":[["e8ce8f92.6b5ff"]]},{"id":"94e92089.694bd","type":"link out","z":"6b8b17b0.edaa38","name":"Starte Radio","links":["2e39d66f.10442a"],"x":575,"y":120,"wires":[]},{"id":"5afbb164.876fa","type":"change","z":"6b8b17b0.edaa38","name":"set notification flag","rules":[{"t":"set","p":"type","pt":"msg","to":"notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["94e92089.694bd"]]},{"id":"d75dd261.b4d1b","type":"switch","z":"43afcb15.630984","name":"is Notification","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"notification","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1190,"y":1380,"wires":[["437ad2e0.8e452c"],["7c080d9.46978f4"]]},{"id":"532e89ef.12efc8","type":"ha-wait-until","z":"43afcb15.630984","name":"Warte auf Off","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.p_radio","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1490,"y":1520,"wires":[["5955b5c4.63f35c"]]},{"id":"e3ae9719.488088","type":"api-call-service","z":"78e4a076.d89d","name":"Circadian Light aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.circadian_lighting_circadian_lighting_bett","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":140,"wires":[["e7503a69.1bb328"]]},{"id":"759172a3.2820ec","type":"api-call-service","z":"78e4a076.d89d","name":"Circadian Light an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.circadian_lighting_circadian_lighting_bett","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":380,"wires":[[]]},{"id":"795361aa.f2eb1","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Error","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.snapshot_failed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":170,"y":780,"wires":[["b844026e.7e4","fb447850.014c78"]]},{"id":"b844026e.7e4","type":"api-call-service","z":"911d85e9.68cc98","name":"Error Notification","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"{{ json }}\",\"title\":\"Backup Error\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":780,"wires":[[]]},{"id":"a1df03b.5853f","type":"change","z":"403df51c.83b72c","name":"Fire","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"fire","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":640,"wires":[["b847bd6.b5f504"]]},{"id":"b847bd6.b5f504","type":"finite-state-machine","z":"403df51c.83b72c","name":"Sideboard FSM","fsmDefinition":"{\"state\":{\"status\":\"OFF\"},\"transitions\":{\"OFF\":{\"on\":\"ON\",\"fire\":\"FIRE\",\"music\":\"MUSIC\",\"party\":\"PARTY\",\"twitch\":{\"status\":\"TWITCH\",\"data\":{\"back_cmd\":\"off\"}}},\"ON\":{\"off\":\"OFF\",\"fire\":\"FIRE\",\"music\":\"MUSIC\",\"party\":\"PARTY\",\"twitch\":{\"status\":\"TWITCH\",\"data\":{\"back_cmd\":\"on\"}}},\"FIRE\":{\"off\":\"OFF\",\"on\":\"ON\",\"twitch\":{\"status\":\"TWITCH\",\"data\":{\"back_cmd\":\"fire\"}}},\"MUSIC\":{\"off\":\"OFF\",\"on\":\"ON\",\"twitch\":{\"status\":\"TWITCH\",\"data\":{\"back_cmd\":\"music\"}}},\"TWITCH\":{\"off\":\"OFF\",\"on\":\"ON\",\"fire\":\"FIRE\",\"music\":\"MUSIC\",\"party\":\"PARTY\"},\"PARTY\":{\"off\":\"OFF\",\"on\":\"ON\",\"twitch\":{\"status\":\"TWITCH\",\"data\":{\"back_cmd\":\"music\"}}}}}","sendInitialState":false,"sendStateWithoutChange":false,"showTransitionErrors":true,"x":840,"y":640,"wires":[["18b8f843.bc3378"]]},{"id":"c59fab4.9829758","type":"change","z":"403df51c.83b72c","name":"Music","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"music","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":740,"wires":[["b847bd6.b5f504"]]},{"id":"48d6a1.c36f496","type":"change","z":"403df51c.83b72c","name":"Off","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":800,"wires":[["b847bd6.b5f504"]]},{"id":"fe4034dc.bcd868","type":"switch","z":"403df51c.83b72c","name":"Status","property":"state.status","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"FIRE","vt":"str"},{"t":"eq","v":"MUSIC","vt":"str"},{"t":"eq","v":"TWITCH","vt":"str"},{"t":"eq","v":"PARTY","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":1190,"y":640,"wires":[["2e30e9b9.6d2bc6"],["8fe4e786.32eaa8"],["2a26f9cb.dba516"],["c95ad99a.d03cf8"],["db18d070.edea8"],["d0392224.65dab"]]},{"id":"f8a4084b.415a88","type":"change","z":"403df51c.83b72c","name":"last state","rules":[{"t":"move","p":"state.data.back_cmd","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"back_cmd\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":480,"wires":[["b847bd6.b5f504"]]},{"id":"95623b27.76a7b8","type":"delay","z":"403df51c.83b72c","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":480,"wires":[["f8a4084b.415a88"]]},{"id":"dbe4331e.3b17c","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard LED an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":560,"wires":[[]]},{"id":"c01a52dc.d6fce","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Twitch","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"rgb_color\":[100,65,165],\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":740,"wires":[["95623b27.76a7b8"]]},{"id":"8fe4e786.32eaa8","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs not animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sideboard_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":560,"wires":[["dbe4331e.3b17c"]]},{"id":"2e30e9b9.6d2bc6","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs not animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sideboard_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":500,"wires":[["2d496aa1.a1aef6"]]},{"id":"2a26f9cb.dba516","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sideboard_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":620,"wires":[["7767b972.be9c58"]]},{"id":"c95ad99a.d03cf8","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sideboard_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":680,"wires":[["d29b56a9.00c808"]]},{"id":"db18d070.edea8","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sideboard_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":740,"wires":[["c01a52dc.d6fce"]]},{"id":"fb886fd3.9955e","type":"change","z":"403df51c.83b72c","name":"On","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["b847bd6.b5f504"]]},{"id":"93eec801.3e79a8","type":"change","z":"403df51c.83b72c","name":"Twitch Alert","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"twitch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["b847bd6.b5f504"]]},{"id":"e53b5839.751a88","type":"comment","z":"43afcb15.630984","name":"Twitch","info":"","x":90,"y":1680,"wires":[]},{"id":"60f50347.06f40c","type":"server-state-changed","z":"43afcb15.630984","name":"Izzyletsplays online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.izzyletsplays","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"streaming","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":1760,"wires":[["786b9ed9.ff912"],[]]},{"id":"ccc37dad.0be34","type":"server-state-changed","z":"43afcb15.630984","name":"nerdweib online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.nerdweib","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"streaming","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1820,"wires":[["786b9ed9.ff912"],[]]},{"id":"863d2d5a.1dbf3","type":"server-state-changed","z":"43afcb15.630984","name":"saabii_ online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.juicy_de","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"streaming","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":1880,"wires":[["786b9ed9.ff912"],[]]},{"id":"786b9ed9.ff912","type":"link out","z":"43afcb15.630984","name":"Streamer online","links":["22cc7417.1bcb9c","68a650dc.68463"],"x":395,"y":1800,"wires":[]},{"id":"22cc7417.1bcb9c","type":"link in","z":"403df51c.83b72c","name":"Streamer onine","links":["786b9ed9.ff912"],"x":455,"y":860,"wires":[["93eec801.3e79a8"]]},{"id":"18b8f843.bc3378","type":"change","z":"403df51c.83b72c","name":"organize output","rules":[{"t":"move","p":"payload","pt":"msg","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":640,"wires":[["fe4034dc.bcd868"]]},{"id":"ae4058fc.22e518","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":260,"y":520,"wires":[["9dae3830.7b6ce8"],[]]},{"id":"9307c7b5.ed9968","type":"server-state-changed","z":"911d85e9.68cc98","name":"CPU Overheat","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cpu_temp_overheat","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":480,"wires":[["62e01cc3.6c4c74","7f619cf2.d39664"],[]]},{"id":"62e01cc3.6c4c74","type":"api-call-service","z":"911d85e9.68cc98","name":"send Telegram message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Der P-Assist PI ist überhitzt!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":460,"wires":[[]]},{"id":"7f619cf2.d39664","type":"api-call-service","z":"911d85e9.68cc98","name":"Error Notification","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"The CPU is overheating!\",\"title\":\"Overheating\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":500,"wires":[[]]},{"id":"83aaf468.80f598","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":545,"y":2060,"wires":[["9d065a2b.73ca08"]]},{"id":"390f1811.5b5338","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":155,"y":1920,"wires":[["20a819b8.e07306"]]},{"id":"20a819b8.e07306","type":"api-current-state","z":"403df51c.83b72c","name":"Fernseher an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"on, playing, idle","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":1920,"wires":[["809b4126.8618a"],[]]},{"id":"ea7459ac.e4cb08","type":"alarm-set","z":"8f990e0d.2f297","clock":"8500ce84.45956","x":1080,"y":220,"wires":[]},{"id":"29af3401.a0cffc","type":"alarm-emitter","z":"8f990e0d.2f297","name":"Markus Wecker Alarm","clock":"8500ce84.45956","offset":"0","x":180,"y":320,"wires":[["b1f1cd75.15c03"]]},{"id":"e814551a.ec5df8","type":"function-npm","z":"8f990e0d.2f297","name":"Arrangiere Zeit und Datum","func":"var dateFormat = require('dateformat');\n\nconst lengthSunriseAnimation = 8;\nif (msg.payload == \"1970-01-01 00:00:00\" ) {\n    return null;\n}\n\nlet alarmtime = new Date(msg.payload);\n\nalarmtime.setMinutes(alarmtime.getMinutes() - lengthSunriseAnimation)\n\n//get seconds since midnight\n\nlet secondsSinceMidnight = ((alarmtime.getHours() * 60) + alarmtime.getMinutes()) * 60\n\nmsg.payload = {}\nmsg.payload.time = secondsSinceMidnight;\nmsg.payload.date = dateFormat(alarmtime, \"yyyy-mm-dd\");\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["fc7a3902.8c5cc8"]]},{"id":"630f03f4.c00aec","type":"cronplus","z":"8f990e0d.2f297","name":"Mitternacht","outputField":"payload","timeZone":"","options":[{"topic":"Wecker","payload":"","type":"str","expression":"0 0 * * *"}],"x":170,"y":220,"wires":[["cf303f56.c8b3d"]]},{"id":"cf303f56.c8b3d","type":"api-current-state","z":"8f990e0d.2f297","name":"Get alarm time","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.oneplus_a6003_nachster_wecker","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":200,"wires":[["e814551a.ec5df8"]]},{"id":"1b645501.4f944b","type":"comment","z":"6df4407f.e6014","name":"Wohnungstüre","info":"","x":140,"y":840,"wires":[]},{"id":"b9b65205.f37c9","type":"server-state-changed","z":"911d85e9.68cc98","name":"Smart Lock Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.wohnungstuer_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"15","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":190,"y":1380,"wires":[["9872e92a.29a668"],[]]},{"id":"2df029b.e5938d6","type":"link in","z":"6df4407f.e6014","name":"Markus kommt heim","links":["6907630c.c4bb8c"],"x":135,"y":900,"wires":[["48f0a98.52df058"]]},{"id":"7a7a9123.53909","type":"link in","z":"6df4407f.e6014","name":"Markus verlässt Wohnung","links":["802d721a.cbab5"],"x":135,"y":960,"wires":[["29e86f71.19a84"]]},{"id":"cd0b5c06.3c5fc","type":"api-call-service","z":"6df4407f.e6014","name":"Öffnet Türe","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.wohnungstuer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":900,"wires":[[]]},{"id":"29e86f71.19a84","type":"api-call-service","z":"6df4407f.e6014","name":"Türe abschließen","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.wohnungstuer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":960,"wires":[[]]},{"id":"48f0a98.52df058","type":"api-current-state","z":"6df4407f.e6014","name":"Ist noch nicht offen","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.wohnungstuer","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":900,"wires":[["cd0b5c06.3c5fc"],[]]},{"id":"281ba18d.0432ce","type":"change","z":"911d85e9.68cc98","name":"Get device","rules":[{"t":"move","p":"data.event.new_state.attributes.friendly_name","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1220,"wires":[["7d7384db.f4d1dc"]]},{"id":"9872e92a.29a668","type":"switch","z":"911d85e9.68cc98","name":"ist Nummer","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\d+","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1220,"wires":[["281ba18d.0432ce"]]},{"id":"2e5552da.bf072e","type":"server-state-changed","z":"911d85e9.68cc98","name":"Magiccube Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.magiccube_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":1440,"wires":[["9872e92a.29a668"],[]]},{"id":"216f03a0.6b8aec","type":"link in","z":"403df51c.83b72c","name":"Magiccube TV-Lampe toggle","links":["fdb48f5a.c878a"],"x":155,"y":2100,"wires":[["14ebcee6.ffba01"]]},{"id":"14ebcee6.ffba01","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe Toggle","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":2100,"wires":[[]]},{"id":"566ea730.358f38","type":"server-state-changed","z":"3da585d0.b57eba","name":"Magiccube Event","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.magiccube_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":".+","halt_if_type":"re","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":500,"wires":[["deb61fb2.faef4","8f312366.8d1f9"],[]]},{"id":"8f312366.8d1f9","type":"switch","z":"3da585d0.b57eba","name":"Seite oben","property":"data.new_state.attributes.side","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":490,"y":500,"wires":[["89bc3ea6.8958"],["3b9c5dca.9274f2"],[],[],["7a672c47.14cf54"],["1705c7db.a61b48"]]},{"id":"deb61fb2.faef4","type":"debug","z":"3da585d0.b57eba","name":"Event Magiccube","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":220,"wires":[]},{"id":"fdb48f5a.c878a","type":"link out","z":"3da585d0.b57eba","name":"Magiccube TV-Lampe toggle","links":["216f03a0.6b8aec"],"x":1075,"y":100,"wires":[]},{"id":"89bc3ea6.8958","type":"switch","z":"3da585d0.b57eba","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":830,"y":200,"wires":[["fdb48f5a.c878a"],["5f1489e5.164e48"],["8b10b37f.992bb"],["8b10b37f.992bb"],["a87a0b35.482298"],["87f3d610.319f78"]]},{"id":"3b9c5dca.9274f2","type":"switch","z":"3da585d0.b57eba","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":830,"y":360,"wires":[[],[],["2f2af51c.58865a"],["2f2af51c.58865a"],[],[]]},{"id":"2f2af51c.58865a","type":"link out","z":"3da585d0.b57eba","name":"Partymodus","links":["fe30298d.eea408","5717f3cc.982b2c"],"x":1075,"y":360,"wires":[]},{"id":"b0a14d4d.e8ef8","type":"link out","z":"3da585d0.b57eba","name":"Lagerfeuer","links":["63bcd2bc.93022c"],"x":1075,"y":520,"wires":[]},{"id":"7a672c47.14cf54","type":"switch","z":"3da585d0.b57eba","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":830,"y":520,"wires":[[],[],["b0a14d4d.e8ef8"],["b0a14d4d.e8ef8"],[],[]]},{"id":"87f3d610.319f78","type":"link out","z":"3da585d0.b57eba","name":"Wohnzimmerlüfter an","links":["2185b476.8ce3cc"],"x":1175,"y":260,"wires":[]},{"id":"a87a0b35.482298","type":"link out","z":"3da585d0.b57eba","name":"Wohnzimmerlüfter aus","links":["b8184e9b.b25a2"],"x":1175,"y":220,"wires":[]},{"id":"2185b476.8ce3cc","type":"link in","z":"5610d4c2.c380dc","name":"Magiccube Wohnzimmerlüfter an","links":["87f3d610.319f78"],"x":185,"y":1760,"wires":[["c077bbad.2a0838"]]},{"id":"b8184e9b.b25a2","type":"link in","z":"5610d4c2.c380dc","name":"Magiccube Wohnzimmerlüfter aus","links":["a87a0b35.482298"],"x":185,"y":1820,"wires":[["f8b1e469.aadc28"]]},{"id":"f8b1e469.aadc28","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wohnzimmer Lüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":1820,"wires":[[]]},{"id":"c077bbad.2a0838","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wohnzimmer Lüfter an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":1760,"wires":[[]]},{"id":"fe30298d.eea408","type":"link in","z":"403df51c.83b72c","name":"Magiccube Partymodus","links":["2f2af51c.58865a"],"x":135,"y":640,"wires":[["d549af12.82735"]]},{"id":"63bcd2bc.93022c","type":"link in","z":"403df51c.83b72c","name":"Magiccube Feuer an","links":["b0a14d4d.e8ef8"],"x":135,"y":600,"wires":[["a1df03b.5853f"]]},{"id":"a0dd6f92.b065f","type":"link in","z":"403df51c.83b72c","name":"Magiccube LEDS off","links":["8b10b37f.992bb"],"x":135,"y":680,"wires":[["48d6a1.c36f496"]]},{"id":"8b10b37f.992bb","type":"link out","z":"3da585d0.b57eba","name":"Sideboard LED aus","links":["a0dd6f92.b065f","19a9b08c.4bacaf","74ce9004.0dbfc"],"x":1075,"y":180,"wires":[]},{"id":"d549af12.82735","type":"change","z":"403df51c.83b72c","name":"Party","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"party","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":680,"wires":[["b847bd6.b5f504"]]},{"id":"d0392224.65dab","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sideboard_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":800,"wires":[["ce0bf3f2.6c513"]]},{"id":"ce0bf3f2.6c513","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Rainbow","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Rainbow\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":800,"wires":[[]]},{"id":"5717f3cc.982b2c","type":"link in","z":"403df51c.83b72c","name":"Magiccube Partymodus","links":["2f2af51c.58865a"],"x":575,"y":220,"wires":[["bdcd7291.e0d11"]]},{"id":"6ebbfc78.1ebaa4","type":"api-call-service","z":"403df51c.83b72c","name":"Vitrine Partymodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.vitrine_leds","data":"{\"effect\":\"Ebene Rainbow\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":220,"wires":[["1446f8cc.f44827"]]},{"id":"19a9b08c.4bacaf","type":"link in","z":"403df51c.83b72c","name":"Magiccube LEDS off","links":["8b10b37f.992bb"],"x":115,"y":360,"wires":[["3d08d5af.ea351a"]]},{"id":"bdcd7291.e0d11","type":"api-call-service","z":"403df51c.83b72c","name":"set LEDs animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.vitrine_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":220,"wires":[["6ebbfc78.1ebaa4"]]},{"id":"1446f8cc.f44827","type":"ha-wait-until","z":"403df51c.83b72c","name":"","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"light.vitrine_leds","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1140,"y":220,"wires":[["b258aadf.094088"]]},{"id":"b258aadf.094088","type":"api-call-service","z":"403df51c.83b72c","name":"reset LEDs animating","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.vitrine_leds_animating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":220,"wires":[[]]},{"id":"421fa7d5.eb4258","type":"link in","z":"43afcb15.630984","name":"Magiccube Multimedia Dose toggle","links":["5f1489e5.164e48"],"x":75,"y":680,"wires":[["71d64e9a.561d8"]]},{"id":"71d64e9a.561d8","type":"api-call-service","z":"43afcb15.630984","name":"Multimedia Steckdose toggle","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.multimedia_dose_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":680,"wires":[[]]},{"id":"5f1489e5.164e48","type":"link out","z":"3da585d0.b57eba","name":"Multimedia Steckdose toggle","links":["421fa7d5.eb4258"],"x":1075,"y":140,"wires":[]},{"id":"1705c7db.a61b48","type":"switch","z":"3da585d0.b57eba","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":830,"y":660,"wires":[[],[],["b3993dfb.aa894"],["b3993dfb.aa894"],[],[]]},{"id":"b3993dfb.aa894","type":"link out","z":"3da585d0.b57eba","name":"Normalbetrieb LEDs","links":["1d46367c.1b30ba","2fba94c.1ad5c6c","89598127.cfee1"],"x":1075,"y":660,"wires":[]},{"id":"1d46367c.1b30ba","type":"link in","z":"403df51c.83b72c","name":"Sideboard LEDs an","links":["b3993dfb.aa894"],"x":335,"y":580,"wires":[["fb886fd3.9955e"]]},{"id":"2fba94c.1ad5c6c","type":"link in","z":"403df51c.83b72c","name":"Sideboard LEDs an","links":["b3993dfb.aa894"],"x":115,"y":220,"wires":[["cd095efe.ffebe"]]},{"id":"427802c.ef093fc","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":1300,"wires":[["4bfaffb4.6678"],[]]},{"id":"38705203.835f2e","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set manual preset","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"manual\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":900,"wires":[["c28efa99.f7e958"]]},{"id":"c28efa99.f7e958","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set min temp","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat_wohnzimmer","data":"{\"temperature\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":900,"wires":[[]]},{"id":"33a46d81.750012","type":"comment","z":"fc6a32d8.7658b","name":"AdGuard Home","info":"","x":120,"y":640,"wires":[]},{"id":"b2e4ff9e.c493b","type":"api-call-service","z":"fc6a32d8.7658b","name":"Error Notification","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"AdGuard ist schon über eine Stunde deaktiviert!\",\"title\":\"AdGuard Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":720,"wires":[[]]},{"id":"40bdbae1.fcb974","type":"trigger","z":"fc6a32d8.7658b","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":470,"y":720,"wires":[["b2e4ff9e.c493b"]]},{"id":"31f82485.f034fc","type":"change","z":"fc6a32d8.7658b","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":780,"wires":[["40bdbae1.fcb974"]]},{"id":"95c73ea2.78495","type":"server-state-changed","z":"fc6a32d8.7658b","name":"AdGuard Protection deaktiviert","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.adguard_protection","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":720,"wires":[["40bdbae1.fcb974"],["31f82485.f034fc"]]},{"id":"84932d56.2a79f","type":"server-state-changed","z":"8f990e0d.2f297","name":"Wecker Markus OnePlus","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.oneplus_a6003_nachster_wecker","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":140,"wires":[["cf303f56.c8b3d"]]},{"id":"796a4f07.1e12d","type":"api-call-service","z":"5610d4c2.c380dc","name":"Schalte Luftbefeuchter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.wohnzimmer_luftbefeuchter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":460,"wires":[["9dab1ee.81212e"]]},{"id":"d5fb4c41.3efd9","type":"api-call-service","z":"5610d4c2.c380dc","name":"Schalte Luftbefeuchter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.wohnzimmer_luftbefeuchter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":300,"wires":[["4cb78a3e.bef2a4"]]},{"id":"4cb78a3e.bef2a4","type":"api-call-service","z":"5610d4c2.c380dc","name":"setze Stufe ","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.wohnzimmer_luftbefeuchter","data":"{\"speed\":\"{{speed}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1670,"y":300,"wires":[["b6d132bc.728f","ef3c3e16.1e4ea"]]},{"id":"74731fdd.bb2d1","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Luftbefeuchter Status","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"fan.wohnzimmer_luftbefeuchter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":480,"wires":[["5e36ba44.141984","1162c065.97b37"]]},{"id":"5e36ba44.141984","type":"function","z":"5610d4c2.c380dc","name":"kommt online","func":"if ( msg.data.old_state.state == 'unavailable' \n    && msg.data.new_state.state == 'off') {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[["feefa701.7b3cb8"]]},{"id":"feefa701.7b3cb8","type":"api-call-service","z":"5610d4c2.c380dc","name":"Deaktiviere Beep","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"xiaomi_miio_airpurifier","service":"fan_set_buzzer_off","entityId":"fan.wohnzimmer_luftbefeuchter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":480,"wires":[[]]},{"id":"1162c065.97b37","type":"switch","z":"5610d4c2.c380dc","name":"Wasser Alarm","property":"data.new_state.attributes.no_water","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":540,"wires":[["46513fc8.58f5f"]]},{"id":"46513fc8.58f5f","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wasserhinweis","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Der Luftbefeuchter hat kein Wasser mehr!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":540,"wires":[["f1dcdd4c.33297"]]},{"id":"5411f9a5.d03268","type":"subflow:3a687dd.e066582","z":"5610d4c2.c380dc","name":"","env":[],"x":870,"y":300,"wires":[[],["61024eb9.ff506"]]},{"id":"61024eb9.ff506","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1070,"y":300,"wires":[["cde989fc.9d7cb8"]]},{"id":"9dab1ee.81212e","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":460,"wires":[["61024eb9.ff506"]]},{"id":"b6d132bc.728f","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":400,"wires":[["f1dcdd4c.33297"]]},{"id":"f1dcdd4c.33297","type":"trigger","z":"5610d4c2.c380dc","name":"Gate","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":910,"y":460,"wires":[["796a4f07.1e12d"]]},{"id":"6a218a52.1a0bc4","type":"cronplus","z":"911d85e9.68cc98","name":"Monatsanfang und Mitte","outputField":"payload","timeZone":"","options":[{"topic":"Monatsanfang","payload":"","type":"str","expression":"0 0 1 * *"},{"topic":"Monatsmitte","payload":"","type":"str","expression":"0 0 15 * *"}],"x":190,"y":1600,"wires":[["819ba79b.c25558"]]},{"id":"819ba79b.c25558","type":"subflow:b7d48dca.0f06a","z":"911d85e9.68cc98","name":"","env":[],"x":450,"y":1600,"wires":[[],["60ca141b.4cbb3c"]]},{"id":"6e3a4f0b.91f42","type":"comment","z":"911d85e9.68cc98","name":"Heizungsthermostat Training","info":"","x":160,"y":1540,"wires":[]},{"id":"60ca141b.4cbb3c","type":"api-call-service","z":"911d85e9.68cc98","name":"Set boost mode","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"boost\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1600,"wires":[[]]},{"id":"89598127.cfee1","type":"link in","z":"403df51c.83b72c","name":"Sideboard LEDs an","links":["b3993dfb.aa894"],"x":315,"y":2940,"wires":[["d5215a65.dadfa8"]]},{"id":"74ce9004.0dbfc","type":"link in","z":"403df51c.83b72c","name":"Magiccube LEDS off","links":["8b10b37f.992bb"],"x":135,"y":3100,"wires":[["125100da.7ea6df"]]},{"id":"ef3c3e16.1e4ea","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"50% oder 1 1/2h","server":"3fdc24ec.8bbe8c","outputs":2,"entityId":"sensor.mi_humidity_wohnzimmer","entityIdFilterType":"exact","property":"state","comparator":"gte","value":"50","valueType":"num","timeout":"90","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":660,"y":400,"wires":[["f1dcdd4c.33297"],["f1dcdd4c.33297"]]},{"id":"6701b4ea.91302c","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"wait for comfort","server":"3fdc24ec.8bbe8c","outputs":2,"entityId":"climate.thermostat_wohnzimmer","entityIdFilterType":"exact","property":"attributes.preset_mode","comparator":"is","value":"comfort","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1500,"y":820,"wires":[[],["456620cd.d727a"]]},{"id":"456620cd.d727a","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set comfort preset","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"comfort\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":740,"wires":[[]]},{"id":"eb5b98e3.d5d858","type":"subflow:b7d48dca.0f06a","z":"5bc884f6.c6a77c","name":"","env":[],"x":530,"y":180,"wires":[["58cb00ce.07e7f"],["4d9e80c3.431ac"]]},{"id":"58cb00ce.07e7f","type":"delay","z":"5bc884f6.c6a77c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":140,"wires":[["4d9e80c3.431ac"]]},{"id":"9a84a480.175138","type":"change","z":"911d85e9.68cc98","name":"Set backup running","rules":[{"t":"set","p":"backup_running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":920,"wires":[["f037c6f5.442648"]]},{"id":"481f500f.ea906","type":"change","z":"911d85e9.68cc98","name":"Set backup running","rules":[{"t":"set","p":"backup_running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":980,"wires":[["f030deb9.e32f1"]]},{"id":"fb447850.014c78","type":"change","z":"911d85e9.68cc98","name":"Reset backup running","rules":[{"t":"set","p":"backup_running","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":840,"wires":[[]]},{"id":"775662ad.59e3cc","type":"switch","z":"911d85e9.68cc98","name":"Check backup not running","property":"backup_running","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":980,"wires":[["481f500f.ea906"],["481f500f.ea906"]]},{"id":"84dc0e85.8c2e3","type":"switch","z":"911d85e9.68cc98","name":"Check backup not running","property":"backup_running","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":920,"wires":[["9a84a480.175138"],["9a84a480.175138"]]},{"id":"e4791028.4d857","type":"function","z":"911d85e9.68cc98","name":"debug data","func":"msg.json = JSON.stringify(msg);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":780,"wires":[[]]},{"id":"c32b81f6.a1d17","type":"change","z":"5610d4c2.c380dc","name":"medium Speed","rules":[{"t":"set","p":"speed","pt":"msg","to":"medium","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["5411f9a5.d03268"]]},{"id":"c6bc28eb.4d5888","type":"change","z":"5610d4c2.c380dc","name":"high Speed","rules":[{"t":"set","p":"speed","pt":"msg","to":"high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["5411f9a5.d03268"]]},{"id":"336e36cc.c3067a","type":"comment","z":"5610d4c2.c380dc","name":"Ventilator","info":"","x":160,"y":1300,"wires":[]},{"id":"e21353bf.badb3","type":"comment","z":"5610d4c2.c380dc","name":"Heizung","info":"","x":160,"y":760,"wires":[]},{"id":"2f5a79c3.b9df96","type":"comment","z":"5610d4c2.c380dc","name":"Luftfeuchte","info":"","x":160,"y":240,"wires":[]},{"id":"b32acf36.0c207","type":"switch","z":"5610d4c2.c380dc","name":"Temperatur","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"26.3","vt":"flow"},{"t":"lt","v":"26","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":2040,"wires":[["50fb8a9c.8984a4"],["af06ab98.672998"]]},{"id":"79ff95ed.ee65cc","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Balkontür öffnet","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.balkontur_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":1020,"wires":[["7ecd7679.b67ad8"],[]]},{"id":"22d3c311.43dcbc","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"auf schließen warten","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"binary_sensor.balkontur_contact","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1080,"y":1020,"wires":[["4b0a8b7d.38d3c4"]]},{"id":"7ecd7679.b67ad8","type":"api-current-state","z":"5610d4c2.c380dc","name":"Aktuelles Preset holen","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.thermostat_wohnzimmer","state_type":"str","state_location":"","override_payload":"none","entity_location":"preserve-state","override_data":"msg","blockInputOverrides":false,"x":420,"y":1020,"wires":[["891f62af.79ac8"]]},{"id":"a9ebe93f.92a7b8","type":"api-call-service","z":"5610d4c2.c380dc","name":"Preset wiederherstellen","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":true,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"{{ preserve-state.attributes.preset_mode }}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1020,"wires":[[]]},{"id":"891f62af.79ac8","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set manual preset","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat_wohnzimmer","data":"{\"preset_mode\":\"manual\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":1020,"wires":[["4957c35a.0ea49c"]]},{"id":"4957c35a.0ea49c","type":"api-call-service","z":"5610d4c2.c380dc","name":"Set min temp","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat_wohnzimmer","data":"{\"temperature\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":1020,"wires":[["22d3c311.43dcbc"]]},{"id":"4b0a8b7d.38d3c4","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":1020,"wires":[["a9ebe93f.92a7b8"]]},{"id":"cde989fc.9d7cb8","type":"switch","z":"5610d4c2.c380dc","name":"is not block","property":"block","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":300,"wires":[["d5fb4c41.3efd9"]]},{"id":"39a51891.89ea08","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":680,"wires":[["61024eb9.ff506"]]},{"id":"895653cd.10a08","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Balkontür öffnet","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.balkontur_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":620,"wires":[["27e1608.313c6a"],[]]},{"id":"68bab87a.6b1cb8","type":"change","z":"5610d4c2.c380dc","name":"set blocking","rules":[{"t":"set","p":"block","pt":"msg","to":"true","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":680,"wires":[["8a88f66.9455708","61024eb9.ff506"]]},{"id":"8a88f66.9455708","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"auf schließen warten","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"binary_sensor.balkontur_contact","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":860,"y":680,"wires":[["94f44d8.7664cb"]]},{"id":"94f44d8.7664cb","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["39a51891.89ea08"]]},{"id":"27e1608.313c6a","type":"api-current-state","z":"5610d4c2.c380dc","name":"Befeuchter ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.wohnzimmer_luftbefeuchter","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":620,"wires":[["f1dcdd4c.33297","c184d58d.bd2f78"],["68bab87a.6b1cb8"]]},{"id":"c184d58d.bd2f78","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"warte auf Befeuchter aus","server":"3fdc24ec.8bbe8c","outputs":2,"entityId":"fan.wohnzimmer_luftbefeuchter","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"1","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":690,"y":620,"wires":[["cdc674f2.b95b08","eeaac879.9a9a38"],[]]},{"id":"cdc674f2.b95b08","type":"delay","z":"5610d4c2.c380dc","name":"Zeit für reset","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":620,"wires":[["68bab87a.6b1cb8"]]},{"id":"eeaac879.9a9a38","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":580,"wires":[["ef3c3e16.1e4ea"]]},{"id":"56d4280.eef4bd8","type":"ha-wait-until","z":"6b8b17b0.edaa38","name":"Warte auf idle","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.chromecast_radio","entityIdFilterType":"exact","property":"state","comparator":"is","value":"idle","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":860,"y":200,"wires":[["f9692d19.751bf"]]},{"id":"2dcbadb8.496232","type":"ha-wait-until","z":"6b8b17b0.edaa38","name":"Warte auf AUX","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.p_radio","entityIdFilterType":"exact","property":"attributes.source","comparator":"is","value":"AUX in","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":420,"y":200,"wires":[["3cfa7a31.79f246"]]},{"id":"2f6c77db.d8f148","type":"link out","z":"6b8b17b0.edaa38","name":"Radio Out","links":["911a3a03.218f18"],"x":475,"y":940,"wires":[]},{"id":"f0844d68.3ee16","type":"inject","z":"6b8b17b0.edaa38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":940,"wires":[["f514c4ef.4b97d8"]]},{"id":"f514c4ef.4b97d8","type":"change","z":"6b8b17b0.edaa38","name":"Nachtmodus","rules":[{"t":"set","p":"payload","pt":"msg","to":"Initiiere Nachtmodus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":940,"wires":[["2f6c77db.d8f148"]]},{"id":"fbceabfc.c07268","type":"comment","z":"6b8b17b0.edaa38","name":"Test","info":"","x":90,"y":880,"wires":[]},{"id":"6e06b712.36e998","type":"api-call-service","z":"6b8b17b0.edaa38","name":"Notification sound","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.chromecast_radio","data":"{\"media_content_id\":\"http://{{ host }}/local/sounds/notification.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":320,"wires":[["a09445b.5ec19b8"]]},{"id":"a09445b.5ec19b8","type":"delay","z":"6b8b17b0.edaa38","name":"Delay sound","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":320,"wires":[["d708ba88.3508e8"]]},{"id":"8f749121.2e789","type":"comment","z":"6b8b17b0.edaa38","name":"Benachrichtigungen","info":"","x":130,"y":700,"wires":[]},{"id":"68a650dc.68463","type":"link in","z":"6b8b17b0.edaa38","name":"Streamer online","links":["786b9ed9.ff912"],"x":115,"y":760,"wires":[["7c47d209.def9bc"]]},{"id":"a9518faf.4ad95","type":"link out","z":"6b8b17b0.edaa38","name":"Radio Out","links":["911a3a03.218f18"],"x":415,"y":760,"wires":[]},{"id":"7c47d209.def9bc","type":"template","z":"6b8b17b0.edaa38","name":"Twitch online","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.new_state.attributes.friendly_name }} ist online auf Twitch.","output":"str","x":270,"y":760,"wires":[["a9518faf.4ad95"]]},{"id":"f9692d19.751bf","type":"credentials","z":"6b8b17b0.edaa38","name":"get HA hostname","props":[{"value":"host","type":"msg"}],"x":1090,"y":200,"wires":[["6e06b712.36e998"]]}]