node-red/flows.json
[{"id":"2b81bc64.a9d064","type":"tab","label":"Dusty","disabled":false,"info":""},{"id":"43afcb15.630984","type":"tab","label":"Multimedia","disabled":false,"info":""},{"id":"6df4407f.e6014","type":"tab","label":"Anwesenheit","disabled":false,"info":""},{"id":"5610d4c2.c380dc","type":"tab","label":"Klimatisierung","disabled":false,"info":""},{"id":"403df51c.83b72c","type":"tab","label":"Lichter","disabled":false,"info":""},{"id":"5bc884f6.c6a77c","type":"tab","label":"Sonnenstand","disabled":false,"info":""},{"id":"fc6a32d8.7658b","type":"tab","label":"Netzwerk","disabled":false,"info":""},{"id":"911d85e9.68cc98","type":"tab","label":"System","disabled":false,"info":""},{"id":"892151c0.27899","type":"subflow","name":"Gerät Abends ein","info":"","category":"","in":[],"out":[{"x":1220,"y":180,"wires":[{"id":"6b30ffa6.3dded","port":0}]},{"x":1200,"y":100,"wires":[{"id":"a1dc643c.351768","port":0}]}],"env":[{"name":"device","type":"str","value":"","ui":{"label":{"en-US":"entity_id"},"type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99","outputLabels":["on","off"],"status":{"x":1180,"y":340,"wires":[{"id":"7fb9cea8.db46a","port":0}]}},{"id":"b7d48dca.0f06a","type":"subflow","name":"Wintermodus aktiv","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b3429f6a.99c7e"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"baf3422f.8831d","port":0}]},{"x":520,"y":100,"wires":[{"id":"baf3422f.8831d","port":1}]}],"env":[],"color":"#F3B567","outputLabels":["true","false"],"icon":"font-awesome/fa-snowflake-o","status":{"x":420,"y":220,"wires":[{"id":"6f54a9c4.63d118","port":0}]}},{"id":"3a687dd.e066582","type":"subflow","name":"Urlaubsmodus aktiv","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"46ee439e.9dbf0c"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"34b7e71e.1b60e8","port":0}]},{"x":520,"y":100,"wires":[{"id":"34b7e71e.1b60e8","port":1}]}],"env":[],"color":"#F3B567","outputLabels":["true ","false"],"icon":"font-awesome/fa-plane","status":{"x":440,"y":220,"wires":[{"id":"9820d3d5.5a7c1","port":0}]}},{"id":"3fdc24ec.8bbe8c","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"51d5ae4c.0ebf6","type":"server-state-changed","z":"892151c0.27899","name":"Gerät Zustand","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"${device}","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":550,"y":100,"wires":[["2e516b6f.91a614"]]},{"id":"3908116c.6b930e","type":"api-current-state","z":"892151c0.27899","name":"Gerät ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${device}","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":180,"wires":[["2e516b6f.91a614"]]},{"id":"2e516b6f.91a614","type":"switch","z":"892151c0.27899","name":"An / Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":760,"y":180,"wires":[["6b30ffa6.3dded"],["a1dc643c.351768"],["6b30ffa6.3dded"]]},{"id":"5b1e993.c65a168","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":200,"wires":[["fc10ff1c.a51ac"]]},{"id":"6b30ffa6.3dded","type":"time-range-switch","z":"892151c0.27899","name":"Nur in der Nacht","lat":"48.3754","lon":"10.86915","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":1000,"y":180,"wires":[[],["7fb9cea8.db46a"]]},{"id":"d8a92b21.62b8b8","type":"switch","z":"892151c0.27899","name":"Goldenhour","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHour","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["3908116c.6b930e"]]},{"id":"1f9fc8dd.ba5a97","type":"server-state-changed","z":"2b81bc64.a9d064","name":"P-Dusty","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"vacuum.p_dusty","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":123,"y":190,"wires":[["5fe883b.e9f547c","15479556.455e8b"]]},{"id":"5fe883b.e9f547c","type":"switch","z":"2b81bc64.a9d064","name":"hat Fehler","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":313,"y":190,"wires":[["b24b05d6.b40eb8"]]},{"id":"b24b05d6.b40eb8","type":"api-call-service","z":"2b81bc64.a9d064","name":"schicke Hilfsnachricht","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Dusty hat ein Problem! Bitte um Hilfe.\\nhttp://dusty.fritz.box/\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":533,"y":190,"wires":[[]]},{"id":"80c828d8.c60a88","type":"switch","z":"2b81bc64.a9d064","name":"Sensor needs to be cleared","property":"data.new_state.attributes.sensor","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":573,"y":310,"wires":[["2b1a2d94.276502"]]},{"id":"2b1a2d94.276502","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Sensoren von Dusty müssen gereinigt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":873,"y":310,"wires":[[]]},{"id":"15479556.455e8b","type":"switch","z":"2b81bc64.a9d064","name":"angedockt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"docked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":323,"y":310,"wires":[["80c828d8.c60a88","7065a602.9faf98","2d1b39d2.d48886","d38247ee.f71c88"]]},{"id":"7065a602.9faf98","type":"switch","z":"2b81bc64.a9d064","name":"Filter needs to be cleared","property":"data.new_state.attributes.filter","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":563,"y":390,"wires":[["b47e2c14.9828a"]]},{"id":"b47e2c14.9828a","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Der Staubfilter von Dusty muss gereinigt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":873,"y":390,"wires":[[]]},{"id":"2d1b39d2.d48886","type":"switch","z":"2b81bc64.a9d064","name":"Side brush needs to be replaced","property":"data.new_state.attributes.sideBrush","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":583,"y":470,"wires":[["9fc2322.28f88d"]]},{"id":"9fc2322.28f88d","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Seitenbürste von Dusty muss ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":873,"y":470,"wires":[[]]},{"id":"d38247ee.f71c88","type":"switch","z":"2b81bc64.a9d064","name":"Main brush needs to be replaced","property":"data.new_state.attributes.mainBrush","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":593,"y":550,"wires":[["ff0d7d2a.63a1c"]]},{"id":"ff0d7d2a.63a1c","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Hauptbürste von Dusty muss ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":873,"y":550,"wires":[[]]},{"id":"eda852de.33c1b","type":"trigger","z":"2b81bc64.a9d064","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"für 5 Minuten","x":890,"y":762,"wires":[["da0734a6.ba9e98"]]},{"id":"91fe2cd1.c703f","type":"change","z":"2b81bc64.a9d064","name":"kommt zurück","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":802,"wires":[["eda852de.33c1b"]]},{"id":"da0734a6.ba9e98","type":"api-call-service","z":"2b81bc64.a9d064","name":"starte Dusty","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.p_dusty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":762,"wires":[[]]},{"id":"7047ec76.1704b4","type":"time-range-switch","z":"2b81bc64.a9d064","name":"vormittags","lat":"48.36567","lon":"10.87644","startTime":"07:00","endTime":"13:00","startOffset":0,"endOffset":0,"x":410,"y":702,"wires":[["22f8181b.ca2528"],[]]},{"id":"51e0a5d1.f3954c","type":"weekday","z":"2b81bc64.a9d064","name":"Samstag","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"x":220,"y":702,"wires":[["7047ec76.1704b4"],["91fe2cd1.c703f"]]},{"id":"8fec2c8b.c842e","type":"server-state-changed","z":"911d85e9.68cc98","name":"Neue HA Version bekannt","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":180,"wires":[["79829a84.218e94"],[]]},{"id":"79829a84.218e94","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Benachrichtigung","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Ein Update für Homeassistant ist verfügbar.\\nhttps://p-assist.fritz.box:8123/hassio/dashboard\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":180,"wires":[[]]},{"id":"ac1be2a6.ec3c9","type":"server-state-changed","z":"6df4407f.e6014","name":"Markus","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.markus","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":109,"y":306,"wires":[["53bdb149.b782f"]],"icon":"font-awesome/fa-user-circle-o"},{"id":"8a34a044.d98e7","type":"trigger","z":"6df4407f.e6014","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"für 5 Minuten","x":730,"y":420,"wires":[["802d721a.cbab5","3adcf2ea.c8b25e"]]},{"id":"e8433d9c.f0955","type":"change","z":"6df4407f.e6014","name":"kommt zurück","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[["8a34a044.d98e7","3adcf2ea.c8b25e"]]},{"id":"53bdb149.b782f","type":"switch","z":"6df4407f.e6014","name":"daheim / nicht daheim","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":319,"y":306,"wires":[["e8433d9c.f0955","6907630c.c4bb8c","cef0f53.1abfb08"],["8a34a044.d98e7"]]},{"id":"76805b3c.7995a4","type":"server-state-changed","z":"6df4407f.e6014","name":"Markus's Handy","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"device_tracker.p_android","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":720,"wires":[["72639f58.f9ea7"],["1365b040.79ecc"]]},{"id":"9c28c5fa.533d78","type":"api-current-state","z":"6df4407f.e6014","name":"Markus's Uhr ist daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_watch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":649,"y":666,"wires":[["230e07cb.c22298"],[]]},{"id":"1365b040.79ecc","type":"time-range-switch","z":"6df4407f.e6014","name":"abends","lat":"48.36578","lon":"10.87634","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":399,"y":666,"wires":[["9c28c5fa.533d78"],[]]},{"id":"a8f39c0b.72c22","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Heizungsthermostat Wohnzimmer Batterie","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.thermostat_living_room_low_battery","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":100,"wires":[["d8e338e9.f2af58"]]},{"id":"d362a82b.beac88","type":"api-call-service","z":"5610d4c2.c380dc","name":"sende Batterie Hinweis","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Batterien der Heizung im Wohnzimmer müssen ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":100,"wires":[[]]},{"id":"a06d1177.99fcc","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Vorhergesagte Temperatur","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"sensor.dark_sky_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":220,"wires":[["31620216.1f912e"]]},{"id":"5d4293b0.31a55c","type":"switch","z":"5610d4c2.c380dc","name":"Temperaturgrenzen","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"str"},{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":340,"wires":[["303a8a27.ed0796","ec9d7af.4088e88"],["ce7fd9da.039dd8","97c4e593.c3f498"]]},{"id":"a64c5182.7821a","type":"trigger","z":"5610d4c2.c380dc","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"für 1 Stunde","x":1070,"y":260,"wires":[["8a4ca95b.336658","460bb1f.0edf75","d614985c.83c4c8","ae343de4.8a645"]]},{"id":"ce7fd9da.039dd8","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[["a64c5182.7821a"]]},{"id":"303a8a27.ed0796","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":500,"wires":[["b186cf13.1d26b"]]},{"id":"b186cf13.1d26b","type":"trigger","z":"5610d4c2.c380dc","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"für 1 Stunde","x":1070,"y":420,"wires":[["2806b4ba.d32adc","7ec3832f.f7c0cc","122e96b1.bd05e9"]]},{"id":"8a4ca95b.336658","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Schlafzimmerlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":180,"wires":[[]]},{"id":"31620216.1f912e","type":"time-range-switch","z":"5610d4c2.c380dc","name":"unter Tags","lat":"48.36577","lon":"10.87639","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":150,"y":340,"wires":[["f0b1d44e.311118"],[]]},{"id":"460bb1f.0edf75","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Wohnzimmerlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"script","service":"towerfan_power_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":240,"wires":[[]]},{"id":"d614985c.83c4c8","type":"api-call-service","z":"5610d4c2.c380dc","name":"sende Nachricht","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Zu warm draußen, starte Lüfter Protokoll!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":300,"wires":[[]]},{"id":"2806b4ba.d32adc","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Schlafzimmerlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":420,"wires":[[]]},{"id":"7ec3832f.f7c0cc","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Wohnzimmerlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"script","service":"towerfan_power_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":480,"wires":[[]]},{"id":"ae343de4.8a645","type":"change","z":"5610d4c2.c380dc","name":"setze Ein Status","rules":[{"t":"set","p":"status","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":120,"wires":[[]]},{"id":"122e96b1.bd05e9","type":"change","z":"5610d4c2.c380dc","name":"setze Aus Status","rules":[{"t":"set","p":"status","pt":"flow","to":"of","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":540,"wires":[[]]},{"id":"97c4e593.c3f498","type":"switch","z":"5610d4c2.c380dc","name":"ist Flow Ein","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":400,"wires":[["b186cf13.1d26b"]]},{"id":"ec9d7af.4088e88","type":"switch","z":"5610d4c2.c380dc","name":"ist Flow Aus","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":280,"wires":[["a64c5182.7821a"]]},{"id":"fc10ff1c.a51ac","type":"api-current-state","z":"43afcb15.630984","name":"Ist noch aus","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.sony_bravia_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":200,"wires":[["8a404039.4d35a"],[]]},{"id":"efc18fe8.489c7","type":"api-call-service","z":"911d85e9.68cc98","name":"set Backend Theme","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"slate_red\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":340,"wires":[[]]},{"id":"2940c05b.52975","type":"server-events","z":"911d85e9.68cc98","name":"HA start","server":"3fdc24ec.8bbe8c","event_type":"start","x":110,"y":340,"wires":[["efc18fe8.489c7"]]},{"id":"1cd172ff.9239ed","type":"inject","z":"911d85e9.68cc98","name":"Node Red starts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":140,"y":400,"wires":[["efc18fe8.489c7"]]},{"id":"d99c96bf.eb3608","type":"subflow:892151c0.27899","z":"43afcb15.630984","name":"Fernseher abends ein","env":[{"name":"device","value":"media_player.sony_bravia_tv","type":"str"},{"name":"Gerät","value":"media_player.sony_bravia_tv","type":"str"}],"x":160,"y":160,"wires":[["e77f31d7.a5049"],["5b1e993.c65a168"]]},{"id":"a5b7b8b7.2d5f58","type":"subflow:892151c0.27899","z":"43afcb15.630984","name":"Radio abends ein","env":[{"name":"device","value":"media_player.p_radio","type":"str"}],"x":160,"y":900,"wires":[["4ac73046.a655e"],["43de6554.e6c95c"]]},{"id":"b3429f6a.99c7e","type":"api-current-state","z":"b7d48dca.0f06a","name":"Wintermodus","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.winter_mode","state_type":"str","state_location":"wintermode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":80,"wires":[["baf3422f.8831d","6f54a9c4.63d118"]]},{"id":"baf3422f.8831d","type":"switch","z":"b7d48dca.0f06a","name":"on / off","property":"wintermode","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[[],[]]},{"id":"6f54a9c4.63d118","type":"change","z":"b7d48dca.0f06a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wintermode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"f0b1d44e.311118","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":340,"y":340,"wires":[[],["5d4293b0.31a55c"]]},{"id":"7fb9cea8.db46a","type":"change","z":"892151c0.27899","name":"time status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sun still up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[[]]},{"id":"f8de47ec.1285b8","type":"sun events","z":"892151c0.27899","testmode":false,"verbose":false,"topic":"sun","name":"","x":180,"y":180,"wires":[["d8a92b21.62b8b8"]]},{"id":"192d225d.1ea56e","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":530,"y":140,"wires":[["329fc025.40511","4468d9fa.295958"],[]]},{"id":"329fc025.40511","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Weihnachtsbaum an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_plug_s_fan_livingroom_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":140,"wires":[[]]},{"id":"dd8e35ec.9bf648","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":240,"y":240,"wires":[["192d225d.1ea56e","cd095efe.ffebe"],[]]},{"id":"6907630c.c4bb8c","type":"link out","z":"6df4407f.e6014","name":"Markus kommt heim","links":["402f02b9.ec5e4c","30c0d7b.f534128","5471aac.d4ebc54","73e3569c.b4bac8"],"x":615,"y":140,"wires":[]},{"id":"802d721a.cbab5","type":"link out","z":"6df4407f.e6014","name":"Markus verlässt Home","links":["bc4f4ad2.f80048","1798931b.25b47d","f2451682.23baf8","db56b45.2a40d48","850e4e6f.55398","e6a952ea.6c28a","f8b75a9e.897c88"],"x":915,"y":420,"wires":[]},{"id":"3d08d5af.ea351a","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Lampen aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sideboard_leds, light.tv_lampe, light.vitrine_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":380,"wires":[[]]},{"id":"402f02b9.ec5e4c","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["6907630c.c4bb8c","244ab935.7a6676"],"x":115,"y":240,"wires":[["dd8e35ec.9bf648"]]},{"id":"bc4f4ad2.f80048","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["802d721a.cbab5","230e07cb.c22298"],"x":115,"y":380,"wires":[["3d08d5af.ea351a","5deccad5.2b6884"]]},{"id":"1798931b.25b47d","type":"link in","z":"2b81bc64.a9d064","name":"Markus geht einkaufen","links":["802d721a.cbab5"],"x":95,"y":702,"wires":[["51e0a5d1.f3954c"]]},{"id":"230e07cb.c22298","type":"link out","z":"6df4407f.e6014","name":"Markus schläft","links":["bc4f4ad2.f80048","f2451682.23baf8","db56b45.2a40d48","850e4e6f.55398","e6a952ea.6c28a","f8b75a9e.897c88"],"x":955,"y":660,"wires":[]},{"id":"88849873.09f108","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":145,"wires":[["192d225d.1ea56e","cd095efe.ffebe"],[]]},{"id":"e77f31d7.a5049","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":120,"wires":[["f132a238.74bc1"]]},{"id":"f132a238.74bc1","type":"api-current-state","z":"43afcb15.630984","name":"Ist noch an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.sony_bravia_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":120,"wires":[["8a25d222.a2902"],[]]},{"id":"15620d03.a59cb3","type":"api-current-state","z":"403df51c.83b72c","name":"Weihnachtsbaum leuchtet","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_plug_s_fan_livingroom_relay_0","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":500,"wires":[["79b9b162.6a7f"],[]]},{"id":"5deccad5.2b6884","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":310,"y":505,"wires":[["15620d03.a59cb3","11c67548.13a15b"],[]]},{"id":"79b9b162.6a7f","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Weihnachtsbaum ab","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_plug_s_fan_livingroom_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":500,"wires":[[]]},{"id":"11c67548.13a15b","type":"api-current-state","z":"403df51c.83b72c","name":"Sideboard LEDs leuchten","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sideboard_leds","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":560,"wires":[["4e7e4029.e6452"],[]]},{"id":"72639f58.f9ea7","type":"time-range-switch","z":"6df4407f.e6014","name":"morgens","lat":"48.36578","lon":"10.87634","startTime":"night","endTime":"sunrise","startOffset":0,"endOffset":0,"x":400,"y":760,"wires":[["fad929ec.657628"],[]]},{"id":"fad929ec.657628","type":"api-current-state","z":"6df4407f.e6014","name":"Markus's Uhr ist daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_watch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":740,"wires":[["244ab935.7a6676"],[]]},{"id":"244ab935.7a6676","type":"link out","z":"6df4407f.e6014","name":"Markus wacht auf","links":["402f02b9.ec5e4c","30c0d7b.f534128","73e3569c.b4bac8"],"x":955,"y":760,"wires":[]},{"id":"22f8181b.ca2528","type":"api-current-state","z":"2b81bc64.a9d064","name":"Dusty-Status","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"vacuum.p_dusty","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":682,"wires":[["21b0229e.b68abe"]]},{"id":"21b0229e.b68abe","type":"function","z":"2b81bc64.a9d064","name":"heut noch nicht gesaugt","func":"var midnight = new Date();\nmidnight.setHours(0,0,0,0);\n\nvar today_alread_run = msg.data.attributes.last_run_stats.startTime > +midnight;\n\nif (today_alread_run) {\n    return null;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":702,"wires":[["eda852de.33c1b"]]},{"id":"44c58351.bb729c","type":"server-state-changed","z":"911d85e9.68cc98","name":"Neue HACS Updates","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"sensor.hacs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"x":160,"y":260,"wires":[["d969cdc8.3e1c4"],[]]},{"id":"20f08ed.b583872","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Benachrichtigung","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Es sind {{payload}} neue Updates im HACS verfügbar.\\nhttps://p-assist.fritz.box:8123/hacs\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":260,"wires":[[]]},{"id":"d969cdc8.3e1c4","type":"delay","z":"911d85e9.68cc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":260,"wires":[["20f08ed.b583872"]]},{"id":"1ed5cea4.b87ce1","type":"switch","z":"43afcb15.630984","name":"an / aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":340,"wires":[["82887ac8.f45eb8"],["d76322e1.63f62"]]},{"id":"d76322e1.63f62","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":340,"wires":[["9b081e72.f527e"]]},{"id":"82887ac8.f45eb8","type":"change","z":"43afcb15.630984","name":"set reset ","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["d76322e1.63f62"]]},{"id":"9b081e72.f527e","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Multimedia Steckdose ab","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.multimedia_steckdose","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":340,"wires":[[]]},{"id":"f2451682.23baf8","type":"link in","z":"43afcb15.630984","name":"Kein Markus da","links":["230e07cb.c22298","802d721a.cbab5"],"x":795,"y":400,"wires":[["9b081e72.f527e"]]},{"id":"bfa7634d.99734","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Multimedia Steckdose an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.multimedia_steckdose","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":620,"wires":[[]]},{"id":"5471aac.d4ebc54","type":"link in","z":"43afcb15.630984","name":"Markus werktags abends","links":["6907630c.c4bb8c"],"x":75,"y":620,"wires":[["2540d16c.96cf3e"]]},{"id":"f91b6652.3af2e8","type":"switch","z":"43afcb15.630984","name":"is Switch Input","property":"data.event.new_state.attributes.media_content_id","propertyType":"msg","rules":[{"t":"eq","v":"HDMI 4","vt":"str"},{"t":"eq","v":"NintendoSwitch","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":460,"wires":[["45615636.c16fc8"],["45615636.c16fc8"]]},{"id":"f37e2dd.be94cd","type":"trigger-state","z":"43afcb15.630984","name":"Fernseher Zustand","server":"3fdc24ec.8bbe8c","entityid":"media_player.sony_bravia_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":340,"wires":[["1ed5cea4.b87ce1","f91b6652.3af2e8"],[]]},{"id":"ac40794d.e314f8","type":"switch","z":"403df51c.83b72c","name":"welcher Status","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"fire","vt":"str"},{"t":"eq","v":"switch","vt":"str"},{"t":"eq","v":"rainbow","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":660,"y":800,"wires":[["2d496aa1.a1aef6"],["7767b972.be9c58"],["b65e572c.8dc1f8"],["d29b56a9.00c808"]]},{"id":"7767b972.be9c58","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Fire","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Fire\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":840,"wires":[[]]},{"id":"4468d9fa.295958","type":"link out","z":"403df51c.83b72c","name":"LED Fire","links":["58015753.9b8f88"],"x":705,"y":200,"wires":[]},{"id":"58015753.9b8f88","type":"link in","z":"403df51c.83b72c","name":"LED Fire","links":["4468d9fa.295958","c82bba5d.a47188","8356a853.e18bf8"],"x":95,"y":860,"wires":[["fae5b5c6.ab9768"]]},{"id":"87f65e4e.2dcd5","type":"link in","z":"403df51c.83b72c","name":"LED Reset","links":["4e7e4029.e6452"],"x":95,"y":800,"wires":[["47ef8a2e.de56f4"]]},{"id":"2d496aa1.a1aef6","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard LED aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sideboard_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":780,"wires":[[]]},{"id":"4e7e4029.e6452","type":"link out","z":"403df51c.83b72c","name":"LEDs aus","links":["87f65e4e.2dcd5"],"x":775,"y":560,"wires":[]},{"id":"b65e572c.8dc1f8","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Switch","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Switch Announce\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":900,"wires":[["b2e5956.46c7c68"]]},{"id":"47ef8a2e.de56f4","type":"change","z":"403df51c.83b72c","name":"off","rules":[{"t":"set","p":"state","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":800,"wires":[["15262bf5.be04c4"]]},{"id":"fae5b5c6.ab9768","type":"change","z":"403df51c.83b72c","name":"fire","rules":[{"t":"set","p":"state","pt":"msg","to":"fire","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":860,"wires":[["15262bf5.be04c4"]]},{"id":"15262bf5.be04c4","type":"change","z":"403df51c.83b72c","name":"LED Zustand","rules":[{"t":"set","p":"old_state","pt":"msg","to":"led_state","tot":"flow"},{"t":"set","p":"led_state","pt":"flow","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":800,"wires":[["ac40794d.e314f8"]]},{"id":"292ef3c4.34fd1c","type":"link in","z":"403df51c.83b72c","name":"LED Switch","links":["45615636.c16fc8"],"x":95,"y":920,"wires":[["cf3c4fb5.75964"]]},{"id":"cf3c4fb5.75964","type":"change","z":"403df51c.83b72c","name":"switch","rules":[{"t":"set","p":"state","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":920,"wires":[["15262bf5.be04c4"]]},{"id":"b2e5956.46c7c68","type":"delay","z":"403df51c.83b72c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":920,"wires":[["152562bf.2659ed"]]},{"id":"152562bf.2659ed","type":"change","z":"403df51c.83b72c","name":"letzter Zustand","rules":[{"t":"set","p":"state","pt":"msg","to":"old_state","tot":"msg"},{"t":"delete","p":"old_state","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":920,"wires":[["15262bf5.be04c4"]]},{"id":"45615636.c16fc8","type":"link out","z":"43afcb15.630984","name":"Nintendo Switch Input ausgewählt","links":["292ef3c4.34fd1c"],"x":555,"y":460,"wires":[]},{"id":"10b1a8bf.52bc97","type":"change","z":"403df51c.83b72c","name":"rainbow","rules":[{"t":"set","p":"state","pt":"msg","to":"rainbow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":980,"wires":[["15262bf5.be04c4"]]},{"id":"d29b56a9.00c808","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Rainbow","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Rainbow\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":980,"wires":[[]]},{"id":"40af4037.e2be4","type":"link in","z":"403df51c.83b72c","name":"LED letzter Zustand","links":["43de6554.e6c95c"],"x":475,"y":1000,"wires":[["152562bf.2659ed"]]},{"id":"497cfded.062f34","type":"link in","z":"403df51c.83b72c","name":"LED rainbow","links":["4ac73046.a655e"],"x":95,"y":980,"wires":[["10b1a8bf.52bc97"]]},{"id":"4ac73046.a655e","type":"link out","z":"43afcb15.630984","name":"Radio ein","links":["497cfded.062f34"],"x":355,"y":880,"wires":[]},{"id":"43de6554.e6c95c","type":"link out","z":"43afcb15.630984","name":"Radio aus","links":["40af4037.e2be4"],"x":355,"y":940,"wires":[]},{"id":"bcb7188a.c16468","type":"server-state-changed","z":"2b81bc64.a9d064","name":"Valetudo nicht erreichbar","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.valetudo_aktiv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":100,"wires":[["54670173.a0952"],["54670173.a0952"]]},{"id":"19f275ff.e4998a","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Valetudo ist nicht mehr erreichbar!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":100,"wires":[[]]},{"id":"46ee439e.9dbf0c","type":"api-current-state","z":"3a687dd.e066582","name":"Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.holiday_mode","state_type":"str","state_location":"wintermode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":220,"y":80,"wires":[["34b7e71e.1b60e8","9820d3d5.5a7c1"]]},{"id":"34b7e71e.1b60e8","type":"switch","z":"3a687dd.e066582","name":"on / off","property":"wintermode","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[[],[]]},{"id":"9820d3d5.5a7c1","type":"change","z":"3a687dd.e066582","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wintermode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"d8185f2b.f69f5","type":"subflow:3a687dd.e066582","z":"2b81bc64.a9d064","name":"","x":430,"y":1060,"wires":[["5526e878.c89598"],["aafb9367.75fa2"]]},{"id":"5526e878.c89598","type":"weekday","z":"2b81bc64.a9d064","name":"nur Montag und Donnerstag","sun":false,"mon":true,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"x":840,"y":1000,"wires":[["3d3d2eb4.e27562"],[]]},{"id":"9c74e3fc.1848a","type":"inject","z":"2b81bc64.a9d064","name":"Wochentags um 10","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":200,"y":1060,"wires":[["d8185f2b.f69f5"]]},{"id":"3d3d2eb4.e27562","type":"api-call-service","z":"2b81bc64.a9d064","name":"starte Dusty","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.p_dusty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1060,"wires":[[]]},{"id":"3adcf2ea.c8b25e","type":"trigger","z":"6df4407f.e6014","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"36","extend":false,"units":"hr","reset":"","bytopic":"all","name":"nach 1 1/2 Tagen","x":830,"y":340,"wires":[["19ba25eb.7b2e5a"]]},{"id":"19ba25eb.7b2e5a","type":"api-call-service","z":"6df4407f.e6014","name":"Aktiviere Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.holiday_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":340,"wires":[[]]},{"id":"5cf4aed7.74ed","type":"api-call-service","z":"6df4407f.e6014","name":"Deaktiviere Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.holiday_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":220,"wires":[[]]},{"id":"cef0f53.1abfb08","type":"subflow:3a687dd.e066582","z":"6df4407f.e6014","name":"","x":690,"y":220,"wires":[["5cf4aed7.74ed"],[]]},{"id":"531d15c6.f666fc","type":"comment","z":"2b81bc64.a9d064","name":"Regelung Staubsaugen","info":"","x":140,"y":620,"wires":[]},{"id":"cf95c6cb.73fa78","type":"comment","z":"2b81bc64.a9d064","name":"Fehlerbehandlung","info":"","x":150,"y":40,"wires":[]},{"id":"ada3978d.96c0e8","type":"comment","z":"403df51c.83b72c","name":"Automatisierung","info":"","x":120,"y":40,"wires":[]},{"id":"d1e1a3ec.bffb3","type":"comment","z":"403df51c.83b72c","name":"Sideboard LED Statemachine","info":"","x":160,"y":740,"wires":[]},{"id":"19b3974e.993599","type":"inject","z":"403df51c.83b72c","name":"Täglich 18:30 Uhr","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"x":150,"y":1200,"wires":[["b52a2a40.ec3f38"]]},{"id":"20f49feb.8ca43","type":"comment","z":"403df51c.83b72c","name":"Anwesenheitssimulation","info":"","x":140,"y":1140,"wires":[]},{"id":"aeaffc9.5ebcc","type":"random","z":"403df51c.83b72c","name":"+ 0 - 60 Minuten","low":"0","high":"3600000","inte":"true","property":"delay","x":580,"y":1200,"wires":[["87cbe40b.347d58"]]},{"id":"258fdfa1.8a051","type":"random","z":"403df51c.83b72c","name":"15 - 90 lang","low":"900000","high":"5400000","inte":"true","property":"delay","x":1170,"y":1200,"wires":[["36065156.c5219e"]]},{"id":"36065156.c5219e","type":"delay","z":"403df51c.83b72c","name":"an lassen","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":1200,"wires":[["25c40dc4.956712"]]},{"id":"b52a2a40.ec3f38","type":"subflow:3a687dd.e066582","z":"403df51c.83b72c","name":"","x":370,"y":1200,"wires":[["aeaffc9.5ebcc","4cf8a8e3.a4d268"],[]]},{"id":"deee26f2.5cb708","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":1200,"wires":[["258fdfa1.8a051"]]},{"id":"25c40dc4.956712","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":1200,"wires":[[]]},{"id":"87cbe40b.347d58","type":"delay","z":"403df51c.83b72c","name":"Warten","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":1200,"wires":[["deee26f2.5cb708"]]},{"id":"54670173.a0952","type":"trigger","z":"2b81bc64.a9d064","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"30","extend":false,"units":"min","reset":"on","bytopic":"all","name":"für 30 Minuten","x":500,"y":100,"wires":[["19f275ff.e4998a"]]},{"id":"d8e338e9.f2af58","type":"switch","z":"5610d4c2.c380dc","name":"ist niedrig","property":"data.new_state.attributes.low_battery","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":100,"wires":[["d362a82b.beac88"]]},{"id":"c7de9e24.68568","type":"comment","z":"911d85e9.68cc98","name":"Backups","info":"","x":100,"y":560,"wires":[]},{"id":"7da43791.981eb8","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte syncthing addon","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_start","entityId":"","data":"{\"addon\":\"243ffc37_syncthing\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":680,"wires":[["7852e30.de3f91c"]]},{"id":"482d113e.0cdcd","type":"api-call-service","z":"911d85e9.68cc98","name":"Stoppe syncthing addon","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stop","entityId":"","data":"{\"addon\":\"243ffc37_syncthing\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":680,"wires":[["a7121505.7b3da8"]]},{"id":"7852e30.de3f91c","type":"delay","z":"911d85e9.68cc98","name":"warte 30 Minuten","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":680,"wires":[["482d113e.0cdcd"]]},{"id":"86749cc6.c433f","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Success","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.snapshot_successful","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":180,"y":640,"wires":[["739038a2.d7b5a8"]]},{"id":"eb131e0.ce1cbe","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Purge","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.purged_snapshots","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":170,"y":720,"wires":[["739038a2.d7b5a8"]]},{"id":"739038a2.d7b5a8","type":"trigger","z":"911d85e9.68cc98","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":470,"y":680,"wires":[["7da43791.981eb8"]]},{"id":"a7121505.7b3da8","type":"change","z":"911d85e9.68cc98","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":740,"wires":[["739038a2.d7b5a8"]]},{"id":"f037c6f5.442648","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Tägliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":true,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-daily\",\"keep_days\":7}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":820,"wires":[[]]},{"id":"343e0dd1.a2f732","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Wöchentliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-weekly\",\"keep_days\":60}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":880,"wires":[[]]},{"id":"f030deb9.e32f1","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Monatliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-monthly\",\"keep_days\":180}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":940,"wires":[[]]},{"id":"7bb012d1.4bafdc","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":820,"wires":[["f037c6f5.442648"]]},{"id":"41571d9a.8abb54","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":880,"wires":[["343e0dd1.a2f732"]]},{"id":"fe3a7ced.29a5a","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":940,"wires":[["f030deb9.e32f1"]]},{"id":"4eb7f89d.691538","type":"comment","z":"43afcb15.630984","name":"Fernseher","info":"","x":100,"y":60,"wires":[]},{"id":"2fdb4dfa.8cd212","type":"comment","z":"43afcb15.630984","name":"Radio","info":"","x":90,"y":820,"wires":[]},{"id":"d3a8e1e1.fdae7","type":"time-range-switch","z":"43afcb15.630984","name":"zwischen 17 und 20 Uhr","lat":"48.36578","lon":"10.87634","startTime":"17:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":490,"y":620,"wires":[["bfa7634d.99734"],[]]},{"id":"2540d16c.96cf3e","type":"weekday","z":"43afcb15.630984","name":"unter der Woche","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":220,"y":620,"wires":[["d3a8e1e1.fdae7"],[]]},{"id":"850e4e6f.55398","type":"link in","z":"43afcb15.630984","name":"Kein Markus da","links":["230e07cb.c22298","802d721a.cbab5"],"x":95,"y":1040,"wires":[["7201eed2.0594f"]]},{"id":"7201eed2.0594f","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Radio aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.p_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":1040,"wires":[[]]},{"id":"4cf8a8e3.a4d268","type":"random","z":"403df51c.83b72c","name":"+ 0 - 60 Minuten","low":"0","high":"3600000","inte":"true","property":"delay","x":580,"y":1280,"wires":[["1ff8c8ef.38dd37"]]},{"id":"1ff8c8ef.38dd37","type":"delay","z":"403df51c.83b72c","name":"Warten","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":1280,"wires":[["32897cc3.dfe114"]]},{"id":"32897cc3.dfe114","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1280,"wires":[["afdfb505.ac4f78"]]},{"id":"afdfb505.ac4f78","type":"random","z":"403df51c.83b72c","name":"15 - 60 lang","low":"900000","high":"3600000","inte":"true","property":"delay","x":1190,"y":1280,"wires":[["db3d028c.fbce9"]]},{"id":"db3d028c.fbce9","type":"delay","z":"403df51c.83b72c","name":"an lassen","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":1280,"wires":[["505a8c4a.1fa874"]]},{"id":"505a8c4a.1fa874","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":1280,"wires":[[]]},{"id":"467e5ef6.3aca","type":"comment","z":"403df51c.83b72c","name":"Monitor Beleuchtung","info":"","x":130,"y":1340,"wires":[]},{"id":"e583e0d1.3619d","type":"server-state-changed","z":"403df51c.83b72c","name":"Rechner kommt online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.desktop_markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":1480,"wires":[["fdf13933.571c98"],[]]},{"id":"e7752ce9.b60e3","type":"server-state-changed","z":"403df51c.83b72c","name":"Rechner geht offline","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.desktop_markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1860,"wires":[["309ebd6d.826062"],[]]},{"id":"4bfaffb4.6678","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":1540,"wires":[[]]},{"id":"603665b7.357f9c","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":420,"y":1580,"wires":[["c022c8cd.29bf68"],[]]},{"id":"fdf13933.571c98","type":"time-range-switch","z":"403df51c.83b72c","name":"in Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":560,"y":1480,"wires":[["4bfaffb4.6678"],[]]},{"id":"e5b72f0c.a714","type":"comment","z":"5bc884f6.c6a77c","name":"Sonnenstand","info":"","x":110,"y":60,"wires":[]},{"id":"1a3975c4.2ac0ba","type":"link out","z":"5bc884f6.c6a77c","name":"Sonne geht unter","links":["2abb917a.4bebee","56a60b04.0ff9d4","2e7b679a.495ea8"],"x":435,"y":120,"wires":[]},{"id":"4d9e80c3.431ac","type":"link out","z":"5bc884f6.c6a77c","name":"Sonne geht auf","links":["36efbfcc.063d","dbf977b9.2a96d8"],"x":435,"y":200,"wires":[]},{"id":"ced15f33.1e328","type":"switch","z":"5bc884f6.c6a77c","name":"Sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":200,"wires":[["4d9e80c3.431ac"]]},{"id":"68e5b1d7.eb79b","type":"switch","z":"5bc884f6.c6a77c","name":"Goldenhour","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHour","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":120,"wires":[["1a3975c4.2ac0ba"]]},{"id":"d2075ce8.95bab","type":"sun events","z":"5bc884f6.c6a77c","testmode":false,"verbose":false,"topic":"sun","name":"","x":120,"y":160,"wires":[["68e5b1d7.eb79b","ced15f33.1e328"]]},{"id":"36efbfcc.063d","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac"],"x":175,"y":1740,"wires":[["e00cf9e2.de8ed8","c7b4e159.26031"]]},{"id":"e00cf9e2.de8ed8","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":420,"y":1760,"wires":[["309ebd6d.826062"],[]]},{"id":"309ebd6d.826062","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1780,"wires":[[]]},{"id":"2abb917a.4bebee","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":175,"y":1600,"wires":[["603665b7.357f9c","ab57d6ec.7ab488"]]},{"id":"dbf977b9.2a96d8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac"],"x":115,"y":505,"wires":[["5deccad5.2b6884"]]},{"id":"56a60b04.0ff9d4","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":115,"y":145,"wires":[["88849873.09f108"]]},{"id":"f5883b20.bb0d28","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht aus","links":["8a404039.4d35a"],"x":175,"y":1540,"wires":[["603665b7.357f9c"]]},{"id":"6f970a5a.5a5244","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht an","links":["8a25d222.a2902"],"x":175,"y":1800,"wires":[["e00cf9e2.de8ed8"]]},{"id":"aafb9367.75fa2","type":"api-current-state","z":"2b81bc64.a9d064","name":"Arbeitslaptop aus (LAN)","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":690,"y":1080,"wires":[["3d2bef57.2622d"],["2e1ec4f9.744b3c"]]},{"id":"3d2bef57.2622d","type":"api-current-state","z":"2b81bc64.a9d064","name":"Arbeitslaptop aus (WLAN)","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_wifi","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":950,"y":1080,"wires":[["3d3d2eb4.e27562"],["2e1ec4f9.744b3c"]]},{"id":"2e1ec4f9.744b3c","type":"delay","z":"2b81bc64.a9d064","name":"1h später","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":1140,"wires":[["3d3d2eb4.e27562"]]},{"id":"c7b4e159.26031","type":"api-current-state","z":"403df51c.83b72c","name":"Arbeitsrechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":1700,"wires":[["309ebd6d.826062"],[]]},{"id":"ab57d6ec.7ab488","type":"api-current-state","z":"403df51c.83b72c","name":"Arbeitsrechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":1640,"wires":[["c022c8cd.29bf68"],[]]},{"id":"594b6f9f.485d1","type":"server-state-changed","z":"403df51c.83b72c","name":"Arbeitslaptop kommt online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.work_laptop_lan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":1420,"wires":[["fdf13933.571c98"],[]]},{"id":"e58d2a4b.dbcf78","type":"server-state-changed","z":"403df51c.83b72c","name":"Arbeitslaptop geht offline","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.work_laptop_lan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":1920,"wires":[["9b670b20.c6a208"],[]]},{"id":"9b670b20.c6a208","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist nicht an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":1920,"wires":[["309ebd6d.826062"],[]]},{"id":"1fcbba73.3fe186","type":"comment","z":"fc6a32d8.7658b","name":"Speedtest","info":"","x":100,"y":60,"wires":[]},{"id":"e000d18f.30e1c","type":"api-call-service","z":"fc6a32d8.7658b","name":"Mach Speedtest","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"speedtestdotnet","service":"speedtest","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":200,"wires":[["35578966.395616"]]},{"id":"715f008d.26c3","type":"trigger","z":"fc6a32d8.7658b","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":690,"y":200,"wires":[["e000d18f.30e1c"]]},{"id":"2d701a4f.ce0976","type":"change","z":"fc6a32d8.7658b","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":280,"wires":[["715f008d.26c3"]]},{"id":"35578966.395616","type":"delay","z":"fc6a32d8.7658b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":200,"wires":[["2d701a4f.ce0976"]]},{"id":"fa26d7bc.6e7a98","type":"api-current-state","z":"fc6a32d8.7658b","name":"Festrechner offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":360,"wires":[["9a363f9f.9edc6"],[]]},{"id":"98388242.63543","type":"api-current-state","z":"fc6a32d8.7658b","name":"Arbeitslaptop Lan offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":480,"wires":[["d13eabc0.0ad638"],[]]},{"id":"d13eabc0.0ad638","type":"api-current-state","z":"fc6a32d8.7658b","name":"Arbeitslaptop Wifi offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":540,"wires":[["715f008d.26c3"],[]]},{"id":"9a363f9f.9edc6","type":"api-current-state","z":"fc6a32d8.7658b","name":"Laptop offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.laptop_markus_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":420,"wires":[["98388242.63543"],[]]},{"id":"5496afe.57fc15","type":"cronplus","z":"fc6a32d8.7658b","d":true,"name":"Alle 3 Stunden","outputField":"payload","timeZone":"","options":[{"topic":"3h","payload":"","type":"str","expression":"0 */3 * * *"}],"x":160,"y":360,"wires":[["fa26d7bc.6e7a98"]]},{"id":"4f1c463e.bfb8b8","type":"cronplus","z":"fc6a32d8.7658b","name":"Alle 12 Stunden","outputField":"payload","timeZone":"","options":[{"topic":"12h","payload":"","type":"str","expression":"0 */12 * * *"}],"x":160,"y":200,"wires":[["715f008d.26c3"]]},{"id":"1c00c360.5f8edd","type":"cronplus","z":"911d85e9.68cc98","name":"Jeden zweiten Tag","outputField":"payload","timeZone":"","options":[{"topic":"two days","payload":"","type":"str","expression":"0 1 * * */2"}],"x":170,"y":820,"wires":[["7bb012d1.4bafdc"]]},{"id":"816529ca.cba828","type":"cronplus","z":"911d85e9.68cc98","name":"Montäglich","outputField":"payload","timeZone":"","options":[{"topic":"mon","payload":"","type":"str","expression":"0 1 * * Mon"}],"x":150,"y":880,"wires":[["41571d9a.8abb54"]]},{"id":"31baf216.d90e5e","type":"cronplus","z":"911d85e9.68cc98","name":"Erster jedes zweiten Monats","outputField":"payload","timeZone":"","options":[{"topic":"first","payload":"","type":"str","expression":"0 1 1 */2 *"}],"x":200,"y":940,"wires":[["fe3a7ced.29a5a"]]},{"id":"c9154122.3d708","type":"api-current-state","z":"43afcb15.630984","name":"Arbeitslaptop Lan online","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":700,"wires":[["bfa7634d.99734"],[]]},{"id":"bebff750.7be638","type":"inject","z":"43afcb15.630984","name":"Halb 11","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 11 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["c9154122.3d708"]]},{"id":"cd095efe.ffebe","type":"api-call-service","z":"403df51c.83b72c","name":"Vitrine orange an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.vitrine_leds","data":"{\"rgb_color\":[255,126,0],\"brightness_pct\":60}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":260,"wires":[[]]},{"id":"8a25d222.a2902","type":"link out","z":"43afcb15.630984","name":"Fernseher abends ein","links":["6f970a5a.5a5244","557837dd.95a6d8"],"x":755,"y":120,"wires":[]},{"id":"8a404039.4d35a","type":"link out","z":"43afcb15.630984","name":"Fernseher Abends aus","links":["f5883b20.bb0d28","87f93576.d68728"],"x":755,"y":200,"wires":[]},{"id":"557837dd.95a6d8","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht an","links":["8a25d222.a2902"],"x":115,"y":2100,"wires":[["809b4126.8618a"]]},{"id":"87f93576.d68728","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht aus","links":["8a404039.4d35a"],"x":115,"y":2260,"wires":[["9d065a2b.73ca08"]]},{"id":"fc44a351.31449","type":"comment","z":"403df51c.83b72c","name":"TV Beleuchtung","info":"","x":120,"y":2040,"wires":[]},{"id":"809b4126.8618a","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":2100,"wires":[["37e2d655.c7a48a"]]},{"id":"9d065a2b.73ca08","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":2260,"wires":[[]]},{"id":"37e2d655.c7a48a","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":620,"y":2100,"wires":[["8356a853.e18bf8"],[]]},{"id":"8356a853.e18bf8","type":"link out","z":"403df51c.83b72c","name":"TV Winter ein","links":["58015753.9b8f88"],"x":775,"y":2100,"wires":[]},{"id":"ec2d0a69.5675d8","type":"api-current-state","z":"403df51c.83b72c","name":"TV an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.p_tv","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":2160,"wires":[["809b4126.8618a"],[]]},{"id":"2e7b679a.495ea8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":115,"y":2160,"wires":[["ec2d0a69.5675d8"]]},{"id":"c022c8cd.29bf68","type":"api-current-state","z":"403df51c.83b72c","name":"TV aus","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off, unavailable","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.p_tv","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":660,"y":1580,"wires":[["4bfaffb4.6678"],[]]},{"id":"73e3569c.b4bac8","type":"link in","z":"403df51c.83b72c","name":"Markus ist da","links":["244ab935.7a6676","6907630c.c4bb8c"],"x":295,"y":1380,"wires":[["fdf13933.571c98"]]},{"id":"f8b75a9e.897c88","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":435,"y":1860,"wires":[["309ebd6d.826062"]]},{"id":"a1dc643c.351768","type":"time-range-switch","z":"892151c0.27899","name":"Nur in der Nacht","lat":"48.3754","lon":"10.86915","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":1000,"y":100,"wires":[[],[]]}]