node-red/flows.json
[{"id":"2b81bc64.a9d064","type":"tab","label":"Dusty","disabled":false,"info":""},{"id":"43afcb15.630984","type":"tab","label":"Multimedia","disabled":false,"info":""},{"id":"6df4407f.e6014","type":"tab","label":"Anwesenheit","disabled":false,"info":""},{"id":"5610d4c2.c380dc","type":"tab","label":"Klimatisierung","disabled":false,"info":""},{"id":"403df51c.83b72c","type":"tab","label":"Lichter","disabled":false,"info":""},{"id":"5bc884f6.c6a77c","type":"tab","label":"Sonnenstand","disabled":false,"info":""},{"id":"8f990e0d.2f297","type":"tab","label":"Uhrzeiten","disabled":false,"info":""},{"id":"fc6a32d8.7658b","type":"tab","label":"Netzwerk","disabled":false,"info":""},{"id":"6b8b17b0.edaa38","type":"tab","label":"TTS","disabled":false,"info":""},{"id":"911d85e9.68cc98","type":"tab","label":"System","disabled":false,"info":""},{"id":"892151c0.27899","type":"subflow","name":"Gerät Abends ein","info":"","category":"","in":[],"out":[{"x":1220,"y":180,"wires":[{"id":"6b30ffa6.3dded","port":0}]},{"x":1200,"y":100,"wires":[{"id":"a1dc643c.351768","port":0}]}],"env":[{"name":"device","type":"str","value":"","ui":{"label":{"en-US":"entity_id"},"type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99","outputLabels":["on","off"],"status":{"x":1180,"y":340,"wires":[{"id":"7fb9cea8.db46a","port":0}]}},{"id":"b7d48dca.0f06a","type":"subflow","name":"Wintermodus aktiv","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b3429f6a.99c7e"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"baf3422f.8831d","port":0}]},{"x":520,"y":100,"wires":[{"id":"baf3422f.8831d","port":1}]}],"env":[],"color":"#F3B567","outputLabels":["winter","sommer"],"icon":"font-awesome/fa-snowflake-o","status":{"x":420,"y":220,"wires":[{"id":"6f54a9c4.63d118","port":0}]}},{"id":"3a687dd.e066582","type":"subflow","name":"Urlaubsmodus aktiv","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"46ee439e.9dbf0c"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"34b7e71e.1b60e8","port":0}]},{"x":520,"y":100,"wires":[{"id":"34b7e71e.1b60e8","port":1}]}],"env":[],"color":"#F3B567","outputLabels":["true ","false"],"icon":"font-awesome/fa-plane","status":{"x":440,"y":220,"wires":[{"id":"9820d3d5.5a7c1","port":0}]}},{"id":"78e4a076.d89d","type":"subflow","name":"Sonnenaufgang","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"e7503a69.1bb328"}]}],"out":[{"x":800,"y":380,"wires":[{"id":"529dcfc9.7fff5","port":0}]}],"env":[{"name":"light_entity","type":"str","value":"","ui":{"icon":"font-awesome/fa-lightbulb-o","label":{"en-US":"Licht entity"},"type":"input","opts":{"types":["str","env"]}}}],"color":"#DDAA99","inputLabels":["Trigger"],"icon":"node-red/light.svg","status":{"x":1220,"y":200,"wires":[{"id":"87df8469.b36138","port":0},{"id":"998e94f1.9213a8","port":0},{"id":"baadee49.e040a","port":0},{"id":"87007148.bf342","port":0}]}},{"id":"3fdc24ec.8bbe8c","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":false},{"id":"5559a829.18b078","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"51d5ae4c.0ebf6","type":"server-state-changed","z":"892151c0.27899","name":"Gerät Zustand","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"${device}","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":550,"y":100,"wires":[["2e516b6f.91a614"]]},{"id":"3908116c.6b930e","type":"api-current-state","z":"892151c0.27899","name":"Gerät ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${device}","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":180,"wires":[["2e516b6f.91a614"]]},{"id":"2e516b6f.91a614","type":"switch","z":"892151c0.27899","name":"An / Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"standby","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":760,"y":180,"wires":[["6b30ffa6.3dded"],["a1dc643c.351768"],["6b30ffa6.3dded"],["6b30ffa6.3dded"]]},{"id":"5b1e993.c65a168","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":200,"wires":[["fc10ff1c.a51ac"]]},{"id":"6b30ffa6.3dded","type":"time-range-switch","z":"892151c0.27899","name":"Nur in der Nacht","lat":"48.3754","lon":"10.86915","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":1000,"y":180,"wires":[[],["7fb9cea8.db46a"]]},{"id":"d8a92b21.62b8b8","type":"switch","z":"892151c0.27899","name":"Goldenhour","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHour","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["3908116c.6b930e"]]},{"id":"1f9fc8dd.ba5a97","type":"server-state-changed","z":"2b81bc64.a9d064","name":"P-Dusty","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.p_dusty","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":220,"wires":[["5fe883b.e9f547c","15479556.455e8b"]]},{"id":"5fe883b.e9f547c","type":"switch","z":"2b81bc64.a9d064","name":"hat Fehler","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":220,"wires":[["b24b05d6.b40eb8"]]},{"id":"b24b05d6.b40eb8","type":"api-call-service","z":"2b81bc64.a9d064","name":"schicke Hilfsnachricht","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Dusty hat ein Problem! Bitte um Hilfe.\\nhttp://p-dusty.fritz.box/\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":220,"wires":[[]]},{"id":"80c828d8.c60a88","type":"switch","z":"2b81bc64.a9d064","name":"Sensor needs to be cleared","property":"data.new_state.attributes.sensor","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":340,"wires":[["2b1a2d94.276502"]]},{"id":"2b1a2d94.276502","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Sensoren von Dusty müssen gereinigt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":340,"wires":[[]]},{"id":"15479556.455e8b","type":"switch","z":"2b81bc64.a9d064","name":"angedockt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"docked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":340,"wires":[["80c828d8.c60a88","7065a602.9faf98","2d1b39d2.d48886","d38247ee.f71c88"]]},{"id":"7065a602.9faf98","type":"switch","z":"2b81bc64.a9d064","name":"Filter needs to be cleared","property":"data.new_state.attributes.filter","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":420,"wires":[["b47e2c14.9828a"]]},{"id":"b47e2c14.9828a","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Der Staubfilter von Dusty muss gereinigt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":420,"wires":[[]]},{"id":"2d1b39d2.d48886","type":"switch","z":"2b81bc64.a9d064","name":"Side brush needs to be replaced","property":"data.new_state.attributes.sideBrush","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":500,"wires":[["9fc2322.28f88d"]]},{"id":"9fc2322.28f88d","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Seitenbürste von Dusty muss ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":500,"wires":[[]]},{"id":"d38247ee.f71c88","type":"switch","z":"2b81bc64.a9d064","name":"Main brush needs to be replaced","property":"data.new_state.attributes.mainBrush","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":580,"wires":[["ff0d7d2a.63a1c"]]},{"id":"ff0d7d2a.63a1c","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Die Hauptbürste von Dusty muss ersetzt werden!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":580,"wires":[[]]},{"id":"eda852de.33c1b","type":"trigger","z":"2b81bc64.a9d064","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"für 5 Minuten","x":650,"y":860,"wires":[["8d05baa3.ce13d8"]]},{"id":"91fe2cd1.c703f","type":"change","z":"2b81bc64.a9d064","name":"kommt zurück","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":900,"wires":[["eda852de.33c1b"]]},{"id":"da0734a6.ba9e98","type":"api-call-service","z":"2b81bc64.a9d064","name":"starte Dusty","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.p_dusty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1040,"wires":[[]]},{"id":"7047ec76.1704b4","type":"time-range-switch","z":"2b81bc64.a9d064","name":"vormittags","lat":"48.36567","lon":"10.87644","startTime":"08:00","endTime":"11:30","startOffset":0,"endOffset":0,"x":230,"y":800,"wires":[["eda852de.33c1b"],[]]},{"id":"8fec2c8b.c842e","type":"server-state-changed","z":"911d85e9.68cc98","name":"Neue HA Version bekannt","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":180,"wires":[["79829a84.218e94"],[]]},{"id":"79829a84.218e94","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Benachrichtigung","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Ein Update für Homeassistant ist verfügbar.\\nhttps://p-assist.fritz.box/hassio/dashboard\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":180,"wires":[[]]},{"id":"ac1be2a6.ec3c9","type":"server-state-changed","z":"6df4407f.e6014","name":"Markus","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":320,"wires":[["53bdb149.b782f"]],"icon":"font-awesome/fa-user-circle-o"},{"id":"8a34a044.d98e7","type":"trigger","z":"6df4407f.e6014","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"für 5 Minuten","x":771,"y":434,"wires":[["802d721a.cbab5","3adcf2ea.c8b25e"]]},{"id":"e8433d9c.f0955","type":"change","z":"6df4407f.e6014","name":"kommt zurück","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":661,"y":294,"wires":[["8a34a044.d98e7","3adcf2ea.c8b25e"]]},{"id":"53bdb149.b782f","type":"switch","z":"6df4407f.e6014","name":"daheim / nicht daheim","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":320,"wires":[["e8433d9c.f0955","6907630c.c4bb8c","cef0f53.1abfb08"],["8a34a044.d98e7"]]},{"id":"76805b3c.7995a4","type":"server-state-changed","z":"6df4407f.e6014","name":"Markus's Handy","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.p_android","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":720,"wires":[["72639f58.f9ea7"],["1365b040.79ecc"]]},{"id":"9c28c5fa.533d78","type":"api-current-state","z":"6df4407f.e6014","name":"Markus's Uhr ist daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_watch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":689,"y":666,"wires":[["230e07cb.c22298"],[]]},{"id":"1365b040.79ecc","type":"time-range-switch","z":"6df4407f.e6014","name":"abends","lat":"48.36578","lon":"10.87634","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":439,"y":666,"wires":[["9c28c5fa.533d78"],[]]},{"id":"fc10ff1c.a51ac","type":"api-current-state","z":"43afcb15.630984","name":"Ist noch aus","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":200,"wires":[["8a404039.4d35a"],[]]},{"id":"efc18fe8.489c7","type":"api-call-service","z":"911d85e9.68cc98","name":"set Backend Theme","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"slate_red\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":340,"wires":[[]]},{"id":"2940c05b.52975","type":"server-events","z":"911d85e9.68cc98","name":"HA start","server":"3fdc24ec.8bbe8c","event_type":"start","x":110,"y":340,"wires":[["efc18fe8.489c7"]]},{"id":"1cd172ff.9239ed","type":"inject","z":"911d85e9.68cc98","name":"Node Red starts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":140,"y":400,"wires":[["efc18fe8.489c7"]]},{"id":"d99c96bf.eb3608","type":"subflow:892151c0.27899","z":"43afcb15.630984","name":"Fernseher abends ein","env":[{"name":"device","value":"media_player.fernseher_wohnzimmer","type":"str"},{"name":"Gerät","value":"media_player.sony_bravia_tv","type":"str"}],"x":160,"y":160,"wires":[["e77f31d7.a5049"],["5b1e993.c65a168"]]},{"id":"a5b7b8b7.2d5f58","type":"subflow:892151c0.27899","z":"43afcb15.630984","name":"Radio abends ein","env":[{"name":"device","value":"media_player.p_radio","type":"str"}],"x":140,"y":900,"wires":[["4ac73046.a655e"],["43de6554.e6c95c"]]},{"id":"b3429f6a.99c7e","type":"api-current-state","z":"b7d48dca.0f06a","name":"Wintermodus","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.winter_mode","state_type":"str","state_location":"wintermode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":80,"wires":[["baf3422f.8831d","6f54a9c4.63d118"]]},{"id":"baf3422f.8831d","type":"switch","z":"b7d48dca.0f06a","name":"on / off","property":"wintermode","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[[],[]]},{"id":"6f54a9c4.63d118","type":"change","z":"b7d48dca.0f06a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wintermode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"7fb9cea8.db46a","type":"change","z":"892151c0.27899","name":"time status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sun still up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[[]]},{"id":"f8de47ec.1285b8","type":"sun events","z":"892151c0.27899","testmode":false,"verbose":false,"topic":"sun","name":"","x":180,"y":180,"wires":[["d8a92b21.62b8b8"]]},{"id":"dd8e35ec.9bf648","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":240,"y":200,"wires":[["cd095efe.ffebe"],[]]},{"id":"6907630c.c4bb8c","type":"link out","z":"6df4407f.e6014","name":"Markus kommt heim","links":["402f02b9.ec5e4c","30c0d7b.f534128","5471aac.d4ebc54","73e3569c.b4bac8","d8254065.9e9c","e661ed94.b897d","9ba6957b.fdfe28","930b0789.dd2e28","b8e6d4a2.302e38","9d5f991d.d72d08","a710ac5b.ef872"],"x":656,"y":154,"wires":[]},{"id":"802d721a.cbab5","type":"link out","z":"6df4407f.e6014","name":"Markus verlässt Home","links":["bc4f4ad2.f80048","1798931b.25b47d","f2451682.23baf8","db56b45.2a40d48","850e4e6f.55398","e6a952ea.6c28a","f8b75a9e.897c88","d392c658.359da8","54b1fbaf.6358a4","2a196d8b.acdb62","df4c3202.dde58","d459b740.80f8d8","91de1922.f12da8"],"x":956,"y":434,"wires":[]},{"id":"3d08d5af.ea351a","type":"api-call-service","z":"403df51c.83b72c","name":"Vitrine aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.vitrine_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":280,"wires":[[]]},{"id":"402f02b9.ec5e4c","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["6907630c.c4bb8c","244ab935.7a6676"],"x":115,"y":200,"wires":[["dd8e35ec.9bf648"]]},{"id":"bc4f4ad2.f80048","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["802d721a.cbab5","230e07cb.c22298"],"x":115,"y":280,"wires":[["3d08d5af.ea351a"]]},{"id":"1798931b.25b47d","type":"link in","z":"2b81bc64.a9d064","name":"Markus verlässt Wohnung","links":["802d721a.cbab5"],"x":95,"y":800,"wires":[["7047ec76.1704b4"]]},{"id":"230e07cb.c22298","type":"link out","z":"6df4407f.e6014","name":"Markus schläft","links":["bc4f4ad2.f80048","f2451682.23baf8","db56b45.2a40d48","850e4e6f.55398","e6a952ea.6c28a","f8b75a9e.897c88","d392c658.359da8","54b1fbaf.6358a4","2a196d8b.acdb62","df4c3202.dde58","d459b740.80f8d8","91de1922.f12da8"],"x":995,"y":660,"wires":[]},{"id":"88849873.09f108","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":125,"wires":[["cd095efe.ffebe"],[]]},{"id":"e77f31d7.a5049","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":120,"wires":[["f132a238.74bc1"]]},{"id":"f132a238.74bc1","type":"api-current-state","z":"43afcb15.630984","name":"Ist noch an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":120,"wires":[["8a25d222.a2902"],[]]},{"id":"72639f58.f9ea7","type":"time-range-switch","z":"6df4407f.e6014","name":"morgens","lat":"48.36578","lon":"10.87634","startTime":"night","endTime":"sunrise","startOffset":0,"endOffset":0,"x":440,"y":760,"wires":[["fad929ec.657628"],[]]},{"id":"fad929ec.657628","type":"api-current-state","z":"6df4407f.e6014","name":"Markus's Uhr ist daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_watch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":740,"wires":[["244ab935.7a6676"],[]]},{"id":"244ab935.7a6676","type":"link out","z":"6df4407f.e6014","name":"Markus wacht auf","links":["402f02b9.ec5e4c","30c0d7b.f534128","73e3569c.b4bac8","d8254065.9e9c","e661ed94.b897d","9ba6957b.fdfe28","930b0789.dd2e28","b8e6d4a2.302e38"],"x":995,"y":760,"wires":[]},{"id":"22f8181b.ca2528","type":"api-current-state","z":"2b81bc64.a9d064","name":"Dusty-Status","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"vacuum.p_dusty","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1090,"y":1040,"wires":[["21b0229e.b68abe"]]},{"id":"21b0229e.b68abe","type":"function","z":"2b81bc64.a9d064","name":"heut noch nicht gesaugt","func":"var midnight = new Date();\nmidnight.setHours(0,0,0,0);\n\nvar today_alread_run = msg.data.attributes.last_run_stats.startTime > +midnight;\n\nif (today_alread_run) {\n    return null;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":1310,"y":1040,"wires":[["da0734a6.ba9e98"]]},{"id":"44c58351.bb729c","type":"server-state-changed","z":"911d85e9.68cc98","name":"Neue HACS Updates","server":"3fdc24ec.8bbe8c","version":1,"entityidfilter":"sensor.hacs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"x":160,"y":260,"wires":[["d969cdc8.3e1c4"],[]]},{"id":"20f08ed.b583872","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Benachrichtigung","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Es sind {{payload}} neue Updates im HACS verfügbar.\\nhttps://p-assist.fritz.box/hacs\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":260,"wires":[[]]},{"id":"d969cdc8.3e1c4","type":"delay","z":"911d85e9.68cc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":260,"wires":[["20f08ed.b583872"]]},{"id":"1ed5cea4.b87ce1","type":"switch","z":"43afcb15.630984","name":"standby / playing / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"standby","vt":"str"},{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":380,"y":340,"wires":[["d76322e1.63f62"],["82887ac8.f45eb8"],["d76322e1.63f62"]]},{"id":"d76322e1.63f62","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":340,"wires":[["439ce3c1.a9edec"]]},{"id":"82887ac8.f45eb8","type":"change","z":"43afcb15.630984","name":"set reset ","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["d76322e1.63f62"]]},{"id":"9b081e72.f527e","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Multimedia Steckdose ab","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.multimedia_steckdose_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1480,"y":340,"wires":[[]]},{"id":"f2451682.23baf8","type":"link in","z":"43afcb15.630984","name":"Kein Markus da","links":["230e07cb.c22298","802d721a.cbab5"],"x":815,"y":400,"wires":[["439ce3c1.a9edec"]]},{"id":"bfa7634d.99734","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Multimedia Steckdose an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.multimedia_steckdose_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":540,"wires":[[]]},{"id":"5471aac.d4ebc54","type":"link in","z":"43afcb15.630984","name":"Markus werktags abends","links":["6907630c.c4bb8c"],"x":75,"y":540,"wires":[["2540d16c.96cf3e"]]},{"id":"f37e2dd.be94cd","type":"trigger-state","z":"43afcb15.630984","name":"Fernseher Zustand","server":"3fdc24ec.8bbe8c","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.fernseher_wohnzimmer","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":340,"wires":[["1ed5cea4.b87ce1"],[]]},{"id":"7767b972.be9c58","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Fire","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Fire\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":580,"wires":[[]]},{"id":"58015753.9b8f88","type":"link in","z":"403df51c.83b72c","name":"LED Fire","links":["4468d9fa.295958","c82bba5d.a47188","8356a853.e18bf8"],"x":135,"y":580,"wires":[["7767b972.be9c58"]]},{"id":"2d496aa1.a1aef6","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard LED aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sideboard_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":740,"wires":[[]]},{"id":"d29b56a9.00c808","type":"api-call-service","z":"403df51c.83b72c","name":"Sideboard Rainbow","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sideboard_leds","data":"{\"effect\":\"Rainbow\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":640,"wires":[["20a6dba4.2819a4"]]},{"id":"497cfded.062f34","type":"link in","z":"403df51c.83b72c","name":"LED rainbow","links":["4ac73046.a655e"],"x":135,"y":640,"wires":[["d29b56a9.00c808"]]},{"id":"4ac73046.a655e","type":"link out","z":"43afcb15.630984","name":"Radio ein","links":["497cfded.062f34"],"x":335,"y":880,"wires":[]},{"id":"43de6554.e6c95c","type":"link out","z":"43afcb15.630984","name":"Radio aus","links":["40af4037.e2be4","b001f05b.c90e8"],"x":335,"y":940,"wires":[]},{"id":"19f275ff.e4998a","type":"api-call-service","z":"2b81bc64.a9d064","name":"send message","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Valetudo ist nicht mehr erreichbar!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":100,"wires":[[]]},{"id":"46ee439e.9dbf0c","type":"api-current-state","z":"3a687dd.e066582","name":"Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.holiday_mode","state_type":"str","state_location":"wintermode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":220,"y":80,"wires":[["34b7e71e.1b60e8","9820d3d5.5a7c1"]]},{"id":"34b7e71e.1b60e8","type":"switch","z":"3a687dd.e066582","name":"on / off","property":"wintermode","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[[],[]]},{"id":"9820d3d5.5a7c1","type":"change","z":"3a687dd.e066582","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wintermode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"3adcf2ea.c8b25e","type":"trigger","z":"6df4407f.e6014","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"36","extend":false,"units":"hr","reset":"","bytopic":"all","name":"nach 1 1/2 Tagen","x":871,"y":354,"wires":[["19ba25eb.7b2e5a"]]},{"id":"19ba25eb.7b2e5a","type":"api-call-service","z":"6df4407f.e6014","name":"Aktiviere Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.holiday_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1111,"y":354,"wires":[[]]},{"id":"5cf4aed7.74ed","type":"api-call-service","z":"6df4407f.e6014","name":"Deaktiviere Urlaubsmodus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.holiday_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1001,"y":234,"wires":[[]]},{"id":"cef0f53.1abfb08","type":"subflow:3a687dd.e066582","z":"6df4407f.e6014","name":"","x":731,"y":234,"wires":[["5cf4aed7.74ed"],[]]},{"id":"531d15c6.f666fc","type":"comment","z":"2b81bc64.a9d064","name":"Regelung Staubsaugen","info":"","x":140,"y":720,"wires":[]},{"id":"cf95c6cb.73fa78","type":"comment","z":"2b81bc64.a9d064","name":"Fehlerbehandlung","info":"","x":150,"y":40,"wires":[]},{"id":"ada3978d.96c0e8","type":"comment","z":"403df51c.83b72c","name":"Vitrine","info":"","x":130,"y":60,"wires":[]},{"id":"d1e1a3ec.bffb3","type":"comment","z":"403df51c.83b72c","name":"Sideboard","info":"","x":140,"y":400,"wires":[]},{"id":"19b3974e.993599","type":"inject","z":"403df51c.83b72c","name":"Täglich 18:30 Uhr","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"x":210,"y":920,"wires":[["b52a2a40.ec3f38"]]},{"id":"20f49feb.8ca43","type":"comment","z":"403df51c.83b72c","name":"Anwesenheitssimulation","info":"","x":180,"y":860,"wires":[]},{"id":"aeaffc9.5ebcc","type":"random","z":"403df51c.83b72c","name":"+ 0 - 60 Minuten","low":"0","high":"3600000","inte":"true","property":"delay","x":640,"y":920,"wires":[["87cbe40b.347d58"]]},{"id":"258fdfa1.8a051","type":"random","z":"403df51c.83b72c","name":"15 - 90 lang","low":"900000","high":"5400000","inte":"true","property":"delay","x":1230,"y":920,"wires":[["36065156.c5219e"]]},{"id":"36065156.c5219e","type":"delay","z":"403df51c.83b72c","name":"an lassen","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":920,"wires":[["25c40dc4.956712"]]},{"id":"b52a2a40.ec3f38","type":"subflow:3a687dd.e066582","z":"403df51c.83b72c","name":"","x":430,"y":920,"wires":[["aeaffc9.5ebcc","4cf8a8e3.a4d268"],[]]},{"id":"deee26f2.5cb708","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":920,"wires":[["258fdfa1.8a051"]]},{"id":"25c40dc4.956712","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1600,"y":920,"wires":[[]]},{"id":"87cbe40b.347d58","type":"delay","z":"403df51c.83b72c","name":"Warten","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":920,"wires":[["deee26f2.5cb708"]]},{"id":"54670173.a0952","type":"trigger","z":"2b81bc64.a9d064","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"30","extend":false,"units":"min","reset":"","bytopic":"all","name":"für 30 Minuten","x":600,"y":100,"wires":[["19f275ff.e4998a"]]},{"id":"c7de9e24.68568","type":"comment","z":"911d85e9.68cc98","name":"Backups","info":"","x":100,"y":560,"wires":[]},{"id":"7da43791.981eb8","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte syncthing addon","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_start","entityId":"","data":"{\"addon\":\"243ffc37_syncthing\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":680,"wires":[["7852e30.de3f91c"]]},{"id":"482d113e.0cdcd","type":"api-call-service","z":"911d85e9.68cc98","name":"Stoppe syncthing addon","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stop","entityId":"","data":"{\"addon\":\"243ffc37_syncthing\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":680,"wires":[["a7121505.7b3da8"]]},{"id":"7852e30.de3f91c","type":"delay","z":"911d85e9.68cc98","name":"warte 30 Minuten","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":680,"wires":[["482d113e.0cdcd"]]},{"id":"86749cc6.c433f","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Success","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.snapshot_successful","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":180,"y":640,"wires":[["739038a2.d7b5a8"]]},{"id":"eb131e0.ce1cbe","type":"server-events","z":"911d85e9.68cc98","name":"Auto Backup Purge","server":"3fdc24ec.8bbe8c","event_type":"auto_backup.purged_snapshots","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":170,"y":720,"wires":[["739038a2.d7b5a8"]]},{"id":"739038a2.d7b5a8","type":"trigger","z":"911d85e9.68cc98","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":470,"y":680,"wires":[["7da43791.981eb8"]]},{"id":"a7121505.7b3da8","type":"change","z":"911d85e9.68cc98","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":740,"wires":[["739038a2.d7b5a8"]]},{"id":"f037c6f5.442648","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Tägliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":true,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-daily\",\"keep_days\":7}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":820,"wires":[[]]},{"id":"343e0dd1.a2f732","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Wöchentliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-weekly\",\"keep_days\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":880,"wires":[[]]},{"id":"f030deb9.e32f1","type":"api-call-service","z":"911d85e9.68cc98","name":"Starte Monatliches Backup","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{date}}-monthly\",\"keep_days\":180}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":940,"wires":[[]]},{"id":"7bb012d1.4bafdc","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":820,"wires":[["f037c6f5.442648"]]},{"id":"41571d9a.8abb54","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":880,"wires":[["343e0dd1.a2f732"]]},{"id":"fe3a7ced.29a5a","type":"function","z":"911d85e9.68cc98","name":"getDate","func":"var d = new Date();\nmonth = '' + (d.getMonth() + 1);\nday = '' + d.getDate();\nyear = d.getFullYear();\n\nif (month.length < 2) \n    month = '0' + month;\nif (day.length < 2) \n    day = '0' + day;\n\nmsg.date = [year, month, day].join('-');\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":940,"wires":[["f030deb9.e32f1"]]},{"id":"4eb7f89d.691538","type":"comment","z":"43afcb15.630984","name":"Fernseher","info":"","x":100,"y":60,"wires":[]},{"id":"2fdb4dfa.8cd212","type":"comment","z":"43afcb15.630984","name":"Radio","info":"","x":90,"y":820,"wires":[]},{"id":"d3a8e1e1.fdae7","type":"time-range-switch","z":"43afcb15.630984","name":"zwischen 17 und 20 Uhr","lat":"48.36578","lon":"10.87634","startTime":"17:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":490,"y":540,"wires":[["bfa7634d.99734"],[]]},{"id":"2540d16c.96cf3e","type":"weekday","z":"43afcb15.630984","name":"unter der Woche","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":220,"y":540,"wires":[["d3a8e1e1.fdae7"],[]]},{"id":"850e4e6f.55398","type":"link in","z":"43afcb15.630984","name":"Kein Markus da","links":["230e07cb.c22298","802d721a.cbab5"],"x":635,"y":900,"wires":[["7201eed2.0594f","f9877bf3.fd2e48"]]},{"id":"7201eed2.0594f","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Radio aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.p_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":860,"wires":[[]]},{"id":"4cf8a8e3.a4d268","type":"random","z":"403df51c.83b72c","name":"+ 0 - 60 Minuten","low":"0","high":"3600000","inte":"true","property":"delay","x":640,"y":1000,"wires":[["1ff8c8ef.38dd37"]]},{"id":"1ff8c8ef.38dd37","type":"delay","z":"403df51c.83b72c","name":"Warten","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":1000,"wires":[["32897cc3.dfe114"]]},{"id":"32897cc3.dfe114","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1000,"wires":[["afdfb505.ac4f78"]]},{"id":"afdfb505.ac4f78","type":"random","z":"403df51c.83b72c","name":"15 - 60 lang","low":"900000","high":"3600000","inte":"true","property":"delay","x":1250,"y":1000,"wires":[["db3d028c.fbce9"]]},{"id":"db3d028c.fbce9","type":"delay","z":"403df51c.83b72c","name":"an lassen","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":1000,"wires":[["505a8c4a.1fa874"]]},{"id":"505a8c4a.1fa874","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_plug_s_monitor_light_relay_0","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1000,"wires":[[]]},{"id":"467e5ef6.3aca","type":"comment","z":"403df51c.83b72c","name":"Monitor Beleuchtung","info":"","x":170,"y":1100,"wires":[]},{"id":"e583e0d1.3619d","type":"server-state-changed","z":"403df51c.83b72c","name":"Rechner kommt online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.desktop_markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":1240,"wires":[["fdf13933.571c98"],[]]},{"id":"e7752ce9.b60e3","type":"server-state-changed","z":"403df51c.83b72c","name":"Rechner geht offline","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.desktop_markus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":1620,"wires":[["309ebd6d.826062"],[]]},{"id":"4bfaffb4.6678","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.monitor_licht","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":1300,"wires":[[]]},{"id":"603665b7.357f9c","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":1340,"wires":[["c022c8cd.29bf68"],[]]},{"id":"fdf13933.571c98","type":"time-range-switch","z":"403df51c.83b72c","name":"in Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":600,"y":1240,"wires":[["4bfaffb4.6678"],[]]},{"id":"e5b72f0c.a714","type":"comment","z":"5bc884f6.c6a77c","name":"Sonnenstand","info":"","x":110,"y":60,"wires":[]},{"id":"1a3975c4.2ac0ba","type":"link out","z":"5bc884f6.c6a77c","name":"Sonne geht unter","links":["2abb917a.4bebee","56a60b04.0ff9d4","2e7b679a.495ea8","60359484.ea3dcc","d8391468.9e0cd8","33c07e7c.54e3f2"],"x":435,"y":120,"wires":[]},{"id":"4d9e80c3.431ac","type":"link out","z":"5bc884f6.c6a77c","name":"Sonne geht auf","links":["36efbfcc.063d","dbf977b9.2a96d8","9ee35896.7c77e8","96e3046c.7e2638","a479b782.4b7828","aac0f312.909c5","9726fc21.cebb9"],"x":435,"y":180,"wires":[]},{"id":"68e5b1d7.eb79b","type":"switch","z":"5bc884f6.c6a77c","name":"Events","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHour","vt":"str"},{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"dusk","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":160,"wires":[["1a3975c4.2ac0ba"],["4d9e80c3.431ac"],["83505751.82b8a8"]],"outputLabels":["goldenHour","sunrise","night"]},{"id":"d2075ce8.95bab","type":"sun events","z":"5bc884f6.c6a77c","testmode":false,"verbose":false,"topic":"sun","name":"","x":120,"y":160,"wires":[["68e5b1d7.eb79b"]]},{"id":"36efbfcc.063d","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":215,"y":1500,"wires":[["e00cf9e2.de8ed8","c7b4e159.26031"]]},{"id":"e00cf9e2.de8ed8","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":1520,"wires":[["309ebd6d.826062"],[]]},{"id":"309ebd6d.826062","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Monitor Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.monitor_licht","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1540,"wires":[[]]},{"id":"2abb917a.4bebee","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":215,"y":1360,"wires":[["603665b7.357f9c","ab57d6ec.7ab488"]]},{"id":"56a60b04.0ff9d4","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":115,"y":125,"wires":[["88849873.09f108"]]},{"id":"c7b4e159.26031","type":"api-current-state","z":"403df51c.83b72c","name":"Arbeitsrechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":480,"y":1460,"wires":[["309ebd6d.826062"],[]]},{"id":"ab57d6ec.7ab488","type":"api-current-state","z":"403df51c.83b72c","name":"Arbeitsrechner ist an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":480,"y":1400,"wires":[["c022c8cd.29bf68"],[]]},{"id":"594b6f9f.485d1","type":"server-state-changed","z":"403df51c.83b72c","name":"Arbeitslaptop kommt online","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.work_laptop_lan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":1180,"wires":[["fdf13933.571c98"],[]]},{"id":"e58d2a4b.dbcf78","type":"server-state-changed","z":"403df51c.83b72c","name":"Arbeitslaptop geht offline","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.work_laptop_lan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":1680,"wires":[["9b670b20.c6a208"],[]]},{"id":"9b670b20.c6a208","type":"api-current-state","z":"403df51c.83b72c","name":"Rechner ist nicht an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":500,"y":1680,"wires":[["309ebd6d.826062"],[]]},{"id":"1fcbba73.3fe186","type":"comment","z":"fc6a32d8.7658b","name":"Speedtest","info":"","x":100,"y":60,"wires":[]},{"id":"e000d18f.30e1c","type":"api-call-service","z":"fc6a32d8.7658b","name":"Mach Speedtest","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"speedtestdotnet","service":"speedtest","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":200,"wires":[["35578966.395616"]]},{"id":"715f008d.26c3","type":"trigger","z":"fc6a32d8.7658b","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":690,"y":200,"wires":[["e000d18f.30e1c"]]},{"id":"2d701a4f.ce0976","type":"change","z":"fc6a32d8.7658b","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":280,"wires":[["715f008d.26c3"]]},{"id":"35578966.395616","type":"delay","z":"fc6a32d8.7658b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":200,"wires":[["2d701a4f.ce0976"]]},{"id":"fa26d7bc.6e7a98","type":"api-current-state","z":"fc6a32d8.7658b","name":"Festrechner offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.desktop_markus","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":360,"wires":[["9a363f9f.9edc6"],[]]},{"id":"98388242.63543","type":"api-current-state","z":"fc6a32d8.7658b","name":"Arbeitslaptop Lan offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":480,"wires":[["d13eabc0.0ad638"],[]]},{"id":"d13eabc0.0ad638","type":"api-current-state","z":"fc6a32d8.7658b","name":"Arbeitslaptop Wifi offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":540,"wires":[["715f008d.26c3"],[]]},{"id":"9a363f9f.9edc6","type":"api-current-state","z":"fc6a32d8.7658b","name":"Laptop offline","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.laptop_markus_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":420,"wires":[["98388242.63543"],[]]},{"id":"5496afe.57fc15","type":"cronplus","z":"fc6a32d8.7658b","d":true,"name":"Alle 3 Stunden","outputField":"payload","timeZone":"","options":[{"topic":"3h","payload":"","type":"str","expression":"0 */3 * * *"}],"x":160,"y":360,"wires":[["fa26d7bc.6e7a98"]]},{"id":"4f1c463e.bfb8b8","type":"cronplus","z":"fc6a32d8.7658b","name":"Alle 12 Stunden","outputField":"payload","timeZone":"","options":[{"topic":"12h","payload":"","type":"str","expression":"0 */12 * * *"}],"x":160,"y":200,"wires":[["715f008d.26c3"]]},{"id":"1c00c360.5f8edd","type":"cronplus","z":"911d85e9.68cc98","name":"Jeden zweiten Tag","outputField":"payload","timeZone":"","options":[{"topic":"two days","payload":"","type":"str","expression":"0 1 * * */2"}],"x":170,"y":820,"wires":[["7bb012d1.4bafdc"]]},{"id":"816529ca.cba828","type":"cronplus","z":"911d85e9.68cc98","name":"Montäglich","outputField":"payload","timeZone":"","options":[{"topic":"mon","payload":"","type":"str","expression":"0 1 * * Mon"}],"x":150,"y":880,"wires":[["41571d9a.8abb54"]]},{"id":"31baf216.d90e5e","type":"cronplus","z":"911d85e9.68cc98","name":"Erster jedes zweiten Monats","outputField":"payload","timeZone":"","options":[{"topic":"first","payload":"","type":"str","expression":"0 1 1 */2 *"}],"x":200,"y":940,"wires":[["fe3a7ced.29a5a"]]},{"id":"c9154122.3d708","type":"api-current-state","z":"43afcb15.630984","name":"Arbeitslaptop Lan online","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":620,"wires":[["bfa7634d.99734"],[]]},{"id":"bebff750.7be638","type":"inject","z":"43afcb15.630984","name":"Halb 11","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 11 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["c9154122.3d708"]]},{"id":"cd095efe.ffebe","type":"api-call-service","z":"403df51c.83b72c","name":"Vitrine orange an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.vitrine_leds","data":"{\"rgb_color\":[255,126,0],\"brightness_pct\":60}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":140,"wires":[[]]},{"id":"8a25d222.a2902","type":"link out","z":"43afcb15.630984","name":"Fernseher abends ein","links":["6f970a5a.5a5244","557837dd.95a6d8"],"x":755,"y":120,"wires":[]},{"id":"8a404039.4d35a","type":"link out","z":"43afcb15.630984","name":"Fernseher Abends aus","links":["f5883b20.bb0d28","87f93576.d68728","f91a547b.139e58"],"x":755,"y":200,"wires":[]},{"id":"557837dd.95a6d8","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht an","links":["8a25d222.a2902"],"x":155,"y":1860,"wires":[["809b4126.8618a"]]},{"id":"87f93576.d68728","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht aus","links":["8a404039.4d35a"],"x":155,"y":2020,"wires":[["4a17e6d1.367798"]]},{"id":"fc44a351.31449","type":"comment","z":"403df51c.83b72c","name":"TV Beleuchtung","info":"","x":160,"y":1800,"wires":[]},{"id":"809b4126.8618a","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1860,"wires":[["37e2d655.c7a48a"]]},{"id":"9d065a2b.73ca08","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte TV-Lampe aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":2020,"wires":[[]]},{"id":"37e2d655.c7a48a","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":650,"y":1860,"wires":[["8356a853.e18bf8"],[]]},{"id":"8356a853.e18bf8","type":"link out","z":"403df51c.83b72c","name":"TV Winter ein","links":["58015753.9b8f88"],"x":815,"y":1860,"wires":[]},{"id":"ec2d0a69.5675d8","type":"api-current-state","z":"403df51c.83b72c","name":"TV an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":250,"y":1920,"wires":[["809b4126.8618a"],[]]},{"id":"2e7b679a.495ea8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":155,"y":1920,"wires":[["ec2d0a69.5675d8"]]},{"id":"c022c8cd.29bf68","type":"api-current-state","z":"403df51c.83b72c","name":"TV aus","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off, unavailable","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.fernseher_wohnzimmer","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":700,"y":1340,"wires":[["4bfaffb4.6678"],[]]},{"id":"f8b75a9e.897c88","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":475,"y":1620,"wires":[["309ebd6d.826062"]]},{"id":"a1dc643c.351768","type":"time-range-switch","z":"892151c0.27899","name":"Nur in der Nacht","lat":"48.3754","lon":"10.86915","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":1000,"y":100,"wires":[[],[]]},{"id":"439ce3c1.a9edec","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Fernseher aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.fernseher_wohnzimmer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":340,"wires":[["3118800e.3b474"]]},{"id":"3118800e.3b474","type":"delay","z":"43afcb15.630984","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":340,"wires":[["9b081e72.f527e"]]},{"id":"7ee81577.6cb52c","type":"comment","z":"403df51c.83b72c","name":"Bett Beleuchtung","info":"","x":160,"y":2100,"wires":[]},{"id":"e7503a69.1bb328","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 1","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,126,0],\"brightness_pct\":15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":140,"wires":[["22493410.0e3f3c","87df8469.b36138"]]},{"id":"e27f660.3db4298","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 3","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,218,108],\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":300,"wires":[["9b334ffd.e07fa","baadee49.e040a"]]},{"id":"6f50f6b6.d08448","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 4","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,236,182],\"brightness_pct\":60}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":380,"wires":[["529dcfc9.7fff5","87007148.bf342"]]},{"id":"9b334ffd.e07fa","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":300,"wires":[["6f50f6b6.d08448"]]},{"id":"22493410.0e3f3c","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":140,"wires":[["4a4b241a.4d0bdc"]]},{"id":"4a4b241a.4d0bdc","type":"api-call-service","z":"78e4a076.d89d","name":"Stage 2","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"${light_entity}","data":"{\"transition\":5,\"rgb_color\":[255,190,0],\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":220,"wires":[["1e42ab2e.08aaf5","998e94f1.9213a8"]]},{"id":"1e42ab2e.08aaf5","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":220,"wires":[["e27f660.3db4298"]]},{"id":"bbda5fd5.6492","type":"subflow:78e4a076.d89d","z":"403df51c.83b72c","name":"Sonnenaufgang Bett","env":[{"name":"light_entity","value":"light.bettbeleuchtung_leds","type":"str"}],"x":480,"y":2360,"wires":[["466f2fcd.58e0a"]]},{"id":"529dcfc9.7fff5","type":"delay","z":"78e4a076.d89d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":380,"wires":[[]]},{"id":"87df8469.b36138","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":120,"wires":[[]]},{"id":"998e94f1.9213a8","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[[]]},{"id":"baadee49.e040a","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[[]]},{"id":"87007148.bf342","type":"change","z":"78e4a076.d89d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stage 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":300,"wires":[[]]},{"id":"f91a547b.139e58","type":"link in","z":"403df51c.83b72c","name":"Fernseher geht aus","links":["8a404039.4d35a"],"x":135,"y":2220,"wires":[["bcce6700.59bf88"]]},{"id":"e1900fb1.0b90d","type":"api-call-service","z":"403df51c.83b72c","name":"Bett Nachtlicht an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bettbeleuchtung_leds","data":"{\"rgb_color\":[255, 162, 71],\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":2220,"wires":[[]]},{"id":"bcce6700.59bf88","type":"time-range-switch","z":"403df51c.83b72c","name":"abends","lat":"48.36578","lon":"10.87634","startTime":"dusk","endTime":"04:00","startOffset":0,"endOffset":"0","x":260,"y":2220,"wires":[["e1900fb1.0b90d"],[]]},{"id":"349e4ae8.52fb86","type":"api-call-service","z":"403df51c.83b72c","name":"Bett Licht aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bettbeleuchtung_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":2520,"wires":[[]]},{"id":"54b1fbaf.6358a4","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["230e07cb.c22298","802d721a.cbab5"],"x":135,"y":2520,"wires":[["349e4ae8.52fb86"]]},{"id":"9ee35896.7c77e8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":135,"y":2460,"wires":[["349e4ae8.52fb86"]]},{"id":"d8254065.9e9c","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["6907630c.c4bb8c","244ab935.7a6676"],"x":135,"y":2280,"wires":[["bcce6700.59bf88"]]},{"id":"96e3046c.7e2638","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":135,"y":780,"wires":[["2d496aa1.a1aef6"]]},{"id":"2a196d8b.acdb62","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["802d721a.cbab5","230e07cb.c22298"],"x":135,"y":740,"wires":[["2d496aa1.a1aef6"]]},{"id":"fd6e9b61.4cd898","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Weihnachtsbaum ab","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wohnzimmer_lufter_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":2820,"wires":[[]]},{"id":"deb3d70f.720058","type":"comment","z":"403df51c.83b72c","name":"Steckdose Weihnachtsbaum","info":"","x":200,"y":2600,"wires":[]},{"id":"aac0f312.909c5","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac","c935c143.41122"],"x":135,"y":2840,"wires":[["125100da.7ea6df"]]},{"id":"d459b740.80f8d8","type":"link in","z":"403df51c.83b72c","name":"Markus geht weg","links":["802d721a.cbab5","230e07cb.c22298"],"x":135,"y":2800,"wires":[["125100da.7ea6df"]]},{"id":"125100da.7ea6df","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":290,"y":2820,"wires":[["fd6e9b61.4cd898"],[]]},{"id":"fe534070.b8d69","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":2665,"wires":[["d5215a65.dadfa8"],[]]},{"id":"d8391468.9e0cd8","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":135,"y":2665,"wires":[["fe534070.b8d69"]]},{"id":"9ba6957b.fdfe28","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["6907630c.c4bb8c","244ab935.7a6676"],"x":135,"y":2720,"wires":[["7c5fbc80.03d944"]]},{"id":"7c5fbc80.03d944","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":260,"y":2720,"wires":[["d5215a65.dadfa8"],[]]},{"id":"d5215a65.dadfa8","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":510,"y":2680,"wires":[["40b361d4.5af32"],[]]},{"id":"40b361d4.5af32","type":"api-call-service","z":"403df51c.83b72c","name":"Schalte Weihnachtsbaum an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wohnzimmer_lufter_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":2680,"wires":[[]]},{"id":"930b0789.dd2e28","type":"link in","z":"403df51c.83b72c","name":"Markus kommt heim","links":["6907630c.c4bb8c","244ab935.7a6676"],"x":135,"y":520,"wires":[["2fa6396d.95e556"]]},{"id":"33c07e7c.54e3f2","type":"link in","z":"403df51c.83b72c","name":"Sonne geht unter","links":["1a3975c4.2ac0ba"],"x":135,"y":465,"wires":[["aa04ce15.f5ca4"]]},{"id":"aa04ce15.f5ca4","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":465,"wires":[["9dae3830.7b6ce8"],[]]},{"id":"2fa6396d.95e556","type":"time-range-switch","z":"403df51c.83b72c","name":"In Goldenhour","lat":"48.36578","lon":"10.87634","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":"0","x":260,"y":520,"wires":[["9dae3830.7b6ce8"],[]]},{"id":"9dae3830.7b6ce8","type":"subflow:b7d48dca.0f06a","z":"403df51c.83b72c","name":"","env":[],"x":490,"y":480,"wires":[["7767b972.be9c58"],[]]},{"id":"83505751.82b8a8","type":"link out","z":"5bc884f6.c6a77c","name":"Nacht startet","links":["188ce4bc.c1652b"],"x":435,"y":240,"wires":[]},{"id":"188ce4bc.c1652b","type":"link in","z":"403df51c.83b72c","name":"Nacht startet","links":["83505751.82b8a8"],"x":135,"y":2160,"wires":[["2217fde6.b4d452"]]},{"id":"2217fde6.b4d452","type":"api-current-state","z":"403df51c.83b72c","name":"Markus wach","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.p_android","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":2160,"wires":[["e1900fb1.0b90d"],[]]},{"id":"85c2572.56691a8","type":"comment","z":"6df4407f.e6014","name":"Anwesenheit","info":"","x":130,"y":40,"wires":[]},{"id":"92204e2e.6d621","type":"comment","z":"8f990e0d.2f297","name":"Wecker","info":"","x":90,"y":60,"wires":[]},{"id":"abc45c35.3feac","type":"ha-webhook","z":"8f990e0d.2f297","name":"App Webhook","server":"3fdc24ec.8bbe8c","outputs":1,"webhookId":"AZ8PAPej1Ml8fWJmRE417igvddEtSgjo","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":150,"y":140,"wires":[["fea2dc55.3d397"]]},{"id":"7159a01.adcd16","type":"link in","z":"403df51c.83b72c","name":"Kurz vor Wecker","links":["fd5cdd4e.6d8f9"],"x":135,"y":2360,"wires":[["bbda5fd5.6492"]]},{"id":"ca356eaa.d47d1","type":"function-npm","z":"8f990e0d.2f297","name":"Arrangiere Zeit und Datum","func":"var dateFormat = require('dateformat');\n\nconst lengthSunriseAnimation = 4;\nlet alarmtime = new Date(msg.payload);\n\nalarmtime.setMinutes(alarmtime.getMinutes() - lengthSunriseAnimation)\n\nmsg.payload = {}\nmsg.payload.ontime = dateFormat(alarmtime, \"HH:MM:ss\");\nmsg.payload.onpayload = dateFormat(alarmtime, \"yyyy-mm-dd\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["eb27004.53dff"]]},{"id":"eb27004.53dff","type":"schedex","z":"8f990e0d.2f297","name":"Lichttimer","passthroughunhandled":false,"suspended":false,"lat":"48.36322","lon":"10.86712","ontime":"00:00","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":620,"y":240,"wires":[["fc7a3902.8c5cc8"]]},{"id":"fc7a3902.8c5cc8","type":"function-npm","z":"8f990e0d.2f297","name":"Checke Tag","func":"var dateFormat = require('dateformat');\n\nconst currentDate = new Date()\n\nif (msg.payload !== \"\" && dateFormat(currentDate, \"yyyy-mm-dd\") === msg.payload) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["b1f1cd75.15c03"]]},{"id":"fd5cdd4e.6d8f9","type":"link out","z":"8f990e0d.2f297","name":"Sonnenaufgang","links":["7159a01.adcd16"],"x":1155,"y":240,"wires":[]},{"id":"b1f1cd75.15c03","type":"api-current-state","z":"8f990e0d.2f297","name":"Markus daheim","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.markus","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":240,"wires":[["fd5cdd4e.6d8f9"],[]]},{"id":"955f6241.0fdd2","type":"inject","z":"403df51c.83b72c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2400,"wires":[["bbda5fd5.6492"]]},{"id":"89629bb3.7ad198","type":"comment","z":"5610d4c2.c380dc","name":"Wohnzimmer","info":"","x":110,"y":180,"wires":[]},{"id":"2aee45f8.8b488a","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Wohnzimmer Temp","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.wohnzimmer_temperatur","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":240,"wires":[["430c6d4.f773794"]]},{"id":"46d29655.0eb1d8","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":370,"y":300,"wires":[[],["75456783.613478"]]},{"id":"f510a94b.d41588","type":"time-range-switch","z":"5610d4c2.c380dc","name":"unter Tags","lat":"48.36577","lon":"10.87639","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":810,"y":240,"wires":[["81d5eeee.b1731"],[]]},{"id":"ab8e912.585dc7","type":"comment","z":"5610d4c2.c380dc","name":"Temperaturen","info":"","x":110,"y":40,"wires":[]},{"id":"a4e37c0.7231188","type":"change","z":"5610d4c2.c380dc","name":"Temperaturen / Luftfeuchte Limits","rules":[{"t":"set","p":"temp_high_treshold","pt":"flow","to":"27","tot":"num"},{"t":"set","p":"temp_low_treshold","pt":"flow","to":"25","tot":"num"},{"t":"set","p":"hum_low_treshold","pt":"flow","to":"30","tot":"num"},{"t":"set","p":"hum_high_treshold","pt":"flow","to":"45","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":100,"wires":[[]]},{"id":"75456783.613478","type":"switch","z":"5610d4c2.c380dc","name":"Temperaturgrenzen","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"temp_high_treshold","vt":"flow"},{"t":"lt","v":"temp_low_treshold","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":300,"wires":[["f510a94b.d41588"],["5a69bbd0.94df84"]]},{"id":"430c6d4.f773794","type":"smooth","z":"5610d4c2.c380dc","name":"Mean von 10","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":370,"y":240,"wires":[["46d29655.0eb1d8"]]},{"id":"55997e2.474d68","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Wohnzimmerlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":240,"wires":[["2aaa40ef.e2c9"]]},{"id":"81d5eeee.b1731","type":"trigger","z":"5610d4c2.c380dc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":1010,"y":240,"wires":[["55997e2.474d68"]]},{"id":"88ef6476.078aa8","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Wohnzimmerlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":340,"wires":[["284b52cc.98d8ae"]]},{"id":"284b52cc.98d8ae","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":340,"wires":[["81d5eeee.b1731"]]},{"id":"b8375cda.a8a4b","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Wohnzimmer Hum","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.wohnzimmer_luftfeuchte","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":400,"wires":[["bc32cc42.9e24a"]]},{"id":"bc32cc42.9e24a","type":"smooth","z":"5610d4c2.c380dc","name":"Mean von 10","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":370,"y":400,"wires":[["d25a1e25.4b28a"]]},{"id":"ff2523f6.423d6","type":"time-range-switch","z":"5610d4c2.c380dc","name":"unter Tags","lat":"48.36577","lon":"10.87639","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":830,"y":400,"wires":[[],[]]},{"id":"d25a1e25.4b28a","type":"switch","z":"5610d4c2.c380dc","name":"Grenzentest","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"hum_low_treshold","vt":"flow"},{"t":"gte","v":"hum_high_treshold","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":400,"wires":[["ff2523f6.423d6"],[]]},{"id":"674824ed.4605ec","type":"comment","z":"5610d4c2.c380dc","name":"Schlafzimmer","info":"","x":110,"y":940,"wires":[]},{"id":"91de1922.f12da8","type":"link in","z":"5610d4c2.c380dc","name":"Markus abwesend","links":["230e07cb.c22298","802d721a.cbab5"],"x":1035,"y":740,"wires":[["9075358.493e2c8"]]},{"id":"b8e6d4a2.302e38","type":"link in","z":"5610d4c2.c380dc","name":"Markus anwesend","links":["244ab935.7a6676","6907630c.c4bb8c"],"x":1035,"y":520,"wires":[["a1fd905d.fb827"]]},{"id":"291dcbf6.8b58e4","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze Standby Temperatur","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.living_room","data":"{\"temperature\":18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":660,"wires":[[]]},{"id":"72d4eb4e.0ed464","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze normale Temperatur","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.living_room","data":"{\"temperature\":21}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":600,"wires":[[]]},{"id":"f9100789.1b1e78","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Wintermodus geändert","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.winter_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":580,"wires":[["fb45475b.e309f8"]]},{"id":"fb45475b.e309f8","type":"switch","z":"5610d4c2.c380dc","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":580,"wires":[["e91fa6f7.8cb0b8"],["25590d79.e4cd42"]]},{"id":"25590d79.e4cd42","type":"api-call-service","z":"5610d4c2.c380dc","name":"Schalte Thermostat aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":620,"wires":[[]]},{"id":"e91fa6f7.8cb0b8","type":"api-call-service","z":"5610d4c2.c380dc","name":"Schalte Thermostat an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":540,"wires":[["b84234f8.49a558"]]},{"id":"b84234f8.49a558","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze Manual mode","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"climate","service":"set_hvac_mode","entityId":"climate.living_room","data":"{\"hvac_mode\":\"heat\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":540,"wires":[["72d4eb4e.0ed464"]]},{"id":"a1fd905d.fb827","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":1210,"y":520,"wires":[["72d4eb4e.0ed464"],[]]},{"id":"9075358.493e2c8","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":1190,"y":740,"wires":[["291dcbf6.8b58e4"],[]]},{"id":"df2f95f5.f68218","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Schlafzimmer Temp","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_sleeping_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1020,"wires":[["e9c07984.88c788"]]},{"id":"e9c07984.88c788","type":"subflow:b7d48dca.0f06a","z":"5610d4c2.c380dc","name":"","env":[],"x":350,"y":1080,"wires":[[],["1cda3f4c.a64771"]]},{"id":"50fb8a9c.8984a4","type":"time-range-switch","z":"5610d4c2.c380dc","name":"unter Tags","lat":"48.36577","lon":"10.87639","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":790,"y":1020,"wires":[["1e7b9e61.1d08f2"],[]]},{"id":"1cda3f4c.a64771","type":"switch","z":"5610d4c2.c380dc","name":"Temperaturgrenzen","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"temp_high_treshold","vt":"flow"},{"t":"lt","v":"temp_high_treshold","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":1080,"wires":[["50fb8a9c.8984a4"],["af06ab98.672998"]]},{"id":"3f0acdce.ca4c72","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Schlafzimmerlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1120,"wires":[["def21aa6.81abc8"]]},{"id":"eedc9e2a.15598","type":"api-call-service","z":"5610d4c2.c380dc","name":"schalte Schlafzimmerlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1020,"wires":[["22c4b928.50e3d6"]]},{"id":"e7a2c031.95212","type":"comment","z":"5610d4c2.c380dc","name":"Bad","info":"","x":90,"y":1500,"wires":[]},{"id":"4e711ae7.42b5c4","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Bad Hum","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_bath_hum","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":1560,"wires":[["d7ccdc78.c5241"]]},{"id":"d7ccdc78.c5241","type":"switch","z":"5610d4c2.c380dc","name":"über 60%","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":320,"y":1560,"wires":[["a8806e05.1e665"]]},{"id":"f299fd2c.65c67","type":"api-call-service","z":"5610d4c2.c380dc","name":"Badlüfter ein","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.bad_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1560,"wires":[["636ced4.92c0314"]]},{"id":"a8806e05.1e665","type":"trigger","z":"5610d4c2.c380dc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":510,"y":1560,"wires":[["f299fd2c.65c67"]]},{"id":"f1979008.25097","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1620,"wires":[["a8806e05.1e665"]]},{"id":"9c462d8b.07b83","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":1560,"wires":[["489ce1bf.1662c"]]},{"id":"636ced4.92c0314","type":"ha-wait-until","z":"5610d4c2.c380dc","name":"Warte bis unter 60%","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"sensor.mitemp_bath_hum","entityIdFilterType":"exact","property":"state","comparator":"lte","value":"60","valueType":"num","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":880,"y":1540,"wires":[["9c462d8b.07b83"]]},{"id":"489ce1bf.1662c","type":"api-call-service","z":"5610d4c2.c380dc","name":"Badlüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.bad_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":1560,"wires":[["f1979008.25097"]]},{"id":"8d16d980.0bb8b8","type":"server-state-changed","z":"911d85e9.68cc98","name":"Heizungsthermostat Wohnzimmer Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.thermostat_living_room_low_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":260,"y":1140,"wires":[["7d7384db.f4d1dc"],[]]},{"id":"7d7384db.f4d1dc","type":"api-call-service","z":"911d85e9.68cc98","name":"sende Batterie Hinweis","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram_notify","entityId":"","data":"{\"message\":\"Batterien müssen bei '${msg.topic}' ersetzt werden\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":1220,"wires":[[]]},{"id":"1710b1f0.67539e","type":"comment","z":"911d85e9.68cc98","name":"HA Internal","info":"","x":110,"y":80,"wires":[]},{"id":"540e4830.b0f598","type":"comment","z":"911d85e9.68cc98","name":"Batterien","info":"","x":100,"y":1080,"wires":[]},{"id":"399f8c0e.cfd8c4","type":"server-state-changed","z":"911d85e9.68cc98","name":"Thermostat Balkon Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_balcony_batt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":220,"y":1200,"wires":[["7d7384db.f4d1dc"],[]]},{"id":"be76705a.c8e99","type":"server-state-changed","z":"911d85e9.68cc98","name":"Thermostat Bad Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_bath_batt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":210,"y":1260,"wires":[["7d7384db.f4d1dc"],[]]},{"id":"ac91e758.677f88","type":"server-state-changed","z":"911d85e9.68cc98","name":"Thermostat Schlafzimmer Batterie niedrig","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mitemp_sleeping_batt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":240,"y":1320,"wires":[["7d7384db.f4d1dc"],[]]},{"id":"9c74e3fc.1848a","type":"inject","z":"2b81bc64.a9d064","name":"Wochentags um 10","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":200,"y":1060,"wires":[["d8185f2b.f69f5"]]},{"id":"d8185f2b.f69f5","type":"subflow:3a687dd.e066582","z":"2b81bc64.a9d064","name":"","x":430,"y":1060,"wires":[["5526e878.c89598"],["aafb9367.75fa2"]]},{"id":"5526e878.c89598","type":"weekday","z":"2b81bc64.a9d064","name":"nur Montag und Donnerstag","sun":false,"mon":true,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"x":700,"y":980,"wires":[["8d05baa3.ce13d8"],[]]},{"id":"aafb9367.75fa2","type":"api-current-state","z":"2b81bc64.a9d064","name":"Arbeitslaptop aus (LAN)","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_lan","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":670,"y":1100,"wires":[["3d2bef57.2622d"],["2e1ec4f9.744b3c"]]},{"id":"3d2bef57.2622d","type":"api-current-state","z":"2b81bc64.a9d064","name":"Arbeitslaptop aus (WLAN)","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.work_laptop_wifi","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":670,"y":1160,"wires":[["8d05baa3.ce13d8"],["2e1ec4f9.744b3c"]]},{"id":"2e1ec4f9.744b3c","type":"delay","z":"2b81bc64.a9d064","name":"1h später","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1140,"wires":[["8d05baa3.ce13d8"]]},{"id":"9d5f991d.d72d08","type":"link in","z":"2b81bc64.a9d064","name":"Markus betritt Wohnung","links":["6907630c.c4bb8c"],"x":95,"y":900,"wires":[["91fe2cd1.c703f"]]},{"id":"4a17e6d1.367798","type":"delay","z":"403df51c.83b72c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":2020,"wires":[["9d065a2b.73ca08"]]},{"id":"cb3a6921.b9d7c8","type":"inject","z":"5610d4c2.c380dc","name":"Node Red starts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":170,"y":100,"wires":[["a4e37c0.7231188"]]},{"id":"5a69bbd0.94df84","type":"trigger","z":"5610d4c2.c380dc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":1010,"y":340,"wires":[["88ef6476.078aa8"]]},{"id":"2aaa40ef.e2c9","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":240,"wires":[["5a69bbd0.94df84"]]},{"id":"1e7b9e61.1d08f2","type":"trigger","z":"5610d4c2.c380dc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":970,"y":1020,"wires":[["eedc9e2a.15598"]]},{"id":"af06ab98.672998","type":"trigger","z":"5610d4c2.c380dc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":970,"y":1120,"wires":[["3f0acdce.ca4c72"]]},{"id":"22c4b928.50e3d6","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1020,"wires":[["af06ab98.672998"]]},{"id":"def21aa6.81abc8","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1120,"wires":[["1e7b9e61.1d08f2"]]},{"id":"8d05baa3.ce13d8","type":"api-current-state","z":"2b81bc64.a9d064","name":"nur an Arbeitstagen und Samstag","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.workdays_and_saturday","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1140,"y":960,"wires":[["22f8181b.ca2528"],[]]},{"id":"95719616.a2af28","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Radio an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.p_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":1080,"wires":[["50ccdeee.1a476"]]},{"id":"740a84b4.72ef5c","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Radio aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.p_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":1380,"wires":[["5955b5c4.63f35c"]]},{"id":"df9c1dd6.9bad4","type":"server-state-changed","z":"43afcb15.630984","name":"Radio Chromecast spielt","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.chromecast_radio","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":1080,"wires":[["e8ce8f92.6b5ff"],[]]},{"id":"e8ce8f92.6b5ff","type":"trigger","z":"43afcb15.630984","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":470,"y":1080,"wires":[["2c1f12b9.2057ee"]]},{"id":"5955b5c4.63f35c","type":"change","z":"43afcb15.630984","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1480,"wires":[["e8ce8f92.6b5ff"]]},{"id":"50ccdeee.1a476","type":"api-current-state","z":"43afcb15.630984","name":"Hole aktuellen Radio Zustand","server":"3fdc24ec.8bbe8c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.p_radio","state_type":"str","state_location":"","override_payload":"none","entity_location":"previous_data","override_data":"msg","blockInputOverrides":false,"x":680,"y":1180,"wires":[["cbe5c784.166a88"]]},{"id":"cafbd0f.39a953","type":"ha-wait-until","z":"43afcb15.630984","name":"Warte bis Chromecast off","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.chromecast_radio","entityIdFilterType":"exact","property":"state","comparator":"includes","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":670,"y":1300,"wires":[["7c080d9.46978f4"]]},{"id":"e27b74cf.999c68","type":"api-call-service","z":"43afcb15.630984","name":"Schalte auf Aux","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.p_radio","data":"{\"source\":\"AUX in\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1180,"wires":[["5887d9ca.d9f588"]]},{"id":"46c4714a.33cbe","type":"api-call-service","z":"43afcb15.630984","name":"Schalte auf vorherigen Eingang","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.p_radio","data":"{\"source\":\"{{previous_data.attributes.source}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":1380,"wires":[["c881ae27.b9c72"]]},{"id":"5887d9ca.d9f588","type":"api-call-service","z":"43afcb15.630984","name":"Setze Lautstärke","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.p_radio","data":"{\"volume_level\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":1160,"wires":[["8ff363b6.c9dc6"]]},{"id":"7c080d9.46978f4","type":"api-call-service","z":"43afcb15.630984","name":"Setze Lautstärke zurück","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.p_radio","data":"{    \"volume_level\": {{previous_data.attributes.volume_level}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1380,"wires":[["46c4714a.33cbe"]]},{"id":"cbe5c784.166a88","type":"function","z":"43afcb15.630984","name":"Internet Radio Bugfix","func":"if (msg.previous_data.attributes.source === \"None\") {\n    msg.previous_data.attributes.source = \"Internet Radio\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1180,"wires":[["e27b74cf.999c68"]]},{"id":"6cd2b825.8befb8","type":"change","z":"43afcb15.630984","name":"Setze previously_on","rules":[{"t":"set","p":"previously_on","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1020,"wires":[["50ccdeee.1a476"]]},{"id":"2c1f12b9.2057ee","type":"api-current-state","z":"43afcb15.630984","name":"Radio an","server":"3fdc24ec.8bbe8c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.p_radio","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":640,"y":1080,"wires":[["6cd2b825.8befb8"],["95719616.a2af28"]]},{"id":"c881ae27.b9c72","type":"switch","z":"43afcb15.630984","name":"Wenn previously_on","property":"previously_on","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1220,"y":1380,"wires":[["5955b5c4.63f35c"],["740a84b4.72ef5c"]]},{"id":"f6f2e76c.051108","type":"link in","z":"43afcb15.630984","name":"Radio Notification Trigger","links":["7952f073.8fe71"],"x":135,"y":1200,"wires":[["86eae764.187a98"]]},{"id":"86eae764.187a98","type":"change","z":"43afcb15.630984","name":"Set Notification Flag","rules":[{"t":"set","p":"notification_trigger","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1200,"wires":[["e8ce8f92.6b5ff"]]},{"id":"db4bf112.0ba78","type":"link in","z":"43afcb15.630984","name":"Radio Notification End","links":["7f9dafaf.13127"],"x":195,"y":1300,"wires":[["19e229d5.ee25e6"]]},{"id":"8ff363b6.c9dc6","type":"switch","z":"43afcb15.630984","name":"ist keine Notification","property":"notification_trigger","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":1260,"wires":[["cafbd0f.39a953"],["9d4f01af.9dfc7"]]},{"id":"d708ba88.3508e8","type":"api-call-service","z":"6b8b17b0.edaa38","name":"TTS","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.chromecast_radio","data":"{\"message\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":740,"wires":[["cb9d9fff.cfdab"]]},{"id":"7952f073.8fe71","type":"link out","z":"6b8b17b0.edaa38","name":"Starte Radio","links":["f6f2e76c.051108"],"x":215,"y":780,"wires":[]},{"id":"7f9dafaf.13127","type":"link out","z":"6b8b17b0.edaa38","name":"Beende Radio","links":["db4bf112.0ba78"],"x":795,"y":740,"wires":[]},{"id":"9d4f01af.9dfc7","type":"change","z":"43afcb15.630984","name":"Save previous_data","rules":[{"t":"move","p":"previous_data","pt":"msg","to":"previous_data","tot":"flow"},{"t":"move","p":"previously_on","pt":"msg","to":"previously_on","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1260,"wires":[[]]},{"id":"19e229d5.ee25e6","type":"change","z":"43afcb15.630984","name":"Restore previous_data","rules":[{"t":"move","p":"previous_data","pt":"flow","to":"previous_data","tot":"msg"},{"t":"move","p":"previously_on","pt":"flow","to":"previously_on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1300,"wires":[["cafbd0f.39a953"]]},{"id":"24b70328.f03cec","type":"delay","z":"6b8b17b0.edaa38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":740,"wires":[["d708ba88.3508e8"]]},{"id":"cb9d9fff.cfdab","type":"delay","z":"6b8b17b0.edaa38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":740,"wires":[["7f9dafaf.13127"]]},{"id":"b7a1f896.89ec68","type":"comment","z":"6b8b17b0.edaa38","name":"Benachrichtigung über Radio","info":"","x":170,"y":660,"wires":[]},{"id":"911a3a03.218f18","type":"link in","z":"6b8b17b0.edaa38","name":"Radio Benachrichtigung","links":["58e75df4.13d284"],"x":95,"y":740,"wires":[["7952f073.8fe71","24b70328.f03cec"]]},{"id":"a710ac5b.ef872","type":"link in","z":"6b8b17b0.edaa38","name":"Markus kommt heim","links":["6907630c.c4bb8c"],"x":95,"y":120,"wires":[[]]},{"id":"1c658.b7aff9a85","type":"comment","z":"6b8b17b0.edaa38","name":"Begrüßungen","info":"","x":120,"y":60,"wires":[]},{"id":"bb674006.b4ce2","type":"change","z":"6b8b17b0.edaa38","name":"Begrüßungstext","rules":[{"t":"set","p":"payload","pt":"msg","to":"Willkommen zurück, Markus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":120,"wires":[["58e75df4.13d284"]]},{"id":"58e75df4.13d284","type":"link out","z":"6b8b17b0.edaa38","name":"Radio Out","links":["911a3a03.218f18"],"x":435,"y":120,"wires":[]},{"id":"20d6c854.b131a8","type":"inject","z":"6b8b17b0.edaa38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["bb674006.b4ce2"]]},{"id":"f9877bf3.fd2e48","type":"api-call-service","z":"43afcb15.630984","name":"Schalte Chromecast aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.chromecast_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":920,"wires":[[]]},{"id":"b77e67ea.f66ab8","type":"server-state-changed","z":"2b81bc64.a9d064","name":"Dusty nicht verfügbar","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.p_dusty","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":100,"wires":[["54670173.a0952"],["ce806723.96ae98"]]},{"id":"ce806723.96ae98","type":"change","z":"2b81bc64.a9d064","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["54670173.a0952"]]},{"id":"20a6dba4.2819a4","type":"ha-wait-until","z":"403df51c.83b72c","name":"Radio aus","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"media_player.p_radio","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":660,"y":640,"wires":[["2d496aa1.a1aef6"]]},{"id":"9726fc21.cebb9","type":"link in","z":"403df51c.83b72c","name":"Sonne geht auf","links":["4d9e80c3.431ac"],"x":115,"y":320,"wires":[["3d08d5af.ea351a"]]},{"id":"40e61325.ddaa9c","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Fan Timer triggered","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.fan_wohnzimmer_60min","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":800,"wires":[["6e540b15.5052f4"],[]]},{"id":"6e540b15.5052f4","type":"trigger","z":"5610d4c2.c380dc","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":350,"y":800,"wires":[["e9703c5b.ced6d"]]},{"id":"126b541.77efbac","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":860,"wires":[["6e540b15.5052f4"]]},{"id":"e9703c5b.ced6d","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wohnzimmer Lüfter an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":800,"wires":[["d3d74ee0.d1cac"]]},{"id":"12d78f67.558a11","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze Trigger zurück","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.fan_wohnzimmer_60min","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":860,"wires":[["126b541.77efbac"]]},{"id":"53bf7240.ce6cfc","type":"api-call-service","z":"5610d4c2.c380dc","name":"Wohnzimmer Lüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.wohnzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":860,"wires":[["12d78f67.558a11"]]},{"id":"d3d74ee0.d1cac","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":800,"wires":[["53bf7240.ce6cfc"]]},{"id":"f3374ad5.3c9568","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Fan Timer triggered","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.fan_schlafzimmer_30min","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1220,"wires":[["3dd5d1fc.72885e"],[]]},{"id":"3dd5d1fc.72885e","type":"trigger","z":"5610d4c2.c380dc","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Gate","x":330,"y":1220,"wires":[["c9624979.a71098"]]},{"id":"480f9b0e.92bf14","type":"change","z":"5610d4c2.c380dc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1280,"wires":[["3dd5d1fc.72885e"]]},{"id":"c9624979.a71098","type":"api-call-service","z":"5610d4c2.c380dc","name":"SchlafzimmerLüfter an","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1220,"wires":[["8461b7d.349b748"]]},{"id":"7f3a79fd.309b98","type":"api-call-service","z":"5610d4c2.c380dc","name":"Setze Trigger zurück","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.fan_schlafzimmer_30min","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1280,"wires":[["480f9b0e.92bf14"]]},{"id":"8461b7d.349b748","type":"delay","z":"5610d4c2.c380dc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":1220,"wires":[["286b0ebf.0643f2"]]},{"id":"286b0ebf.0643f2","type":"api-call-service","z":"5610d4c2.c380dc","name":"Schlafzimmer Lüfter aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":1280,"wires":[["7f3a79fd.309b98"]]},{"id":"3b3e237.ac266dc","type":"delay","z":"403df51c.83b72c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":2420,"wires":[["99e90b4b.1b71b8"]]},{"id":"99e90b4b.1b71b8","type":"api-call-service","z":"403df51c.83b72c","name":"Bett Licht aus","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bettbeleuchtung_leds","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":2420,"wires":[[]]},{"id":"851646de.d82688","type":"server-state-changed","z":"8f990e0d.2f297","name":"Alarm ändert sich","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.next_alarm_markus","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["ca356eaa.d47d1"]]},{"id":"fea2dc55.3d397","type":"api-call-service","z":"8f990e0d.2f297","name":"Set alarm time","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.next_alarm_markus","data":"{\"datetime\":\"{{payload.datetime}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":140,"wires":[[]]},{"id":"466f2fcd.58e0a","type":"ha-wait-until","z":"403df51c.83b72c","name":"warte bis Markus wach","server":"3fdc24ec.8bbe8c","outputs":1,"entityId":"device_tracker.p_android","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2360,"wires":[["ddbfd6b7.de0c28"]]},{"id":"ddbfd6b7.de0c28","type":"api-call-service","z":"403df51c.83b72c","name":"Helligkeit hochstellen","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bettbeleuchtung_leds","data":"{\"brightness_pct\":80}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":2420,"wires":[["3b3e237.ac266dc"]]},{"id":"6eced7a3.a19d68","type":"server-state-changed","z":"403df51c.83b72c","name":"Linke Betttaste gedrückt","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bett_taste_links","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":1700,"wires":[["373f711a.1dce8e"],[]]},{"id":"373f711a.1dce8e","type":"api-call-service","z":"403df51c.83b72c","name":"Toggle Monitor Licht","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.monitor_licht","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1700,"wires":[[]]},{"id":"ffc616a3.a0fe08","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Mitte Betttaste gedrückt","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bett_taste_mitte","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1400,"wires":[["abcd1609.d0cf98"],[]]},{"id":"abcd1609.d0cf98","type":"api-call-service","z":"5610d4c2.c380dc","name":"Toggle SchlafzimmerLüfter","server":"3fdc24ec.8bbe8c","version":1,"debugenabled":false,"service_domain":"fan","service":"toggle","entityId":"fan.schlafzimmer_lufter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1400,"wires":[[]]},{"id":"8e2002f5.28e81","type":"server-state-changed","z":"5610d4c2.c380dc","name":"Mitte Betttaste doppelklick","server":"3fdc24ec.8bbe8c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bett_taste_mitte_doppelklick","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":1160,"wires":[["3dd5d1fc.72885e"],[]]}]
